openapi: 3.0.1
info:
  title: Services.AutoTrading Account Values Events API
  description: 'The AutoTrading service group provides endpoints for interacting with Saxo Bank''s SaxoSelect offering.Through these interfaces a client application can get Saxo Select trade leaders, portfolios and investments. Portfolio investments can be created and modifed.<div class=well style=''border: 1px solid rgb(204, 82, 0); border-image: none; background-color: rgb(255, 209, 179);padding:1px;''><strong> Note:</strong> </br>This service is subject to special licensing agreements and not generally available to all OpenAPI applications.</div>'
  version: 2.4.138+710c760591
  x-framework-version: 38.0.2+439c5b0ec3
  x-machine: SIMOAWEB11-DK2
servers:
- url: https://gateway.saxobank.com/sim/openapi
tags:
- name: Events
  description: Find Corporate action voluntary events.
paths:
  /ca/v2/events/{EventId}:
    get:
      tags:
      - Events
      summary: Get corporate action event
      description: Get specified event, if event is not cancelled, where client holds position on corresponding instrument.
      operationId: EventsGetEventAsync
      parameters:
      - name: ClientKey
        in: query
        description: Client identifier
        schema:
          minLength: 1
          type: string
          x-type-name: ClientKey
        example: 5DG7K1P5cqYBZ77tl7Af4w==
      - name: EventId
        in: path
        description: Corporate action identifier
        required: true
        schema:
          type: string
        example: '875684'
      - name: IncludeSubAccounts
        in: query
        description: Indicate whether to include events from sub-clients.
        schema:
          type: boolean
        example: false
      responses:
        '200':
          description: Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
              example:
                AssetType: Stock
                BidIntervalRate:
                  Currency: EUR
                  Value: 1
                ClaimPeriod:
                  End:
                    Status: Ongoing
                  Start:
                    Status: Ongoing
                CorporateActionType: Voluntary
                DisplayAndFormat:
                  Description: Chargeurs SA
                  IsinCode: FR0000130692
                  Symbol: CRI:xpar
                Effective:
                  Date: '2021-02-12'
                Electable: Electable
                ElectionStatus: PartialElected
                EventId: '9652429'
                EventIndicators:
                - Indicator: AdditionalBusinessProcess
                  Values:
                  - Code: NPLE
                    Description: The issuer only allows a single option to be selected per designated holding.
                    Name: No Split Election
                - Indicator: Change
                  Values:
                  - Code: BERE
                    Description: Change from bearer into registered form.
                    Name: Bearer to Registered
                - Indicator: Consent
                  Values:
                  - Code: CTRM
                    Description: This is a change in the terms and conditions of the bond.
                    Name: Change in Terms
                - Indicator: Dividend
                  Values:
                  - Code: FINL
                    Description: Payment of a dividend, less the amounts already paid through interim dividends.
                    Name: Final
                EventState: Preliminary
                EventStatus: Past
                EventType:
                  Code: DVCA
                  Description: Distribution of cash to shareholders, in proportion to their equity holding. Ordinary dividends are recurring and regular. Shareholder must take cash and may be offered a choice of currency.
                  Name: Cash Dividend
                Ex:
                  Date: '2021-02-12'
                Holdings:
                - AccountId: 123INET
                  Amount: 100
                  CashReserved:
                    Currency: USD
                    Value: 2583.62
                  ClientId: '906869'
                  ClientName: John
                  ElectedAmount: 20
                  EventId: '9652429'
                  Options:
                  - ElectedAmount: 20
                    ElectionType: Manual
                    Instruction:
                      Status: Accepted
                    OptionId: '1'
                    Remarks: Remarks by client...
                  OwnerId: '532'
                InformationToComply: RestrictionsMayApply
                InterestPeriod:
                  End:
                    Status: Ongoing
                  Start:
                    Status: Ongoing
                MaxPrice:
                  Currency: EUR
                  Type: Actual
                  Value: 60
                MaxQuantitySought: 1000
                MinPrice:
                  Currency: EUR
                  Type: Actual
                  Value: 5
                MinQuantitySought: 4
                Narrative: '<b>ADTX</b><p>Rights issue trading period of rights: ______________   terms: you may apply for _____ new share for every ______ rights held at _________ per share.<br/>Client must ensure that they instruct in the multiple/s advised in the notification.<br/>Failure to comply will result in the rejection of instruction/s and client/s will not be notified of the rejection.<br/>Option 1: exercise (receive shares) option 2: oversubscribe (please state the number of additional shares you wish to oversubscribe for).<br/>Option 3: lapse (default) should the client wish to oversubscribe, kindly ensure to exercise full quantity of rights.<br/>Oversubscription may be subject to scaleback based at the account level.<br/>For clients who elect to exercise and oversubscribe, please ensure your account is funded on the same day of instructions submission; failure to do so will result in your instruction being rejected.<br/>Total subscription cost/s including oversubscription will be debited on the next business day after the instruction deadline date.<br/>A potential future resultant entitlement will be booked to a dummy security and may be subject to a proration factor being applied where oversubscription has been elected.<br/>Note that any reduction or change in this position may be a result of this factor.<br/>The final resultant entitlement will be booked on the market identifier upon receipt from agent.<br/>In the case where scaleback of subscription/oversubscription occurs, cost will be refunded without interest as soon as practical upon receipt from the agent.<br/>We will attempt to sell any tradeable rights position left uninstructed or instructed to lapse on the last rights trading date if the value of the client position is worth more than eur 30 or equivalent to the currency of the security.<br/>For non tradeable rights, rights not exercised will be lapsed worthless.<br/>We hereby informs the client that, according to the laws of the country of its incorporation or the laws of the country of residence of its customers and the laws applicable to an issuer of securities which are subject to corporate actions, the client, will decide to participate or not to such corporate actions upon its sole and exclusive discretion and judgment.<br/>The client will bear any detrimental consequence arising out of or connected to such instruction.<br/>For the avoidance of doubt, any information in relation to the corporate actions sent to the client may have been obtained from sources which are not under the bank''s control and accordingly, the bank shall not be held responsible for the truth and the accuracy of this information.<br/>Please refer to the prospectus of the event for any further details.<br/><br/></p><b>ADTX</b><p>Rights issue trading period of rights: ______________   terms: you may apply for _____ new share for every ______ rights held at _________ per share.<br/>Client must ensure that they instruct in the multiple/s advised in the notification.<br/>Failure to comply will result in the rejection of instruction/s and client/s will not be notified of the rejection.<br/>Option 1: exercise (receive shares) option 2: oversubscribe (please state the number of additional shares you wish to oversubscribe for).<br/>Option 3: lapse (default) should the client wish to oversubscribe, kindly ensure to exercise full quantity of rights.<br/>Oversubscription may be subject to scaleback based at the account level.<br/>For clients who elect to exercise and oversubscribe, please ensure your account is funded on the same day of instructions submission; failure to do so will result in your instruction being rejected.<br/>Total subscription cost/s including oversubscription will be debited on the next business day after the instruction deadline date.<br/>A potential future resultant entitlement will be booked to a dummy security and may be subject to a proration factor being applied where oversubscription has been elected.<br/>Note that any reduction or change in this position may be a result of this factor.<br/>The final resultant entitlement will be booked on the market identifier upon receipt from agent.<br/>In the case where scaleback of subscription/oversubscription occurs, cost will be refunded without interest as soon as practical upon receipt from the agent.<br/>We will attempt to sell any tradeable rights position left uninstructed or instructed to lapse on the last rights trading date if the value of the client position is worth more than eur 30 or equivalent to the currency of the security.<br/>For non tradeable rights, rights not exercised will be lapsed worthless.<br/>We hereby informs the client that, according to the laws of the country of its incorporation or the laws of the country of residence of its customers and the laws applicable to an issuer of securities which are subject to corporate actions, the client, will decide to participate or not to such corporate actions upon its sole and exclusive discretion and judgment.<br/>The client will bear any detrimental consequence arising out of or connected to such instruction.<br/>For the avoidance of doubt, any information in relation to the corporate actions sent to the client may have been obtained from sources which are not under the bank''s control and accordingly, the bank shall not be held responsible for the truth and the accuracy of this information.<br/>Please refer to the prospectus of the event for any further details.<br/><br/></p>'
                NewBoardLotQuantity: 20
                NewDenominationQuantity: 100
                NumberofDaysAccrued: 23
                Options:
                - BidIntervalRate:
                    Currency: EUR
                    Value: 1
                  CashMovements:
                  - CashMovementType: Credit
                    Currency: USD
                    PriceType: Actual
                    SubscriptionPrice: 11.9623
                  CashRequired: false
                  Deadline:
                    Date: '2021-02-23T08:30:00Z'
                  IsDefault: false
                  IsGross: false
                  IsTaxable: true
                  MaxPrice:
                    Currency: EUR
                    Type: Actual
                    Value: 60
                  MinPrice:
                    Currency: EUR
                    Type: Actual
                    Value: 5
                  OptionId: '1'
                  OptionIndicators:
                  - Indicator: BidRange
                    Values:
                    - Code: DIVI
                      Description: All values (including minimum and maximum prices) are divisible by the bid interval.
                      Name: Divisible
                  OptionType:
                    Code: CASH
                    Name: Cash
                  Payment:
                    Date: '2021-02-12'
                  PayoutBreakdown:
                  - Amount: 5.9623
                    Component:
                      Code: INTRT
                      Description: Interest
                      Name: Interest
                    Currency: USD
                  - Amount: 6
                    Component:
                      Code: LTCG
                      Description: Long term capital gain
                      Name: Long term capital gain
                    Currency: USD
                - CashRequired: false
                  Deadline:
                    Date: '2021-02-23T08:30:00Z'
                  IsDefault: true
                  IsGross: false
                  IsTaxable: true
                  NetRate: 0.08
                  OptionId: '2'
                  OptionIndicators:
                  - Indicator: CertificationBreakdown
                    Values:
                    - Code: DOMI
                      Description: The holder of the security has to certify his domicile.
                      Name: Country of Domicile
                  OptionType:
                    Code: SECU
                    Description: Securities Option
                  Payment:
                    Date: '2021-02-12'
                  SecurityMovements:
                  - Currency: AUD
                    DisplayAndFormat:
                      Description: Telstra Corp. Ltd
                      IsinCode: AU000000TLS2
                      Symbol: TLS:xasx
                    SecurityMovementType: Credit
                    Uic: 5081
                Record:
                  Status: Ongoing
                StrikePrice:
                  Currency: EUR
                  Type: Actual
                  Value: 25
                TradingSuspended:
                  Status: Ongoing
                Uic: 13126
        '404':
          description: Requested resource not found.
        '400':
          description: Request contains invalid parameters.
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidRequest
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        confidential: Read
  /ca/v2/events:
    get:
      tags:
      - Events
      summary: Get corporate action events
      description: Get list of Mandatory and Voluntary events, excluding cancelled events, if specified client holds position on corresponding instrument.
      operationId: EventsGetEventsAsync
      parameters:
      - name: $skip
        in: query
        description: The number of entries to skip from the beginning of the collection
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 1
      - name: $top
        in: query
        description: The number of entries to return from the beginning of the collection
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 100
        example: 1
      - name: AccountGroupKey
        in: query
        description: Account group to get the events for.
        schema:
          minLength: 1
          type: string
          x-type-name: AccountGroupKey
        example: BxS0VWLta8lJ3SBpjGBQjw==
      - name: AccountKey
        in: query
        description: Account to get the events for.
        schema:
          minLength: 1
          type: string
          x-type-name: AccountKey
        example: 2y0tX0m9ZH7MH8HK38qM9g==
      - name: AssetTypes
        in: query
        description: Asset type filter for events.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/AssetType'
        example: Stock,Bond
      - name: ClientKey
        in: query
        description: Client to get the events for.
        schema:
          minLength: 1
          type: string
          x-type-name: ClientKey
        example: 7m4I|vtYLUnEGg77o9uQhw==
      - name: CorporateActionTypes
        in: query
        description: Corporate action type filter for events.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/Model.CorporateActionType'
        example: Mandatory,Voluntary
      - name: ElectionStatuses
        in: query
        description: Election status filter for events.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ElectionStatus'
        example: Elected,PartialElected
      - name: EventStatus
        in: query
        description: Event status filter.
        schema:
          $ref: '#/components/schemas/EventStatus'
        example: Active
      - name: EventTypes
        in: query
        description: Event type filter. Use event type codes to filter.
        schema:
          type: array
          items:
            type: string
        example: DVCA,DVOP
      - name: FromDeadlineDate
        in: query
        description: Events on or after specified deadline date.
        schema:
          type: string
          format: date
          x-type-name: Date
        example: '2020-06-16'
      - name: FromExDate
        in: query
        description: Events on or after specified ex date.
        schema:
          type: string
          format: date
          x-type-name: Date
        example: '2020-06-16'
      - name: FromPayDate
        in: query
        description: Events on or after specified pay date.
        schema:
          type: string
          format: date
          x-type-name: Date
        example: '2020-06-16'
      - name: FromRecordDate
        in: query
        description: Events on or after specified record date.
        schema:
          type: string
          format: date
          x-type-name: Date
        example: '2020-06-16'
      - name: IncludeSubAccounts
        in: query
        description: Indicate whether to include events from sub-clients.
        schema:
          type: boolean
        example: false
      - name: Keywords
        in: query
        description: Looks for keywords in instrument description, ISIN code, and instrument symbol.
        schema:
          type: string
        example: Appl
      - name: SortColumn
        in: query
        description: Specify a column to sort on. Default sort will be provided on Date.
        schema:
          $ref: '#/components/schemas/Model.SortColumn'
        example: Date
      - name: SortType
        in: query
        description: Specify ascending or descending sort. Default sort type will be Descending.
        schema:
          $ref: '#/components/schemas/SortType'
        example: Desc
      - name: ToDeadlineDate
        in: query
        description: Events on or before specified deadline date.
        schema:
          type: string
          format: date
          x-type-name: Date
        example: '2020-10-15'
      - name: ToExDate
        in: query
        description: Events on or before specified ex date.
        schema:
          type: string
          format: date
          x-type-name: Date
        example: '2020-10-15'
      - name: ToPayDate
        in: query
        description: Events on or before specified pay date.
        schema:
          type: string
          format: date
          x-type-name: Date
        example: '2020-10-15'
      - name: ToRecordDate
        in: query
        description: Events on or before specified record date.
        schema:
          type: string
          format: date
          x-type-name: Date
        example: '2020-10-15'
      responses:
        '200':
          description: Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResult'
              example:
                __count: 1
                Data:
                - AssetType: Stock
                  BidIntervalRate:
                    Currency: EUR
                    Value: 1
                  ClaimPeriod:
                    End:
                      Status: Ongoing
                    Start:
                      Status: Ongoing
                  CorporateActionType: Voluntary
                  DisplayAndFormat:
                    Description: Chargeurs SA
                    IsinCode: FR0000130692
                    Symbol: CRI:xpar
                  Effective:
                    Date: '2021-02-12'
                  Electable: Electable
                  ElectionStatus: PartialElected
                  EventId: '9652429'
                  EventIndicators:
                  - Indicator: AdditionalBusinessProcess
                    Values:
                    - Code: NPLE
                      Description: The issuer only allows a single option to be selected per designated holding.
                      Name: No Split Election
                  - Indicator: Change
                    Values:
                    - Code: BERE
                      Description: Change from bearer into registered form.
                      Name: Bearer to Registered
                  - Indicator: Consent
                    Values:
                    - Code: CTRM
                      Description: This is a change in the terms and conditions of the bond.
                      Name: Change in Terms
                  - Indicator: Dividend
                    Values:
                    - Code: FINL
                      Description: Payment of a dividend, less the amounts already paid through interim dividends.
                      Name: Final
                  EventState: Preliminary
                  EventStatus: Past
                  EventType:
                    Code: DVCA
                    Description: Distribution of cash to shareholders, in proportion to their equity holding. Ordinary dividends are recurring and regular. Shareholder must take cash and may be offered a choice of currency.
                    Name: Cash Dividend
                  Ex:
                    Date: '2021-02-12'
                  Holdings:
                  - AccountId: 123INET
                    Amount: 100
                    CashReserved:
                      Currency: USD
                      Value: 2583.62
                    ClientId: '906869'
                    ClientName: John
                    ElectedAmount: 20
                    EventId: '9652429'
                    Options:
                    - ElectedAmount: 20
                      ElectionType: Manual
                      Instruction:
                        Status: Accepted
                      OptionId: '1'
                      Remarks: Remarks by client...
                    OwnerId: '532'
                  InformationToComply: RestrictionsMayApply
                  InterestPeriod:
                    End:
                      Status: Ongoing
                    Start:
                      Status: Ongoing
                  MaxPrice:
                    Currency: EUR
                    Type: Actual
                    Value: 60
                  MaxQuantitySought: 1000
                  MinPrice:
                    Currency: EUR
                    Type: Actual
                    Value: 5
                  MinQuantitySought: 4
                  Narrative: '<b>ADTX</b><p>Rights issue trading period of rights: ______________   terms: you may apply for _____ new share for every ______ rights held at _________ per share.<br/>Client must ensure that they instruct in the multiple/s advised in the notification.<br/>Failure to comply will result in the rejection of instruction/s and client/s will not be notified of the rejection.<br/>Option 1: exercise (receive shares) option 2: oversubscribe (please state the number of additional shares you wish to oversubscribe for).<br/>Option 3: lapse (default) should the client wish to oversubscribe, kindly ensure to exercise full quantity of rights.<br/>Oversubscription may be subject to scaleback based at the account level.<br/>For clients who elect to exercise and oversubscribe, please ensure your account is funded on the same day of instructions submission; failure to do so will result in your instruction being rejected.<br/>Total subscription cost/s including oversubscription will be debited on the next business day after the instruction deadline date.<br/>A potential future resultant entitlement will be booked to a dummy security and may be subject to a proration factor being applied where oversubscription has been elected.<br/>Note that any reduction or change in this position may be a result of this factor.<br/>The final resultant entitlement will be booked on the market identifier upon receipt from agent.<br/>In the case where scaleback of subscription/oversubscription occurs, cost will be refunded without interest as soon as practical upon receipt from the agent.<br/>We will attempt to sell any tradeable rights position left uninstructed or instructed to lapse on the last rights trading date if the value of the client position is worth more than eur 30 or equivalent to the currency of the security.<br/>For non tradeable rights, rights not exercised will be lapsed worthless.<br/>We hereby informs the client that, according to the laws of the country of its incorporation or the laws of the country of residence of its customers and the laws applicable to an issuer of securities which are subject to corporate actions, the client, will decide to participate or not to such corporate actions upon its sole and exclusive discretion and judgment.<br/>The client will bear any detrimental consequence arising out of or connected to such instruction.<br/>For the avoidance of doubt, any information in relation to the corporate actions sent to the client may have been obtained from sources which are not under the bank''s control and accordingly, the bank shall not be held responsible for the truth and the accuracy of this information.<br/>Please refer to the prospectus of the event for any further details.<br/><br/></p><b>ADTX</b><p>Rights issue trading period of rights: ______________   terms: you may apply for _____ new share for every ______ rights held at _________ per share.<br/>Client must ensure that they instruct in the multiple/s advised in the notification.<br/>Failure to comply will result in the rejection of instruction/s and client/s will not be notified of the rejection.<br/>Option 1: exercise (receive shares) option 2: oversubscribe (please state the number of additional shares you wish to oversubscribe for).<br/>Option 3: lapse (default) should the client wish to oversubscribe, kindly ensure to exercise full quantity of rights.<br/>Oversubscription may be subject to scaleback based at the account level.<br/>For clients who elect to exercise and oversubscribe, please ensure your account is funded on the same day of instructions submission; failure to do so will result in your instruction being rejected.<br/>Total subscription cost/s including oversubscription will be debited on the next business day after the instruction deadline date.<br/>A potential future resultant entitlement will be booked to a dummy security and may be subject to a proration factor being applied where oversubscription has been elected.<br/>Note that any reduction or change in this position may be a result of this factor.<br/>The final resultant entitlement will be booked on the market identifier upon receipt from agent.<br/>In the case where scaleback of subscription/oversubscription occurs, cost will be refunded without interest as soon as practical upon receipt from the agent.<br/>We will attempt to sell any tradeable rights position left uninstructed or instructed to lapse on the last rights trading date if the value of the client position is worth more than eur 30 or equivalent to the currency of the security.<br/>For non tradeable rights, rights not exercised will be lapsed worthless.<br/>We hereby informs the client that, according to the laws of the country of its incorporation or the laws of the country of residence of its customers and the laws applicable to an issuer of securities which are subject to corporate actions, the client, will decide to participate or not to such corporate actions upon its sole and exclusive discretion and judgment.<br/>The client will bear any detrimental consequence arising out of or connected to such instruction.<br/>For the avoidance of doubt, any information in relation to the corporate actions sent to the client may have been obtained from sources which are not under the bank''s control and accordingly, the bank shall not be held responsible for the truth and the accuracy of this information.<br/>Please refer to the prospectus of the event for any further details.<br/><br/></p>'
                  NewBoardLotQuantity: 20
                  NewDenominationQuantity: 100
                  NumberofDaysAccrued: 23
                  Options:
                  - BidIntervalRate:
                      Currency: EUR
                      Value: 1
                    CashMovements:
                    - CashMovementType: Credit
                      Currency: USD
                      PriceType: Actual
                      SubscriptionPrice: 11.9623
                    CashRequired: false
                    Deadline:
                      Date: '2021-02-23T08:30:00Z'
                    IsDefault: false
                    IsGross: false
                    IsTaxable: true
                    MaxPrice:
                      Currency: EUR
                      Type: Actual
                      Value: 60
                    MinPrice:
                      Currency: EUR
                      Type: Actual
                      Value: 5
                    OptionId: '1'
                    OptionIndicators:
                    - Indicator: BidRange
                      Values:
                      - Code: DIVI
                        Description: All values (including minimum and maximum prices) are divisible by the bid interval.
                        Name: Divisible
                    OptionType:
                      Code: CASH
                      Name: Cash
                    Payment:
                      Date: '2021-02-12'
                    PayoutBreakdown:
                    - Amount: 5.9623
                      Component:
                        Code: INTRT
                        Description: Interest
                        Name: Interest
                      Currency: USD
                    - Amount: 6
                      Component:
                        Code: LTCG
                        Description: Long term capital gain
                        Name: Long term capital gain
                      Currency: USD
                  - CashRequired: false
                    Deadline:
                      Date: '2021-02-23T08:30:00Z'
                    IsDefault: true
                    IsGross: false
                    IsTaxable: true
                    NetRate: 0.08
                    OptionId: '2'
                    OptionIndicators:
                    - Indicator: CertificationBreakdown
                      Values:
                      - Code: DOMI
                        Description: The holder of the security has to certify his domicile.
                        Name: Country of Domicile
                    OptionType:
                      Code: SECU
                      Description: Securities Option
                    Payment:
                      Date: '2021-02-12'
                    SecurityMovements:
                    - Currency: AUD
                      DisplayAndFormat:
                        Description: Telstra Corp. Ltd
                        IsinCode: AU000000TLS2
                        Symbol: TLS:xasx
                      SecurityMovementType: Credit
                      Uic: 5081
                  Record:
                    Status: Ongoing
                  StrikePrice:
                    Currency: EUR
                    Type: Actual
                    Value: 25
                  TradingSuspended:
                    Status: Ongoing
                  Uic: 13126
        '404':
          description: Requested resource not found.
        '400':
          description: Request contains invalid parameters.
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidRequest
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        confidential: Read
  /ca/v2/events/lookupdata:
    get:
      tags:
      - Events
      summary: Lookup for filters
      description: Serves as a lookup for available filters
      operationId: EventsGetLookupDataAsync
      parameters:
      - name: AccountGroupKey
        in: query
        description: Account group to get the events for.
        schema:
          minLength: 1
          type: string
          x-type-name: AccountGroupKey
        example: BxS0VWLta8lJ3SBpjGBQjw==
      - name: AccountKey
        in: query
        description: Account to get the events for.
        schema:
          minLength: 1
          type: string
          x-type-name: AccountKey
        example: 2y0tX0m9ZH7MH8HK38qM9g==
      - name: ClientKey
        in: query
        description: Client to get the events for.
        schema:
          minLength: 1
          type: string
          x-type-name: ClientKey
        example: 7m4I|vtYLUnEGg77o9uQhw==
      - name: FieldGroups
        in: query
        description: Specify lookup fields required in response.
        schema:
          $ref: '#/components/schemas/LookupFieldGroups'
        example: All
      - name: IncludeSubAccounts
        in: query
        description: Indicate whether to include events from sub-clients.
        schema:
          type: boolean
        example: false
      responses:
        '200':
          description: Lookup data retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupListResult'
              example:
                Data:
                - FieldGroup: EventTypes
                  Values:
                  - Code: DVCA
                    Name: Cash Dividend
                - FieldGroup: AssetTypes
                  Values:
                  - Code: Stock
                    Name: Stock
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        confidential: Read
components:
  schemas:
    PayoutBreakdownComponent:
      title: Payout breakdown compoment
      type: object
      properties:
        Amount:
          title: Amount in component
          type: number
        Component:
          title: Component name and description
          allOf:
          - $ref: '#/components/schemas/CodeDescription'
        Currency:
          title: Currency
          type: string
      additionalProperties: false
    InformationToComply:
      title: Information to comply with
      enum:
      - RestrictionsMayApply
      type: string
      x-enum-descriptions:
        RestrictionsMayApply: Restriction may apply
    Holding:
      title: Event Holding
      type: object
      properties:
        AccountDisplayName:
          title: Account display name
          type: string
        AccountId:
          title: Account id
          type: string
        AccountKey:
          title: Account key
          type: string
        Amount:
          title: Eligible holding
          type: number
        CashReserved:
          title: Cash reserved after electing on corresponding option
          allOf:
          - $ref: '#/components/schemas/PriceAndRate'
        ClientId:
          title: Client Id
          type: string
        ClientKey:
          title: Client key
          type: string
        ClientName:
          title: Client name
          type: string
        ElectedAmount:
          title: The amount of positions that have already been elected on
          type: number
        ElectionStatus:
          title: Election status
          allOf:
          - $ref: '#/components/schemas/ElectionStatus'
        EventId:
          title: Corporate action event Id
          type: string
        Options:
          title: List of previously instructed options and their status
          type: array
          items:
            $ref: '#/components/schemas/HoldingOption'
        OwnerId:
          title: Owner Id
          type: string
        StandingInstructionStatus:
          title: Indicates if there is a standing instruction created for this holding
          allOf:
          - $ref: '#/components/schemas/StandingInstructionStatus'
      additionalProperties: false
    OptionStatus:
      title: Option Status
      enum:
      - Cancelled
      - Inactive
      - Unknown
      type: string
      x-enum-descriptions:
        Unknown: Unknown
        Inactive: Inactive
        Cancelled: Cancelled
    EventListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/Event'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
    Model.CorporateActionType:
      title: Corporate action type
      enum:
      - Mandatory
      - Voluntary
      type: string
      x-enum-descriptions:
        Mandatory: 'Mandatory event: Event where no response is required and action is applied automatically.'
        Voluntary: 'Voluntary event: Event where a response is required. If no response is received before the reply deadline, the option marked as Default will be applied.'
    DateTimeAndStatus:
      title: Date or date status
      type: object
      properties:
        Date:
          title: Date value
          type: string
          format: date-time
          x-type-name: UtcDateTime
        Status:
          title: Date status
          allOf:
          - $ref: '#/components/schemas/DateStatus'
      additionalProperties: false
    MovementType:
      title: Movement type
      enum:
      - Credit
      - Debit
      - Unknown
      type: string
      x-enum-descriptions:
        Unknown: Unknown
        Credit: Credit
        Debit: Debit
    EventStatus:
      title: Event status
      enum:
      - Active
      - Past
      - Upcoming
      type: string
      x-enum-descriptions:
        Active: Active events
        Past: Past events
        Upcoming: Upcoming events
    Event:
      title: Event details
      type: object
      properties:
        AffectedAccounts:
          title: "Number of accounts on which correspondng event is applicable.\r\n            Available when IncludeSubAccounts is set to true in the request."
          type: integer
          format: int32
        AssetType:
          title: Asset type
          allOf:
          - $ref: '#/components/schemas/AssetType'
        BidIntervalRate:
          title: Acceptable price increment used for submitting a bid
          allOf:
          - $ref: '#/components/schemas/PriceAndRate'
        ClaimPeriod:
          title: Claim period
          allOf:
          - $ref: '#/components/schemas/DatePeriod'
        CorporateActionType:
          title: Corporate action type
          allOf:
          - $ref: '#/components/schemas/Model.CorporateActionType'
        DisplayAndFormat:
          title: Instrument additional properties
          allOf:
          - $ref: '#/components/schemas/InstrumentDisplayAndFormat'
        Effective:
          title: Date at which an event is officially effective from the issuer's perspective
          allOf:
          - $ref: '#/components/schemas/DateAndStatus'
        Electable:
          title: Indicates whether this event is electable
          allOf:
          - $ref: '#/components/schemas/Electable'
        ElectionStatus:
          title: Election status
          allOf:
          - $ref: '#/components/schemas/ElectionStatus'
        EligibleHoldings:
          title: "Total holding amount, across accounts, eligible for corresponding event.\r\n            Available when IncludeSubAccounts is set to true in the request."
          type: number
        EventId:
          title: Corporate action event Id
          type: string
        EventIndicators:
          title: Event indicators
          type: array
          items:
            $ref: '#/components/schemas/IndicatorDetail'
        EventState:
          title: Current state of the event
          allOf:
          - $ref: '#/components/schemas/EventState'
        EventStatus:
          title: Event status
          allOf:
          - $ref: '#/components/schemas/EventStatus'
        EventType:
          title: Type of event
          allOf:
          - $ref: '#/components/schemas/CodeDescription'
        Ex:
          title: Execution date of event
          allOf:
          - $ref: '#/components/schemas/DateAndStatus'
        Holdings:
          title: "Client holdings on an event\r\n            Available when IncludeSubAccounts is set to false in the request."
          type: array
          items:
            $ref: '#/components/schemas/Holding'
        InformationToComply:
          title: Indicates whether restrictions apply to the event
          allOf:
          - $ref: '#/components/schemas/InformationToComply'
        InterestPeriod:
          title: Period during which the interest rate has been applied
          allOf:
          - $ref: '#/components/schemas/DatePeriod'
        MaxPrice:
          title: Maximum or cap price at which a holder can bid, for example on a Dutch auction offer
          allOf:
          - $ref: '#/components/schemas/PriceAndRate'
        MaxQuantitySought:
          title: Maximum quantity sought
          type: number
        MinPrice:
          title: Minimum or floor price at which a holder can bid, for example on a Dutch auction offer
          allOf:
          - $ref: '#/components/schemas/PriceAndRate'
        MinQuantitySought:
          title: Minimum quantity sought
          type: number
        Narrative:
          title: Event narrative
          type: string
        NewBoardLotQuantity:
          title: Quantity of equity that makes up the new board lot
          type: number
        NewDenominationQuantity:
          title: New Denomination of the equity following, for example, an increase or decrease in nominal value
          type: number
        NumberofDaysAccrued:
          title: Number of days used for calculating the accrued interest amount
          type: integer
          format: int32
        Options:
          title: Event options
          type: array
          items:
            $ref: '#/components/schemas/EventOption'
        Record:
          title: Record date of event
          allOf:
          - $ref: '#/components/schemas/DateAndStatus'
        StrikePrice:
          title: Strike price
          allOf:
          - $ref: '#/components/schemas/PriceAndRate'
        TradingSuspended:
          title: Date at which trading of a security is suspended as the result of an event
          allOf:
          - $ref: '#/components/schemas/DateAndStatus'
        Uic:
          title: Instrument uic
          type: integer
          format: int32
      additionalProperties: false
    SecurityMovement:
      title: Security movement
      type: object
      properties:
        AvailableForTrade:
          title: Available trading date
          allOf:
          - $ref: '#/components/schemas/DateAndStatus'
        Currency:
          title: Currency
          type: string
        DisplayAndFormat:
          title: Instrument's additional properties
          allOf:
          - $ref: '#/components/schemas/InstrumentDisplayAndFormat'
        HeldQuantity:
          title: Held quantity
          type: number
        LastTrade:
          title: Last trade date/time
          allOf:
          - $ref: '#/components/schemas/DateTimeAndStatus'
        NewQuantity:
          title: New quantity
          type: number
        OldQuantity:
          title: Old quantity
          type: number
        PariPassu:
          title: Pari-passu date
          allOf:
          - $ref: '#/components/schemas/DateAndStatus'
        ReceivedQuantity:
          title: Received quantity
          type: number
        ReinvestmentPrice:
          title: Reinvestment price
          type: number
        SecurityMovementType:
          title: Security movement type
          allOf:
          - $ref: '#/components/schemas/MovementType'
        Uic:
          title: Uic
          type: integer
          format: int32
      additionalProperties: false
    LookupFieldGroups:
      title: Field groups available for lookup
      enum:
      - All
      - AssetTypes
      - EventTypes
      type: string
      x-enum-descriptions:
        AssetTypes: Specifies that AssetTypes lookups will be included in the response.
        EventTypes: Specifies that EventTypes lookups will be included in the response.
        All: Specifies that all the lookups will be available in the response.
      x-type-warning: FlaggableEnum
    ValueType:
      title: Price type
      enum:
      - Actual
      - Percentage
      type: string
      x-enum-descriptions:
        Actual: Actual value
        Percentage: Percentage
    ElectionType:
      title: Election type
      enum:
      - Auto
      - Manual
      type: string
      x-enum-descriptions:
        Auto: Auto elections made through standing instructions
        Manual: Manual elections
    LookupListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/Lookup'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
    DatePeriod:
      title: Time period
      type: object
      properties:
        End:
          title: End date/time
          allOf:
          - $ref: '#/components/schemas/DateAndStatus'
        Start:
          title: Start date/time
          allOf:
          - $ref: '#/components/schemas/DateAndStatus'
      additionalProperties: false
    Electable:
      title: Indicates if event is electable
      enum:
      - Electable
      - NotElectable
      type: string
      x-enum-descriptions:
        Electable: Election is applicable on event
        NotElectable: Election is not applicable on event
    AssetType:
      title: Allowed asset types for corporate actions.
      enum:
      - Bond
      - CertificateBonus
      - CertificateCappedBonus
      - CertificateCappedCapitalProtected
      - CertificateCappedOutperformance
      - CertificateConstantLeverage
      - CertificateDiscount
      - CertificateExpress
      - CertificateTracker
      - CertificateUncappedCapitalProtection
      - CertificateUncappedOutperformance
      - CompanyWarrant
      - MiniFuture
      - MutualFund
      - Stock
      - Warrant
      - WarrantDoubleKnockOut
      - WarrantKnockOut
      - WarrantOpenEndKnockOut
      - WarrantSpread
      type: string
      x-enum-descriptions:
        Stock: Stock.
        Bond: Bond.
        MutualFund: Mutual Fund.
        Warrant: Warrant
        MiniFuture: MiniFuture.
        WarrantSpread: Warrant with built-in spread.
        WarrantKnockOut: Warrant with a knock-out barrier.
        WarrantOpenEndKnockOut: Knock-out Warrant with no expiry.
        WarrantDoubleKnockOut: Warrant with two knock-out barriers.
        CertificateUncappedCapitalProtection: "Guarantees a percentage increase of the underlying asset's value above the issue\r\n            price at expiry/maturity. Max loss is the amount invested multiplied by the CapitalProtection\r\n            percentage."
        CertificateCappedCapitalProtected: "Guarantees a capped percentage increase of the underlying asset's value above\r\n            the issue price at expiry/maturity. Max loss is the amount invested multiplied\r\n            by the CapitalProtection percentage."
        CertificateDiscount: "Yields a capped return if the underlying asset's value is above the specified\r\n            cap level at expiry. If the underlying's value is below the strike at expiry,\r\n            the investor received the underlying or equivalent value. Offers direct exposure\r\n            in underlying at a lower price (discount) with a capped potential profit and\r\n            limited loss."
        CertificateCappedOutperformance: Capped Outperformance Certificate.
        CertificateCappedBonus: Certificate Capped Bonus.
        CertificateExpress: Certificate Express kick out.
        CertificateTracker: "A certificate that mirrors the price movement of the underlying instrument. Often\r\n            used to trade movements in indicies. Movements can be a fixed ratio of the underlying\r\n            and can be inverted for bearish/short speculation. Risk is equivalent to owning\r\n            the underlying."
        CertificateUncappedOutperformance: "Provides leveraged returns when the underlying price exceeds the threshold strike\r\n            price. The amount leverage is defined by the Participation %. When the underlying\r\n            is below the strike price, the certificate mirrors the underlying price 1:1."
        CertificateBonus: "Mirrors the price movement of the underlying only if and when the underlying\r\n            price exceeds the defined barrier. If the certificate expires below the barrier,\r\n            it offers partial protection/return of investment."
        CertificateConstantLeverage: Certificate Constant Leverage.
        CompanyWarrant: Unlisted warrant issued by a corporation, often physically settled.
    IndicatorDetail:
      title: Indicator with its values
      type: object
      properties:
        Indicator:
          title: Indicator
          allOf:
          - $ref: '#/components/schemas/Indicator'
        Values:
          title: Indicator values
          type: array
          items:
            $ref: '#/components/schemas/CodeDescription'
      additionalProperties: false
    StandingInstructionStatus:
      title: Standing instruction status
      enum:
      - Created
      - NotCreated
      type: string
      x-enum-descriptions:
        Created: Indicates that standing instruction is created
        NotCreated: Indicates that standing instruction is not created
    InstrumentDisplayAndFormat:
      title: Instrument additional properties
      type: object
      properties:
        Description:
          title: Instrument description
          type: string
        IsinCode:
          title: Instrument isin code
          type: string
        Symbol:
          title: Instrument symbol
          type: string
      additionalProperties: false
    Indicator:
      title: Indicators
      enum:
      - AdditionalBusinessProcess
      - BidRange
      - CertificationBreakdown
      - Change
      - Consent
      - Dividend
      - Offer
      - RenounceableStatusofEntitlement
      - Sequence
      type: string
      x-enum-descriptions:
        Dividend: Payment of a dividend, less the amounts already paid through interim dividends
        Sequence: "FINAL: This is the final event in a series of successive events.\r\n            INTERIM: This is an interim event in a series of successive events"
        Offer: "Dissenter's Rights: Securities' holder has the right to disagree with a mandatory event. This right is not inherent in all offers and therefore must be noted in announcements only when applicable.\r\n            Restriction Exchange: Exchange of Restricted to Unrestricted(or vice versa).\r\n            First Come First Served: Securities will be accepted in the order they have been submitted until the target number of quantity sought is reached.\r\n            Final Offer: Final or last offer to holders subject to offer conditions being reached, for example, 50% accepted on a tender.\r\n            Partial Offer: Partial offer .\r\n            Squeeze Out Bid: Offer launched by a company, in possession of a large number of the shares (90% - 95%) of a company(generally as a result of a tender offer), in order to acquire the remaining shares of that company"
        RenounceableStatusofEntitlement: "Non Renounceable: Intermediate securities cannot be sold.\r\n            Renounceable: Intermediate securities can be sold"
        AdditionalBusinessProcess: The issuer only allows a single option to be selected per designated holding
        Change: "Bearer to Registered: Change from bearer into registered form.\r\n            Certificates: Change of all instruments into certificates.\r\n            Decimalisation: Process of changing the accounting method of a security, for example, mutual fund, from units to a quantity with decimals.\r\n            Dematerialised to Physical: Change from dematerialised into physical form.\r\n            Global Permanent to Physical: Change from global permanent to physical form.\r\n            Global Temporary to Global Permanent: Change from global temporary to global permanent form.\r\n            Global Temporary to Physical: Change from global temporary to physical form.\r\n            NAME: Change of the issuing company's name. Event shows the change from old name to new name and may involve surrendering physical shares with the old name to the registrar.\r\n            Physical to Dematerialised: Change from physical into dematerialised form.\r\n            Registered to Bearer: Change from registered into bearer form.\r\n            Terms: Change in the terms of the security"
        Consent: "Change in Terms: This is a change in the terms and conditions of the bond.\r\n            Due and Payable: This is a change in the due and payable conditions"
        CertificationBreakdown: Certification breakdown type indicator
        BidRange: Specifies the type of acceptable bid range values.
    DateAndStatus:
      title: Date or date status
      type: object
      properties:
        Date:
          title: Date value
          type: string
          format: date
          x-type-name: Date
        Status:
          title: Date status
          allOf:
          - $ref: '#/components/schemas/DateStatus'
      additionalProperties: false
    ElectionStatus:
      title: Election status
      enum:
      - Elected
      - NotElected
      - PartialElected
      type: string
      x-enum-descriptions:
        Elected: Elected
        PartialElected: Partially elected
        NotElected: Not elected
    EventState:
      title: State of the event
      enum:
      - Approved
      - Confirmed
      - Preliminary
      - Withdrawn
      type: string
      x-enum-descriptions:
        Approved: Event in approved state
        Confirmed: Event in confirmed state
        Preliminary: Event in preliminary state
        Withdrawn: Event in withdrawn state
    SortType:
      title: Sort type
      enum:
      - Asc
      - Desc
      type: string
      x-enum-descriptions:
        Asc: Ascending sort
        Desc: Descending sort
    HoldingOption:
      title: Indicates previous elections made on a corporate action event for positions in an account
      type: object
      properties:
        ElectedAmount:
          title: The amount elected
          type: number
        ElectionType:
          title: Indicates if election was auto or manual
          allOf:
          - $ref: '#/components/schemas/ElectionType'
        Instruction:
          title: Instruction status
          allOf:
          - $ref: '#/components/schemas/Event.Instruction'
        OptionId:
          title: The event option id instructed on
          type: string
        Remarks:
          title: Remarks by client
          type: string
      additionalProperties: false
    InstructionStatus:
      title: Instruction status
      enum:
      - Accepted
      - InProgress
      - Rejected
      type: string
      x-enum-descriptions:
        Accepted: Election instruction accepted
        InProgress: Election instruction in progress
        Rejected: Election instruction rejected
    ModelStateDictionary:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    Model.SortColumn:
      title: Sort columns for events
      enum:
      - AffectedAccounts
      - CorporateActionType
      - Date
      - EligibleHoldings
      - EventId
      - EventType
      - InstrumentDescription
      type: string
      x-enum-descriptions:
        AffectedAccounts: Sort by number of accounts affected
        CorporateActionType: Sort by corporate action type
        Date: Sort by Date
        EligibleHoldings: Sort by total amount in holdings
        EventId: Sort by event identifier
        EventType: Sort by event type name
        InstrumentDescription: Sort by Instrument name/description
    CodeDescription:
      title: Code/Description
      type: object
      properties:
        Code:
          title: Code
          type: string
        Description:
          title: Description
          type: string
        Name:
          title: Name
          type: string
      additionalProperties: false
    EventOption:
      title: Event Options
      type: object
      properties:
        BidIntervalRate:
          title: Acceptable price increment used for submitting a bid
          allOf:
          - $ref: '#/components/schemas/PriceAndRate'
        CashMovements:
          title: Cash movement credits and debits
          type: array
          items:
            $ref: '#/components/schemas/CashMovement'
        CashRequired:
          title: Denotes that client is required to have sufficient cash in order to elect the option
          type: boolean
        Deadline:
          title: Client deadline date at option level
          allOf:
          - $ref: '#/components/schemas/DateTimeAndStatus'
        GrossRate:
          title: Gross rate
          type: number
        IsDefault:
          title: Indicates if this is the default option. This option is where all positions will be allocated, that have not been otherwise elected on.
          type: boolean
        IsGross:
          title: Is gross
          type: boolean
        IsTaxable:
          title: Is taxable
          type: boolean
        MaxExercisableQuantity:
          title: Maximum Exercisable quantity
          type: number
        MaxPrice:
          title: Maximum or cap price at which a holder can bid
          allOf:
          - $ref: '#/components/schemas/PriceAndRate'
        MinExercisableMultipleQuantity:
          title: Minimum exercisable multiple quantity
          type: number
        MinExercisableQuantity:
          title: Minimum exercisable quantity
          type: number
        MinPrice:
          title: Minimum or floor price at which a holder can bid
          allOf:
          - $ref: '#/components/schemas/PriceAndRate'
        Narrative:
          title: Option narrative
          type: string
        NetRate:
          title: Net rate
          type: number
        NewBoardLotQuantity:
          title: Quantity of equity that makes up the new board lot
          type: number
        NewDenominationQuantity:
          title: New Denomination of the equity following, for example, an increase or decrease in nominal value
          type: number
        OptionId:
          title: The Option number for the Corporate Action Event
          type: string
        OptionIndicators:
          title: Option indicators
          type: array
          items:
            $ref: '#/components/schemas/IndicatorDetail'
        OptionStatus:
          title: Option status Inactive/Cancel
          allOf:
          - $ref: '#/components/schemas/OptionStatus'
        OptionType:
          title: Option type code and description
          allOf:
          - $ref: '#/components/schemas/CodeDescription'
        Payment:
          title: The date where the resulting allocations are paid
          allOf:
          - $ref: '#/components/schemas/DateAndStatus'
        PayoutBreakdown:
          title: "Lists all the components in payout breakdown. \r\n            This field is only available for Australian market."
          type: array
          items:
            $ref: '#/components/schemas/PayoutBreakdownComponent'
        SecurityMovements:
          title: Security movement credits and debits
          type: array
          items:
            $ref: '#/components/schemas/SecurityMovement'
        TradingPeriod:
          title: Trading period
          allOf:
          - $ref: '#/components/schemas/DatePeriod'
      additionalProperties: false
    CashMovement:
      title: Cash movement
      type: object
      properties:
        Amount:
          title: Amount
          type: number
        CashMovementType:
          title: Cash movement type
          allOf:
          - $ref: '#/components/schemas/MovementType'
        Currency:
          title: Currency
          type: string
        DeemedRate:
          title: Deemed rate
          type: number
        GrossDividend:
          title: Gross dividend
          type: number
        InterestRate:
          title: Interest rate
          type: number
        NetDividend:
          title: Net dividend
          type: number
        OfferPrice:
          title: Offer price
          type: number
        PriceType:
          title: Price type
          allOf:
          - $ref: '#/components/schemas/ValueType'
        Quantity:
          title: Quantity
          type: number
        SubscriptionPrice:
          title: Subscription price
          type: number
      additionalProperties: false
    Lookup:
      title: Lookup values
      type: object
      properties:
        FieldGroup:
          title: Specifies the field for which lookup values are loaded in this lookup
          allOf:
          - $ref: '#/components/schemas/LookupFieldGroups'
        Values:
          title: Lookup codes and names
          type: array
          items:
            $ref: '#/components/schemas/CodeDescription'
      additionalProperties: false
    Event.Instruction:
      title: Instruction
      type: object
      properties:
        Reason:
          title: "Election instruction status's reason\r\n            A detailed reason code for any errors related to the election.\r\n            For more details see: http://www.iso15022.org/UHB/uhb2006/mt567-13-field-24b.htm"
          type: string
        Status:
          title: "Election instruction status\r\n            For more details see: http://www.iso15022.org/UHB/uhb2006/mt567-13-field-24b.htm"
          allOf:
          - $ref: '#/components/schemas/InstructionStatus'
      additionalProperties: false
    PriceAndRate:
      title: Price and rate
      type: object
      properties:
        Currency:
          title: Price/Rate currency
          type: string
        Type:
          title: Price/Rate action type
          allOf:
          - $ref: '#/components/schemas/ValueType'
        Value:
          title: Price
          type: number
      additionalProperties: false
    DateStatus:
      title: Date status
      enum:
      - Ongoing
      - Unknown
      type: string
      x-enum-descriptions:
        Unknown: Unknown
        Ongoing: Ongoing
  responses:
    ServiceUnavailable:
      description: Service Unavailable.
    Unauthorized:
      description: Indicates that the request was rejected because the 'Authorization' header was missing in the request or contained an invalid security token.
    TooManyRequests:
      description: The request was rejected due to rate limit being exceeded.
    BadRequest:
      description: One or more of the provided parameters are invalid.
      content:
        application/json:
          schema:
            required:
            - ErrorCode
            - Message
            type: object
            properties:
              ErrorCode:
                enum:
                - InvalidRequest
                type: string
                x-enum-descriptions:
                  InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
              Message:
                type: string
              ModelState:
                $ref: '#/components/schemas/ModelStateDictionary'
  securitySchemes:
    OpenApiJWTSecurityScheme:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OpenApiOAuthSecurityScheme:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sim.logonvalidation.net/authorize
          tokenUrl: https://sim.logonvalidation.net/token
          scopes: {}
