openapi: 3.0.1
info:
  title: Services.AutoTrading Account Values CashManagement - Inter Account Transfer API
  description: 'The AutoTrading service group provides endpoints for interacting with Saxo Bank''s SaxoSelect offering.Through these interfaces a client application can get Saxo Select trade leaders, portfolios and investments. Portfolio investments can be created and modifed.<div class=well style=''border: 1px solid rgb(204, 82, 0); border-image: none; background-color: rgb(255, 209, 179);padding:1px;''><strong> Note:</strong> </br>This service is subject to special licensing agreements and not generally available to all OpenAPI applications.</div>'
  version: 2.4.138+710c760591
  x-framework-version: 38.0.2+439c5b0ec3
  x-machine: SIMOAWEB11-DK2
servers:
- url: https://gateway.saxobank.com/sim/openapi
tags:
- name: CashManagement - Inter Account Transfer
  description: This endpoint provides the functionality necessary for a client to transfer money between different accounts all belonging to the same client.
paths:
  /cs/v2/cashmanagement/interaccounttransfers:
    post:
      tags:
      - CashManagement - Inter Account Transfer
      description: Interaccount transfer
      operationId: InterAccountTransferTransfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
            example:
              Amount: 1000
              Currency: JPY
              FromAccountKey: -gh-xomNFSNUYdRL0KrPpg==
              ToAccountKey: y3kFQWkqJYMgOgaxcoqshA==
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferResult'
              example:
                Commission: 0
                FromAccountAmount: 9.0776625
                FromAccountCurrency: USD
                ToAccountAmount: 1000
                ToAccountCurrency: JPY
        '200':
          description: Indicates that the transfer was performed correctly.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Write
components:
  schemas:
    ModelStateDictionary:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    TransferRequest:
      title: Transfer details needed for the transfer
      required:
      - FromAccountKey
      - ToAccountKey
      - Amount
      - Currency
      type: object
      properties:
        Amount:
          title: The amount
          type: number
          example: 10
        Currency:
          title: The currency
          type: string
          example: stringValue
        FromAccountKey:
          title: Source account
          minLength: 1
          type: string
          x-type-name: AccountKey
        ToAccountKey:
          title: Destination account
          minLength: 1
          type: string
          x-type-name: AccountKey
        WithdrawalReasonId:
          title: Withdrawal Reason Id
          type: integer
          format: int32
          example: 99
      additionalProperties: false
      example:
        Amount: 1000
        Currency: JPY
        FromAccountKey: -gh-xomNFSNUYdRL0KrPpg==
        ToAccountKey: y3kFQWkqJYMgOgaxcoqshA==
    TransferResult:
      title: Result of InterAccount transfer operation
      type: object
      properties:
        Commission:
          title: Commission charged to transfer amount
          type: number
          example: 10
        FromAccountAmount:
          title: Amount from the sender account
          type: number
          example: 10
        FromAccountCurrency:
          title: Currency from the sender account
          type: string
          example: stringValue
        ToAccountAmount:
          title: Amount to the receiver account
          type: number
          example: 10
        ToAccountCurrency:
          title: Currency to the receiver account
          type: string
          example: stringValue
      additionalProperties: false
      example:
        Commission: 0
        FromAccountAmount: 9.0776625
        FromAccountCurrency: USD
        ToAccountAmount: 1000
        ToAccountCurrency: JPY
  responses:
    Unauthorized:
      description: Indicates that the request was rejected because the 'Authorization' header was missing in the request or contained an invalid security token.
    ServiceUnavailable:
      description: Service Unavailable.
    BadRequest:
      description: One or more of the provided parameters are invalid.
      content:
        application/json:
          schema:
            required:
            - ErrorCode
            - Message
            type: object
            properties:
              ErrorCode:
                enum:
                - InvalidRequest
                type: string
                example: None
                x-enum-descriptions:
                  InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
              Message:
                type: string
              ModelState:
                $ref: '#/components/schemas/ModelStateDictionary'
    TooManyRequests:
      description: The request was rejected due to rate limit being exceeded.
  securitySchemes:
    OpenApiJWTSecurityScheme:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OpenApiOAuthSecurityScheme:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sim.logonvalidation.net/authorize
          tokenUrl: https://sim.logonvalidation.net/token
          scopes: {}
