openapi: 3.0.1
info:
  title: Services.AutoTrading Account Values Instruments API
  description: 'The AutoTrading service group provides endpoints for interacting with Saxo Bank''s SaxoSelect offering.Through these interfaces a client application can get Saxo Select trade leaders, portfolios and investments. Portfolio investments can be created and modifed.<div class=well style=''border: 1px solid rgb(204, 82, 0); border-image: none; background-color: rgb(255, 209, 179);padding:1px;''><strong> Note:</strong> </br>This service is subject to special licensing agreements and not generally available to all OpenAPI applications.</div>'
  version: 2.4.138+710c760591
  x-framework-version: 38.0.2+439c5b0ec3
  x-machine: SIMOAWEB11-DK2
servers:
- url: https://gateway.saxobank.com/sim/openapi
tags:
- name: Instruments
  description: End points serving instrument resources.
paths:
  /ref/v1/instruments/tradingschedule/{Uic}/{AssetType}:
    get:
      tags:
      - Instruments
      summary: Trading schedules
      description: Returns trading schedule for a given uic and asset type.
      operationId: InstrumentsV1GetTradingSchedule
      parameters:
      - name: AssetType
        in: path
        description: The  of the instrument to get.
        required: true
        style: simple
        schema:
          $ref: '#/components/schemas/AssetType'
        example: FxSpot
      - name: Uic
        in: path
        description: The Universal Instrument Code (UIC) of the instrument to get.
        required: true
        style: simple
        schema:
          minimum: 1
          type: integer
          format: int32
          x-type-name: Uic
        example: 22
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentTradeSessions'
              example:
                Sessions:
                - EndTime: '9999-12-31T23:59:59.999999Z'
                  StartTime: '9999-12-31T23:59:59.999999Z'
                  State: Undefined
                TimeZone: 99
                TimeZoneAbbreviation: stringValue
                TimeZoneOffset: '00:00:00.0000061'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidAssetType
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidAssetType: Invalid AssetType specified.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        restricted: Read
  /ref/v1/instruments/futuresspaces/{ContinuousFuturesUic}:
    get:
      tags:
      - Instruments
      summary: Get contract futures space
      description: Provides an overview of a contract futures space, with key futures-related properties for all instances in the futures space.
      operationId: InstrumentsV1GetFuturesSpace
      parameters:
      - name: ContinuousFuturesUic
        in: path
        description: The UIC of the continuous futures instrument of the space.
        required: true
        style: simple
        schema:
          type: integer
          format: int32
        example: 28016
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuturesSpace'
              example:
                BaseIdentifier: W
                Elements:
                - DaysToExpiry: 64
                  ExpiryDate: '2017-07-14'
                  Symbol: WQ7
                  Uic: 3406797
                - DaysToExpiry: 127
                  ExpiryDate: '2017-09-15'
                  Symbol: WV7
                  Uic: 3844782
                - DaysToExpiry: 188
                  ExpiryDate: '2017-11-15'
                  Symbol: WZ7
                  Uic: 4239352
                - DaysToExpiry: 278
                  ExpiryDate: '2018-02-13'
                  Symbol: WH8
                  Uic: 4895721
                - DaysToExpiry: 337
                  ExpiryDate: '2018-04-13'
                  Symbol: WK8
                  Uic: 5352847
                - DaysToExpiry: 431
                  ExpiryDate: '2018-07-16'
                  Symbol: WQ8
                  Uic: 6112156
                - DaysToExpiry: 491
                  ExpiryDate: '2018-09-14'
                  Symbol: WV8
                  Uic: 6609171
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidContinuousFuturesUic
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidContinuousFuturesUic: Invalid continuous futures UIC specified.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        restricted: Read
  /ref/v1/instruments/contractoptionspaces/{OptionRootId}:
    get:
      tags:
      - Instruments
      summary: Get option details and options space for specified option root
      description: "Using the optionRoot as the \"key\" this resource lists common details about all contract options based on the same option root.\n            It further returns a subset, or the complete list, of all available expiration and strike prices which can be derived\n            from this root along with the uic needed to trade the specific Option."
      operationId: InstrumentsV1GetContractOptionSpace
      parameters:
      - name: CanParticipateInMultiLegOrder
        in: query
        description: Should the result only include option roots that allow/disallow exchange traded option strategies, also know as multi-leg or combination orders. This is an optional parameter, all roots are returned regardless if omitted.
        style: form
        explode: false
        schema:
          type: boolean
      - name: ClientKey
        in: query
        style: form
        explode: false
        schema:
          minLength: 1
          type: string
          x-type-name: ClientKey
      - name: ExpiryDates
        in: query
        description: Return specific information for the ExpiryDates in this array (if OptionSpaceSegment is set to 'SpecificDates').
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            example: stringValue
        example: '2107-06-16T00:00:00.0000000+00:00'
      - name: OptionRootId
        in: path
        description: ID of the contract option root.
        required: true
        style: simple
        schema:
          type: integer
          format: int32
        example: 6
      - name: OptionSpaceSegment
        in: query
        description: How large a segment of the option space should return full contract option details (in the OptionsSpace[].SpecificOptions property). Default is None.
        style: form
        explode: false
        schema:
          $ref: '#/components/schemas/OptionSpaceSegment'
        example: SpecificDates
      - name: TradingStatus
        in: query
        style: form
        explode: false
        schema:
          $ref: '#/components/schemas/TradingStatus'
      - name: UnderlyingUic
        in: query
        description: The uic of the underlying instrument. This is an optional parameter (if OptionSpaceSegment is set to 'UnderlyingUic').
        style: form
        explode: false
        schema:
          type: integer
          format: int32
        example: 1907570
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractOptionSpace'
              example:
                AmountDecimals: 0
                AssetType: StockIndexOption
                CanParticipateInMultiLegOrder: true
                ContractSize: 5
                CurrencyCode: EUR
                DefaultAmount: 1
                Description: DAX Index
                Exchange:
                  CountryCode: DE
                  ExchangeId: EUREX
                  Name: Eurex
                  PriceSourceName: Eurex
                ExerciseStyle: European
                Format:
                  Decimals: 2
                  OrderDecimals: 2
                  StrikeDecimals: 2
                GroupId: 0
                IncrementSize: 1
                IsTradable: true
                LotSize: 1
                LotSizeType: OddLotsNotAllowed
                OptionRootId: 6
                OptionSpace:
                - DisplayDaysToExpiry: 3
                  DisplayDaysToLastTradeDate: 0
                  DisplayExpiry: '2017-05-01'
                  Expiry: '2017-05-19'
                  LastTradeDate: '0001-01-01T00:00:00Z'
                - DisplayDaysToExpiry: 34
                  DisplayDaysToLastTradeDate: 0
                  DisplayExpiry: '2017-06-01'
                  Expiry: '2017-06-16'
                  LastTradeDate: '0001-01-01T00:00:00Z'
                  SpecificOptions:
                  - PutCall: Call
                    StrikePrice: 13500
                    TradingStatus: NotDefined
                    Uic: 6608098
                    UnderlyingUic: 1907570
                  - PutCall: Put
                    StrikePrice: 13500
                    TradingStatus: NotDefined
                    Uic: 6608101
                    UnderlyingUic: 1907570
                  - PutCall: Call
                    StrikePrice: 12750
                    TradingStatus: NotDefined
                    Uic: 6507156
                    UnderlyingUic: 1907570
                  - PutCall: Call
                    StrikePrice: 12900
                    TradingStatus: NotDefined
                    Uic: 6507157
                    UnderlyingUic: 1907570
                  - PutCall: Call
                    StrikePrice: 12950
                    TradingStatus: NotDefined
                    Uic: 6507158
                    UnderlyingUic: 1907570
                - DisplayDaysToExpiry: 126
                  DisplayDaysToLastTradeDate: 0
                  DisplayExpiry: '2017-09-01'
                  Expiry: '2017-09-15'
                  LastTradeDate: '0001-01-01T00:00:00Z'
                - DisplayDaysToExpiry: 217
                  DisplayDaysToLastTradeDate: 0
                  DisplayExpiry: '2017-12-01'
                  Expiry: '2017-12-15'
                  LastTradeDate: '0001-01-01T00:00:00Z'
                - DisplayDaysToExpiry: 307
                  DisplayDaysToLastTradeDate: 0
                  DisplayExpiry: '2018-03-01'
                  Expiry: '2018-03-16'
                  LastTradeDate: '0001-01-01T00:00:00Z'
                - DisplayDaysToExpiry: 399
                  DisplayDaysToLastTradeDate: 0
                  DisplayExpiry: '2018-06-01'
                  Expiry: '2018-06-15'
                  LastTradeDate: '0001-01-01T00:00:00Z'
                - DisplayDaysToExpiry: 582
                  DisplayDaysToLastTradeDate: 0
                  DisplayExpiry: '2018-12-01'
                  Expiry: '2018-12-21'
                  LastTradeDate: '0001-01-01T00:00:00Z'
                - DisplayDaysToExpiry: 764
                  DisplayDaysToLastTradeDate: 0
                  DisplayExpiry: '2019-06-01'
                  Expiry: '2019-06-21'
                  LastTradeDate: '0001-01-01T00:00:00Z'
                - DisplayDaysToExpiry: 947
                  DisplayDaysToLastTradeDate: 0
                  DisplayExpiry: '2019-12-01'
                  Expiry: '2019-12-20'
                  LastTradeDate: '0001-01-01T00:00:00Z'
                - DisplayDaysToExpiry: 1313
                  DisplayDaysToLastTradeDate: 0
                  DisplayExpiry: '2020-12-01'
                  Expiry: '2020-12-18'
                  LastTradeDate: '0001-01-01T00:00:00Z'
                - DisplayDaysToExpiry: 1678
                  DisplayDaysToLastTradeDate: 0
                  DisplayExpiry: '2021-12-01'
                  Expiry: '2021-12-17'
                  LastTradeDate: '0001-01-01T00:00:00Z'
                OrderDistances:
                  EntryDefaultDistance: 0
                  EntryDefaultDistanceType: Percentage
                  LimitDefaultDistance: 0
                  LimitDefaultDistanceType: Percentage
                  StopLimitDefaultDistance: 5
                  StopLimitDefaultDistanceType: Pips
                  StopLossDefaultDistance: 0.5
                  StopLossDefaultDistanceType: Percentage
                  StopLossDefaultEnabled: false
                  StopLossDefaultOrderType: Stop
                  TakeProfitDefaultDistance: 0.5
                  TakeProfitDefaultDistanceType: Percentage
                  TakeProfitDefaultEnabled: false
                PriceToContractFactor: 5
                RelatedInstruments:
                - AssetType: StockIndex
                  Uic: 1907570
                RelatedOptionRootsEnhanced:
                - AssetType: StockIndexOption
                  OptionRootId: 110
                - AssetType: StockOption
                  OptionRootId: 111
                - AssetType: StockOption
                  OptionRootId: 112
                SettlementStyle: CashDelivery
                StandardAmounts:
                - 1
                - 5
                - 10
                - 25
                - 50
                - 100
                - 500
                - 1000
                SupportedOrderTypes:
                - Limit
                Symbol: ODAX:xeur
                TickSize: 0.1
                TradableOn:
                - 76940INET
                - 76940INET1
                - 76940INET2
                UnderlyingAssetType: StockIndex
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - ExpiryDatesMustBeSet
                    - InvalidOptionRootId
                    - UnderlyingUICMustBeSet
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidOptionRootId: Invalid option root id specified.
                      ExpiryDatesMustBeSet: ExpiryDates must be set if SpecificDates is chosen in OptionSpaceSegment.
                      UnderlyingUICMustBeSet: UnderlyingUic must be set if UnderlyingUic is chosen in OptionSpaceSegment.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        restricted: Read
  /ref/v1/instruments/details/{Uic}/{AssetType}:
    get:
      tags:
      - Instruments
      summary: Get detailed information for a specific instrument
      description: Use this operation to retrieve details for a specific instrument.
      operationId: InstrumentsV1GetDetailsForOneInstrument
      parameters:
      - name: AccountKey
        in: query
        style: form
        explode: false
        schema:
          minLength: 1
          type: string
          x-type-name: AccountKey
      - name: AssetType
        in: path
        description: The  of the instrument to get.
        required: true
        style: simple
        schema:
          $ref: '#/components/schemas/AssetType'
        example: FxSpot
      - name: ClientKey
        in: query
        style: form
        explode: false
        schema:
          minLength: 1
          type: string
          x-type-name: ClientKey
      - name: FieldGroups
        in: query
        description: Specifies comma-separated list of additional fields to receive.
        style: form
        explode: false
        schema:
          title: Specifies comma-separated list of additional fields to receive.
          type: array
          items:
            $ref: '#/components/schemas/InstrumentFieldGroup'
        example:
        - Popularity
      - name: Uic
        in: path
        description: The Universal Instrument Code (UIC) of the instrument to get.
        required: true
        style: simple
        schema:
          minimum: 1
          type: integer
          format: int32
          x-type-name: Uic
        example: 22
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentDetails'
              example:
                AmountDecimals: 0
                AssetType: FxSpot
                CurrencyCode: AUD
                DefaultAmount: 100000
                DefaultSlippage: 0.01
                DefaultSlippageType: Percentage
                Description: British Pound/Australian Dollar
                Exchange:
                  CountryCode: DK
                  ExchangeId: SBFX
                  Name: Inter Bank
                ExerciseCutOffTime: 00:00:00
                Format:
                  Decimals: 4
                  Format: AllowDecimalPips
                  OrderDecimals: 4
                FxForwardMaxForwardDate: '2018-05-08T00:00:00Z'
                FxForwardMinForwardDate: '2017-05-03T00:00:00Z'
                GroupId: 0
                IncrementSize: 5000
                IpoDetails:
                  Denominations:
                  - 100
                  - 200
                  - 500
                IsTradable: true
                MinimumTradeSize: 1000
                NonTradableReason: None
                OrderDistances:
                  EntryDefaultDistance: 0
                  EntryDefaultDistanceType: Percentage
                  LimitDefaultDistance: 0
                  LimitDefaultDistanceType: Percentage
                  StopLimitDefaultDistance: 5
                  StopLimitDefaultDistanceType: Pips
                  StopLossDefaultDistance: 0.5
                  StopLossDefaultDistanceType: Percentage
                  StopLossDefaultEnabled: false
                  StopLossDefaultOrderType: Stop
                  TakeProfitDefaultDistance: 0.5
                  TakeProfitDefaultDistanceType: Percentage
                  TakeProfitDefaultEnabled: false
                SettlementStyle: PhysicalDelivery
                ShortTradeDisabled: true
                StandardAmounts:
                - 10000
                - 50000
                - 100000
                - 250000
                - 500000
                - 1000000
                - 2000000
                - 5000000
                - 10000000
                - 20000000
                SupportedOrderTypes:
                - Market
                - Limit
                - Stop
                - TrailingStop
                - StopLimit
                Symbol: GBPAUD
                TickSize: 5E-05
                TradableAs:
                - FxSpot
                - FxForwards
                - FxVanillaOption
                - FxKnockInOption
                - FxKnockOutOption
                TradableOn:
                - 76940INET
                - 76940INET1
                - 76940INET2
                - SAMGS*585220
                TradingStatus: NotDefined
                Uic: 22
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidAssetType
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidAssetType: Invalid AssetType specified.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        restricted: Read
  /ref/v1/instruments/details:
    get:
      tags:
      - Instruments
      summary: Get detailed information for list of instruments
      description: Use this operation to retrieve detailed information a list of instruments.
      operationId: InstrumentsV1GetDetailsForManyInstruments
      parameters:
      - name: $skip
        in: query
        description: The number of entries to skip from the beginning of the collection
        style: form
        explode: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 1
      - name: $top
        in: query
        description: The number of entries to return from the beginning of the collection
        style: form
        explode: false
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          format: int32
          default: 50
        example: 1
      - name: AccountKey
        in: query
        description: If specified, access permissions to instruments for the specified account will be evaluated. Optional.
        style: form
        explode: false
        schema:
          title: If specified, access permissions to instruments for the specified account will be evaluated. Optional.
          minLength: 1
          type: string
          x-type-name: AccountKey
        example: 01b64edf-da03-4145-bf33-ae21527d4c86
      - name: AssetTypes
        in: query
        description: Comma separated list of one or more asset types to search for. E.g. AssetTypes=FxSpot,Stock
        style: form
        explode: false
        schema:
          title: Comma separated list of one or more asset types to search for. E.g. AssetTypes=FxSpot,Stock
          type: array
          items:
            $ref: '#/components/schemas/AssetType'
        example:
        - FxKnockInOption
      - name: FieldGroups
        in: query
        description: Specifies comma-separated list of additional fields to receive.
        style: form
        explode: false
        schema:
          title: Specifies comma-separated list of additional fields to receive.
          type: array
          items:
            $ref: '#/components/schemas/InstrumentFieldGroup'
        example:
        - Popularity
      - name: Tags
        in: query
        description: "Allows filtering by display hint, on Stocks, ETFs and ETCs are currently supported.\n            Use null to indicate Tag should not be included in search criteria.\n            Currently only one tag is supported."
        style: form
        explode: false
        schema:
          title: "Allows filtering by display hint, on Stocks, ETFs and ETCs are currently supported.\n            Use null to indicate Tag should not be included in search criteria.\n            Currently only one tag is supported."
          type: array
          items:
            type: string
            example: stringValue
        example:
        - stringValue
      - name: Uics
        in: query
        description: Limit list to return information for the following Uics
        style: form
        explode: false
        schema:
          title: Limit list to return information for the following Uics
          type: array
          items:
            type: integer
            format: int32
            example: 99
        example:
        - 99
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentDetailsListResult'
              example:
                __next: /openapi/....../?$top=1&$skip=1
                Data:
                - AmountDecimals: 0
                  AssetType: FxSpot
                  CurrencyCode: AUD
                  DefaultAmount: 100000
                  DefaultSlippage: 0.01
                  DefaultSlippageType: Percentage
                  Description: British Pound/Australian Dollar
                  Exchange:
                    CountryCode: DK
                    ExchangeId: SBFX
                    Name: Inter Bank
                  Format:
                    Decimals: 4
                    Format: AllowDecimalPips
                    OrderDecimals: 4
                  FxForwardMaxForwardDate: '2018-05-08T00:00:00Z'
                  FxForwardMinForwardDate: '2017-05-03T00:00:00Z'
                  GroupId: 0
                  IncrementSize: 5000
                  IsTradable: true
                  NonTradableReason: None
                  OrderDistances:
                    EntryDefaultDistance: 0
                    EntryDefaultDistanceType: Percentage
                    LimitDefaultDistance: 0
                    LimitDefaultDistanceType: Percentage
                    StopLimitDefaultDistance: 5
                    StopLimitDefaultDistanceType: Pips
                    StopLossDefaultDistance: 0.5
                    StopLossDefaultDistanceType: Percentage
                    StopLossDefaultEnabled: false
                    StopLossDefaultOrderType: Stop
                    TakeProfitDefaultDistance: 0.5
                    TakeProfitDefaultDistanceType: Percentage
                    TakeProfitDefaultEnabled: false
                  StandardAmounts:
                  - 10000
                  - 50000
                  - 100000
                  - 250000
                  - 500000
                  - 1000000
                  - 2000000
                  - 5000000
                  - 10000000
                  - 20000000
                  SupportedOrderTypes:
                  - Market
                  - Limit
                  - Stop
                  - TrailingStop
                  - StopLimit
                  Symbol: GBPAUD
                  TickSize: 5E-05
                  TradableAs:
                  - FxSpot
                  - FxForwards
                  - FxVanillaOption
                  - FxKnockInOption
                  - FxKnockOutOption
                  TradableOn:
                  - 76940INET
                  - 76940INET1
                  - 76940INET2
                  - SAMGS*585220
                  TradingStatus: NotDefined
                  Uic: 22
                - AmountDecimals: 0
                  AssetType: FxSpot
                  CurrencyCode: CAD
                  DefaultAmount: 100000
                  DefaultSlippage: 0.01
                  DefaultSlippageType: Percentage
                  Description: British Pound/Canadian Dollar
                  Exchange:
                    CountryCode: DK
                    ExchangeId: SBFX
                    Name: Inter Bank
                  Format:
                    Decimals: 4
                    Format: AllowDecimalPips
                    OrderDecimals: 4
                  FxForwardMaxForwardDate: '2018-05-07T00:00:00Z'
                  FxForwardMinForwardDate: '2017-05-02T00:00:00Z'
                  GroupId: 0
                  IncrementSize: 5000
                  IsTradable: true
                  NonTradableReason: None
                  OrderDistances:
                    EntryDefaultDistance: 0
                    EntryDefaultDistanceType: Percentage
                    LimitDefaultDistance: 0
                    LimitDefaultDistanceType: Percentage
                    StopLimitDefaultDistance: 5
                    StopLimitDefaultDistanceType: Pips
                    StopLossDefaultDistance: 0.5
                    StopLossDefaultDistanceType: Percentage
                    StopLossDefaultEnabled: false
                    StopLossDefaultOrderType: Stop
                    TakeProfitDefaultDistance: 0.5
                    TakeProfitDefaultDistanceType: Percentage
                    TakeProfitDefaultEnabled: false
                  StandardAmounts:
                  - 10000
                  - 50000
                  - 100000
                  - 250000
                  - 500000
                  - 1000000
                  - 2000000
                  - 5000000
                  - 10000000
                  - 20000000
                  SupportedOrderTypes:
                  - Market
                  - Limit
                  - Stop
                  - TrailingStop
                  - StopLimit
                  Symbol: GBPCAD
                  TickSize: 5E-05
                  TradableAs:
                  - FxSpot
                  - FxForwards
                  - FxVanillaOption
                  - FxKnockInOption
                  - FxKnockOutOption
                  TradableOn:
                  - 76940INET
                  - 76940INET1
                  - 76940INET2
                  - SAMGS*585220
                  TradingStatus: NotDefined
                  Uic: 23
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidSearchCriteriaProvided
                    - NoSearchCriteriaProvided
                    type: string
                    example: None
                    x-enum-descriptions:
                      NoSearchCriteriaProvided: No search criteria provided.
                      InvalidSearchCriteriaProvided: Invalid instrument search criteria provided.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        restricted: Read
  /ref/v1/instruments:
    get:
      tags:
      - Instruments
      summary: Search for instruments or contract option roots
      description: "Returns a list of summary information for all instruments and options on the Saxo Trading platform restricted by the access rights of the user.\n            \n\n            The resource serves as the starting point for an application/user who wants to navigate the available universe of instruments and options.\n            Each entry therefore contains further references to instrument details or option roots, where the application can get further information about these entities.\n\nThis endpoint supports OData query operators: $top and $skip."
      operationId: InstrumentsV1GetSummaries
      parameters:
      - name: $skip
        in: query
        description: The number of entries to skip from the beginning of the collection
        style: form
        explode: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 1
      - name: $top
        in: query
        description: The number of entries to return from the beginning of the collection
        style: form
        explode: false
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          format: int32
          default: 50
        example: 1
      - name: AccountKey
        in: query
        description: If specified, access permissions to instruments for the specified account will be evaluated. Optional.
        style: form
        explode: false
        schema:
          title: If specified, access permissions to instruments for the specified account will be evaluated. Optional.
          minLength: 1
          type: string
          x-type-name: AccountKey
        example: 01b64edf-da03-4145-bf33-ae21527d4c86
      - name: AssetTypes
        in: query
        description: Comma separated list of one or more asset types to search for. E.g. AssetTypes=FxSpot,Stock
        style: form
        explode: false
        schema:
          title: Comma separated list of one or more asset types to search for. E.g. AssetTypes=FxSpot,Stock
          type: array
          items:
            $ref: '#/components/schemas/AssetType'
        example:
        - FxKnockInOption
      - name: CanParticipateInMultiLegOrder
        in: query
        description: Should the result only include option roots that allow/disallow exchange traded option strategies, also know as multi-leg or combination orders. All roots are returned regardless if omitted.
        style: form
        explode: false
        schema:
          title: Should the result only include option roots that allow/disallow exchange traded option strategies, also know as multi-leg or combination orders. All roots are returned regardless if omitted.
          type: boolean
        example: true
      - name: Class
        in: query
        description: The class of the instruments to include in the search.
        style: form
        explode: false
        schema:
          title: The class of the instruments to include in the search.
          type: array
          items:
            $ref: '#/components/schemas/Class'
        example:
        - Complex
      - name: ExchangeId
        in: query
        description: ID of the exchange that the instruments must match.
        style: form
        explode: false
        schema:
          title: ID of the exchange that the instruments must match.
          type: string
        example: stringValue
      - name: IncludeNonTradable
        in: query
        description: Should the search include instruments, which are not online client tradable?
        style: form
        explode: false
        schema:
          title: Should the search include instruments, which are not online client tradable?
          type: boolean
        example: true
      - name: Keywords
        in: query
        description: Search for matching keywords in the instruments. Separate keywords with spaces.
        style: form
        explode: false
        schema:
          title: Search for matching keywords in the instruments. Separate keywords with spaces.
          type: string
        example: stringValue
      - name: OneMonthTotalValueChangesFrom
        in: query
        description: "Subject to data license agreements.\n             Upper filter boundary for one month total value changes that the instruments must match."
        style: form
        explode: false
        schema:
          title: "Subject to data license agreements.\n             Upper filter boundary for one month total value changes that the instruments must match."
          type: number
        example: 10
      - name: OneMonthTotalValueChangesTo
        in: query
        description: "Subject to data license agreements.\n             Lower filter boundary for one month total value changes that the instruments must match."
        style: form
        explode: false
        schema:
          title: "Subject to data license agreements.\n             Lower filter boundary for one month total value changes that the instruments must match."
          type: number
        example: 10
      - name: OneWeekTotalValueChangesFrom
        in: query
        description: "Subject to data license agreements.\n             Upper filter boundary for one week total value changes that the instruments must match."
        style: form
        explode: false
        schema:
          title: "Subject to data license agreements.\n             Upper filter boundary for one week total value changes that the instruments must match."
          type: number
        example: 10
      - name: OneWeekTotalValueChangesTo
        in: query
        description: "Subject to data license agreements.\n             Lower filter boundary for one week total value changes that the instruments must match."
        style: form
        explode: false
        schema:
          title: "Subject to data license agreements.\n             Lower filter boundary for one week total value changes that the instruments must match."
          type: number
        example: 10
      - name: OneYearTotalValueChangesFrom
        in: query
        description: "Subject to data license agreements.\n             Upper filter boundary for one year total value changes that the instruments must match."
        style: form
        explode: false
        schema:
          title: "Subject to data license agreements.\n             Upper filter boundary for one year total value changes that the instruments must match."
          type: number
        example: 10
      - name: OneYearTotalValueChangesTo
        in: query
        description: "Subject to data license agreements.\n             Lower filter boundary for one year total value changes that the instruments must match."
        style: form
        explode: false
        schema:
          title: "Subject to data license agreements.\n             Lower filter boundary for one year total value changes that the instruments must match."
          type: number
        example: 10
      - name: Tags
        in: query
        description: "Allows filtering by display hint, on Stocks, ETFs and ETCs are currently supported.\n            Use null to indicate Tag should not be included in search criteria.\n            Currently only one tag is supported."
        style: form
        explode: false
        schema:
          title: "Allows filtering by display hint, on Stocks, ETFs and ETCs are currently supported.\n            Use null to indicate Tag should not be included in search criteria.\n            Currently only one tag is supported."
          type: array
          items:
            type: string
            example: stringValue
        example:
        - stringValue
      - name: Uics
        in: query
        description: Limit list to return information for the following Uics
        style: form
        explode: false
        schema:
          title: Limit list to return information for the following Uics
          type: array
          items:
            type: integer
            format: int32
            example: 99
        example:
        - 99
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryInfoListResult'
              example:
                __next: /openapi/....../?$top=1&$skip=1
                Data:
                - AssetType: CfdOnFutures
                  Description: US Crude June 2017
                  ExchangeId: ''
                  GroupId: 0
                  Identifier: 6456061
                  IsKeywordMatch: true
                  PrimaryListing: 6456061
                  SummaryType: Instrument
                  Symbol: OILUSJUN17
                  TradableAs:
                  - CfdOnFutures
                - AssetType: CfdOnFutures
                  Description: US Crude July 2017
                  ExchangeId: ''
                  GroupId: 0
                  Identifier: 6665418
                  IsKeywordMatch: true
                  PrimaryListing: 6456061
                  SummaryType: Instrument
                  Symbol: OILUSJUL17
                  TradableAs:
                  - CfdOnFutures
                - AssetType: CfdOnFutures
                  Description: Heating Oil June 2017
                  ExchangeId: ''
                  GroupId: 0
                  Identifier: 6559778
                  IsKeywordMatch: true
                  PrimaryListing: 6559778
                  SummaryType: Instrument
                  Symbol: HEATINGOILJUN17
                  TradableAs:
                  - CfdOnFutures
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - AssetTypesParseFailed
                    - InvalidSearchCriteriaProvided
                    - NoSearchCriteriaProvided
                    type: string
                    example: None
                    x-enum-descriptions:
                      NoSearchCriteriaProvided: No search criteria provided.
                      InvalidSearchCriteriaProvided: Invalid instrument search criteria provided.
                      AssetTypesParseFailed: Failed to parse AssetTypes.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        restricted: Read
components:
  schemas:
    InstrumentSession:
      type: object
      properties:
        EndTime:
          title: UTC date and time of when the state ends
          type: string
          format: date-time
          x-type-name: UtcDateTime
        StartTime:
          title: UTC date and time of when the state starts
          type: string
          format: date-time
          x-type-name: UtcDateTime
        State:
          title: Gets the  for the specied  and
          allOf:
          - $ref: '#/components/schemas/InstrumentSessionState'
      additionalProperties: false
      example:
        EndTime: '9999-12-31T23:59:59.9999990+00:00'
        StartTime: '9999-12-31T23:59:59.9999990+00:00'
        State: AutomatedTrading
    OrderDistances:
      title: Distance information for creating orders.
      type: object
      properties:
        EntryDefaultDistance:
          title: Default distance for entry orders (either pips or %, etc, see EntryDefaultDistanceType)
          type: number
          example: 10
        EntryDefaultDistanceType:
          title: Default distance units for entry orders (%, pips, etc).
          allOf:
          - $ref: '#/components/schemas/OrderDistanceType'
        LimitDefaultDistance:
          title: Default distance for limit orders (either pips or %, etc, see LimitDefaultDistanceType)
          type: number
          example: 10
        LimitDefaultDistanceType:
          title: Default distance units for limit orders
          allOf:
          - $ref: '#/components/schemas/OrderDistanceType'
        StopLimitDefaultDistance:
          title: Default distance for stoplimit orders (either pips or %, etc, see StopLimitDefaultDistanceType)
          type: number
          example: 10
        StopLimitDefaultDistanceType:
          title: Default distance units for stoplimit orders
          allOf:
          - $ref: '#/components/schemas/OrderDistanceType'
        StopLossDefaultDistance:
          title: Default distance for a related stop order (either pips or %, etc, see StopLossDefaultDistanceType)
          type: number
          example: 10
        StopLossDefaultDistanceType:
          title: Default distance units for related stop orders
          allOf:
          - $ref: '#/components/schemas/OrderDistanceType'
        StopLossDefaultEnabled:
          title: Should the Add a related stop order checkbox be checked by default?
          type: boolean
          example: false
        StopLossDefaultOrderType:
          title: Default order type for a related stop order
          allOf:
          - $ref: '#/components/schemas/PlaceableOrderType'
        TakeProfitDefaultDistance:
          title: Default distance for a related limit order (either pips or %, etc, see TakeProfitDefaultDistanceType)
          type: number
          example: 10
        TakeProfitDefaultDistanceType:
          title: Default distance units for related limit orders
          allOf:
          - $ref: '#/components/schemas/OrderDistanceType'
        TakeProfitDefaultEnabled:
          title: Should the Add a related limit order checkbox be checked by default
          type: boolean
          example: false
      additionalProperties: false
      example:
        EntryDefaultDistance: 0
        EntryDefaultDistanceType: Percentage
        LimitDefaultDistance: 0
        LimitDefaultDistanceType: Percentage
        StopLimitDefaultDistance: 5
        StopLimitDefaultDistanceType: Pips
        StopLossDefaultDistance: 0.5
        StopLossDefaultDistanceType: Percentage
        StopLossDefaultEnabled: false
        StopLossDefaultOrderType: Stop
        TakeProfitDefaultDistance: 0.5
        TakeProfitDefaultDistanceType: Percentage
        TakeProfitDefaultEnabled: false
    PlaceableOrderType:
      title: Specifies supported order types placeable in the orders ticket.
      enum:
      - Algorithmic
      - DealCapture
      - GuaranteedStop
      - Limit
      - Market
      - Stop
      - StopIfTraded
      - StopLimit
      - Switch
      - TrailingStop
      - TrailingStopIfTraded
      - Traspaso
      - TraspasoIn
      - TriggerBreakout
      - TriggerLimit
      - TriggerStop
      type: string
      example: Limit
      x-enum-descriptions:
        Market: Market Order.
        Limit: Limit Order.
        StopIfTraded: Stop if traded.
        Stop: Stop Order.
        StopLimit: Stop Limit Order.
        TrailingStopIfTraded: Trailing stop if traded.
        TrailingStop: Trailing stop.
        Algorithmic: Algo order.
        Switch: Switch order, Sell X and Buy Y with one order.
        Traspaso: Traspaso. Specific type of switch order. Only available on select MutualFunds.
        TraspasoIn: TraspasoIn. Specific type of switch order
        GuaranteedStop: Order Type currently not supported.
        TriggerLimit: Trigger limit order. Specific type for trigger orders.
        TriggerStop: Trigger stop order. Specific type for trigger orders.
        TriggerBreakout: Trigger breakout order. Specific type for trigger orders.
        DealCapture: "Deal Capture Order. Specify to capture trades, which are already registered on Exchange, into Saxo System. \n            Currently supported for selected partners only."
    NonTradableReasons:
      title: Non Tradable Reasons
      enum:
      - ETFsWithoutKIIDs
      - ExpiredInstrument
      - NonShortableInstrument
      - None
      - NotOnlineClientTradable
      - OfflineTradableBonds
      - OtherReason
      - ReduceOnlyInstrument
      type: string
      example: None
      x-enum-descriptions:
        None: None
        NotOnlineClientTradable: This instrument is not tradable
        ReduceOnlyInstrument: This instrument is not reduce-only
        ExpiredInstrument: This instrument has expired
        OfflineTradableBonds: This instrument is tradable offline
        ETFsWithoutKIIDs: The issuer has not provided a Key Information Document (KID) for this instrument
        NonShortableInstrument: Short selling is not available for this instrument
        OtherReason: This instrument is not tradable
    TickSizeScheme:
      title: The tick size scheme of an instrument. Relevant for shares, CFDs on shares and contract options.
      type: object
      properties:
        DefaultTickSize:
          title: Use this tick size if price does not match any of the defined tick size elements.
          type: number
          example: 10
        Elements:
          title: The tick size scheme of the instrument. Relevant for shares, CFDs on shares and contract options.
          type: array
          items:
            $ref: '#/components/schemas/TickSizeSchemeElement'
          example:
          - HighPrice: 10
            TickSize: 10
      additionalProperties: false
      example:
        DefaultTickSize: 10
        Elements:
        - HighPrice: 10
          TickSize: 10
    InstrumentFieldGroup:
      title: Specification of field group to include additional data in results.
      enum:
      - OrderSetting
      - SupportedOrderTypeSettings
      - TradingSessions
      type: string
      example: MarketData
      x-enum-descriptions:
        OrderSetting: Adds information about the instrument's order setting.
        TradingSessions: Adds information about the instrument's trading sessions.
        SupportedOrderTypeSettings: Adds information about supported order types.
    IpoDetails:
      title: Initial public offering details information
      type: object
      properties:
        ActivationFrom:
          title: Activation from date time of initial public offering
          type: string
          format: date-time
          x-type-name: UtcDateTime
        ActivationTo:
          title: Activation to date time of Initial public offering
          type: string
          format: date-time
          x-type-name: UtcDateTime
        AllotmentDate:
          title: Allotment date of initial public offering
          type: string
          format: date-time
          x-type-name: UtcDateTime
        Denominations:
          type: array
          items:
            type: integer
            format: int32
            example: 99
          example:
          - 99
        ListingDate:
          title: Listing date of initial public offering
          type: string
          format: date-time
          x-type-name: UtcDateTime
        MarketDeadline:
          title: Market deadline of initial public offering
          type: string
          format: date-time
          x-type-name: UtcDateTime
        MaxLeveragePct:
          title: Maximum leverage percentage
          type: integer
          format: int32
          example: 99
        MaxLotSize:
          title: Maximum lot size
          type: integer
          format: int32
          example: 99
      additionalProperties: false
      example:
        ActivationFrom: '9999-12-31T23:59:59.9999990+00:00'
        ActivationTo: '9999-12-31T23:59:59.9999990+00:00'
        AllotmentDate: '9999-12-31T23:59:59.9999990+00:00'
        Denominations:
        - 99
        ListingDate: '9999-12-31T23:59:59.9999990+00:00'
        MarketDeadline: '9999-12-31T23:59:59.9999990+00:00'
        MaxLeveragePct: 99
        MaxLotSize: 99
    InstrumentSessionState:
      title: The different states an instrument session can have
      enum:
      - Auction
      - AutomatedTrading
      - Break
      - CallAuctionTrading
      - Closed
      - Halt
      - OpeningAuction
      - PitTrading
      - PostAutomatedTrading
      - PostMarket
      - PostTrading
      - PreAutomatedTrading
      - PreMarket
      - PreTrading
      - Suspended
      - TradingAtLast
      - Undefined
      type: string
      example: Closed
      x-enum-descriptions:
        Undefined: The state of the Exchange is unknown
        AutomatedTrading: Normal trading
        Closed: Closed for trading
        CallAuctionTrading: "Participants place orders to buy or sell units at certain buying or selling prices.\n            Orders collected during an auction are matched to form a contract"
        Break: Break in instrument opening hours
        PitTrading: Transactions are conducted in trading pits on the floor of the Exchange
        PostTrading: Extended trading session after normal opening hours
        PreTrading: Extended trading session before normal opening hours
        PostAutomatedTrading: Extended trading session after normal opening hours
        PreAutomatedTrading: Extended trading session before normal opening hours
        Suspended: Trading is suspended for an instrument
        Halt: Trading is halted for an instrument
        Auction: "Participants place orders to buy or sell units at certain buying or selling prices.\n            Orders collected during an auction are matched to form a contract"
        PreMarket: Extended trading session before normal opening hours
        PostMarket: Extended trading session after normal opening hours
        OpeningAuction: Opening auction exchange state
        TradingAtLast: Orders collected at last price in absence of closing auction price
    ExchangeSummary:
      title: Name and id of an Exchange.
      type: object
      properties:
        CountryCode:
          title: The ISO 3166-2 country code of the exchange's country.
          type: string
          example: stringValue
        ExchangeId:
          title: The unique ID of the exchange.
          type: string
          example: stringValue
        Name:
          title: The name of the exchange.
          type: string
          description: This is the same as ShortDescription in the database.
          example: stringValue
        PriceSourceName:
          title: The name of the price source.
          type: string
          description: This is the same as SourceAttributionDescription in the database.
          example: stringValue
        TimeZoneId:
          title: Exchange's TimeZone
          type: string
          example: stringValue
      additionalProperties: false
      example:
        CountryCode: DE
        ExchangeId: EUREX
        Name: Eurex
        PriceSourceName: Eurex
    BondType:
      title: Enum to identify the type of bond
      enum:
      - Convertible
      - DualCurrency
      - FloatingRateNote
      - InflationLinked
      - NonInflationLinked
      - Perpetual
      type: string
      example: NonInflationLinked
      x-enum-descriptions:
        NonInflationLinked: Non Inflation Linked Bond
        InflationLinked: Inflation Linked Bond
        Convertible: Convertible Bond
        Perpetual: Perpetual Bond
        FloatingRateNote: FloatingRateNote Bond
        DualCurrency: DualCurrency Bond
    LocalizedInfo:
      title: Provides information about the localization.
      type: object
      properties:
        Key:
          title: Key identifier for the value.
          type: string
          example: stringValue
        Value:
          title: "A string value that represents the localized text. If the key is not found in specific language, it will be text of default language.\n            If the key is not found at all in localization resources, then key will be used in value itself."
          type: string
          example: stringValue
      additionalProperties: false
      example:
        Key: stringValue
        Value: stringValue
    ContractOptionEntry:
      title: Describes one specific option related to an option root.
      type: object
      properties:
        DisplayDaysToExpiry:
          title: The days to expiry to use for display purposes.
          type: integer
          format: int32
          example: 99
        DisplayDaysToLastTradeDate:
          title: The days to Last Trade to use for display purposes.
          type: integer
          format: int32
          example: 99
        DisplayExpiry:
          title: The expiry date to use for display purposes.
          type: string
          format: date
          x-type-name: Date
        Expiry:
          title: The Expiry Date
          type: string
          format: date
          x-type-name: Date
        LastTradeDate:
          title: The Last Trade Date
          type: string
          format: date-time
          x-type-name: UtcDateTime
        SpecificOptions:
          title: "List of specific options for the specified expiry date.\n            This array will only be available for the dates specified in the request (OptionSpace, ExpiryDates)"
          type: array
          items:
            $ref: '#/components/schemas/ContractOption'
          example:
          - PutCall: Call
            StrikePrice: 12750
            TradingStatus: NotDefined
            Uic: 6507156
            UnderlyingUic: 1907570
        TickSizeScheme:
          title: The current tick size scheme of the expiry group.
          allOf:
          - $ref: '#/components/schemas/TickSizeScheme'
      additionalProperties: false
      example:
        DisplayDaysToExpiry: 34
        DisplayDaysToLastTradeDate: 0
        DisplayExpiry: '2017-06-01'
        Expiry: '2017-06-16'
        LastTradeDate: '0001-01-01T00:00:00.0000000+00:00'
        SpecificOptions:
        - PutCall: Call
          StrikePrice: 13500
          TradingStatus: NotDefined
          Uic: 6608098
          UnderlyingUic: 1907570
        - PutCall: Put
          StrikePrice: 13500
          TradingStatus: NotDefined
          Uic: 6608101
          UnderlyingUic: 1907570
    ContractOptionSpace:
      title: Detailed information of all options related to a specific option root
      type: object
      properties:
        AmountDecimals:
          title: The trading amount supported decimals.
          type: integer
          format: int32
          example: 99
        AssetType:
          title: 'AssetType (Note: OptionRoots also have an asset type (FuturesOption, StockOption, StockIndexOption).'
          allOf:
          - $ref: '#/components/schemas/AssetType'
        CanParticipateInMultiLegOrder:
          title: True if this option root supports exchange traded option strategies, also know as multi-leg or combination orders.
          type: boolean
          example: false
        ContractSize:
          title: No of units of the underlying instrument covered by one contract.
          type: number
          example: 10
        CurrencyCode:
          title: The ISO currency code of the instrument/symbol.
          type: string
          example: stringValue
        DefaultAmount:
          title: Default amount suggested for trading this Instrument
          type: number
          example: 10
        DefaultExpiry:
          title: OBSOLETE - The expiry date of the default option for this option space. DefaultExpiry will not be available from May-2019.
          type: string
          example: stringValue
          deprecated: true
        DefaultOption:
          title: OBSOLETE - The default option for this option space. DefaultOption will not be available from May-2019.
          allOf:
          - $ref: '#/components/schemas/ContractOption'
          deprecated: true
        Description:
          title: Description of Instrument (DAX Index - Nov 2013), in English.
          type: string
          example: stringValue
        DisplayHint:
          title: Hint to the client application about how it should display the instrument.
          allOf:
          - $ref: '#/components/schemas/DisplayHintType'
        Exchange:
          title: "Information about the exchange where this instrument or the underlying instrument is traded.\n            \n\n*   For most instruments this is the exchange where this instrument is traded.\n*   For CFDs on stocks and futures, it is the exchange where the underlying instrument is traded.\n*   For CFDs on stock indices, it is the exchange of the underlying ticker."
          allOf:
          - $ref: '#/components/schemas/ExchangeSummary'
        ExerciseStyle:
          title: The style of exercise, can be either American or European.
          allOf:
          - $ref: '#/components/schemas/ExerciseStyle'
        ExpiryDate:
          title: 'Expiry date of the instrument. Applicable for Types: Futures, CfdOnFutures, ContractOptions'
          type: string
          description: 'Applicable for Types: Futures, CfdOnFutures, ContractOptions'
          format: date
          x-type-name: Date
        Format:
          title: Price formatting information
          allOf:
          - $ref: '#/components/schemas/PriceDisplayFormat'
        GroupId:
          title: The GroupId value is used to group and structure instruments list. 0 is being used for ungrouped data.
          type: integer
          format: int32
          example: 99
        IncrementSize:
          title: The rate at which price should be incremented when done in steps.
          type: number
          example: 10
        IsComplex:
          title: Is the instrument (complex)?
          type: boolean
          example: false
        IsTradable:
          title: Is the instrument (currently) tradable by the user represented in the API token?
          type: boolean
          example: false
        LotSize:
          title: The LotSize, how many contracts in a lot traded?.
          type: number
          example: 10
        LotSizeType:
          title: Lotsize Type.
          allOf:
          - $ref: '#/components/schemas/LotSizeType'
          description: 'Applicable for Types: Shares, CfdOnFutures, ContractOptions'
        MinimumLotSize:
          title: The minimum number of items of the instrument to buy. Stock and CFDs only.
          type: number
          description: Since this is only pertinent to CFDs and stocks, it should be moved to those subclasses, even though the value is defined for all instrument types. Or is it?
          example: 10
        MinimumOrderValue:
          title: 'Minimum value for each order. Applicable for Types: Shares, CfdOnFutures'
          type: number
          description: Value of trade (Amount * Price) must be greater than or equal to
          example: 10
        NoticeDate:
          title: Notice date of the instrument. Futures only.
          type: string
          description: 'Applicable for Types: Futures'
          format: date
          x-type-name: Date
        OptionRootId:
          title: Id of OptionRoot
          type: integer
          format: int32
          example: 99
        OptionSpace:
          title: List containing entries for each individual option.
          type: array
          items:
            $ref: '#/components/schemas/ContractOptionEntry'
          example:
          - DisplayDaysToExpiry: 34
            DisplayDaysToLastTradeDate: 0
            DisplayExpiry: '2017-06-01'
            Expiry: '2017-06-16'
            LastTradeDate: '0001-01-01T00:00:00Z'
            SpecificOptions:
            - PutCall: Call
              StrikePrice: 13500
              TradingStatus: NotDefined
              Uic: 6608098
              UnderlyingUic: 1907570
            - PutCall: Put
              StrikePrice: 13500
              TradingStatus: NotDefined
              Uic: 6608101
              UnderlyingUic: 1907570
        OrderDistances:
          title: Minimal order distances for each order type.
          allOf:
          - $ref: '#/components/schemas/OrderDistances'
        PriceCurrency:
          title: Price currency of the instrument.
          type: string
          example: stringValue
        PriceToContractFactor:
          title: 'Price to contract factor. Applicable for Types: Futures, CfdOnFutures, ContractOptions, CfdIndices.'
          type: number
          description: 'Applicable for Types: Futures, CfdOnFutures, ContractOptions, CfdIndices'
          example: 10
        PrimaryListing:
          title: "The uic of the primary listing of this instrument.\n            For stocks and CFDs, this is the instrument traded on the exchange of the same country as issuer country.\n            For expiring instruments, this is the next expiring instance."
          type: integer
          format: int32
          example: 99
        RelatedInstruments:
          title: List of related UICs and asset types.
          type: array
          items:
            $ref: '#/components/schemas/InstrumentKey'
          example:
          - AssetType: MutualFund
            Uic: 99
        RelatedOptionRoots:
          title: OBSOLETE. Please use RelatedOptionRootsEnhanced instead. This field will be removed from December 2020.
          type: array
          items:
            type: integer
            format: int32
            example: 99
          example:
          - 99
          deprecated: true
        RelatedOptionRootsEnhanced:
          title: List of related Option root id's combined with asset type.
          type: array
          items:
            $ref: '#/components/schemas/RelatedOptionRoot'
          example:
          - AssetType: CfdOnEtf
            OptionRootId: 99
            SupportedStrategies:
            - Diagonal
        SettlementStyle:
          title: The style of settlement, e.g. cash or physical delivery.
          allOf:
          - $ref: '#/components/schemas/SettlementStyle'
        StandardAmounts:
          title: Standard amounts. Used for drop downs in trade tickets.
          type: array
          items:
            type: number
            example: 10
          example:
          - 10
        SupportedOrderTypes:
          title: What types of orders can be placed on this instrument ( or option)
          type: array
          items:
            $ref: '#/components/schemas/PlaceableOrderType'
          example:
          - TrailingStopIfTraded
        SupportedStrategies:
          title: Supported strategies for option root.
          type: array
          items:
            $ref: '#/components/schemas/OptionsStrategyType'
          example:
          - BackRatio
        Symbol:
          title: Symbol- A combination of letters used to uniquely identify a traded instrument. e.g. ODAX/X13C8950:xeur or EURUSD.
          type: string
          example: stringValue
        TickSize:
          title: Minimum price movement of an instrument.
          type: number
          example: 10
        TradableOn:
          title: Specifies what accounts the calling client can trade this instrument or option space on.
          type: array
          items:
            type: string
            example: stringValue
          example:
          - stringValue
        UnderlyingAssetType:
          title: The asset type of the underlying instrument.
          allOf:
          - $ref: '#/components/schemas/AssetType'
      additionalProperties: false
      example:
        AmountDecimals: 0
        AssetType: StockIndexOption
        CanParticipateInMultiLegOrder: true
        ContractSize: 5
        CurrencyCode: EUR
        DefaultAmount: 1
        Description: DAX Index
        Exchange:
          CountryCode: DE
          ExchangeId: EUREX
          Name: Eurex
          PriceSourceName: Eurex
        ExerciseStyle: European
        Format:
          Decimals: 2
          OrderDecimals: 2
          StrikeDecimals: 2
        GroupId: 0
        IncrementSize: 1
        IsTradable: true
        LotSize: 1
        LotSizeType: OddLotsNotAllowed
        OptionRootId: 6
        OptionSpace:
        - DisplayDaysToExpiry: 3
          DisplayDaysToLastTradeDate: 0
          DisplayExpiry: '2017-05-01'
          Expiry: '2017-05-19'
          LastTradeDate: '0001-01-01T00:00:00Z'
        - DisplayDaysToExpiry: 34
          DisplayDaysToLastTradeDate: 0
          DisplayExpiry: '2017-06-01'
          Expiry: '2017-06-16'
          LastTradeDate: '0001-01-01T00:00:00Z'
          SpecificOptions:
          - PutCall: Call
            StrikePrice: 13500
            TradingStatus: NotDefined
            Uic: 6608098
            UnderlyingUic: 1907570
          - PutCall: Put
            StrikePrice: 13500
            TradingStatus: NotDefined
            Uic: 6608101
            UnderlyingUic: 1907570
          - PutCall: Call
            StrikePrice: 12750
            TradingStatus: NotDefined
            Uic: 6507156
            UnderlyingUic: 1907570
          - PutCall: Call
            StrikePrice: 12900
            TradingStatus: NotDefined
            Uic: 6507157
            UnderlyingUic: 1907570
          - PutCall: Call
            StrikePrice: 12950
            TradingStatus: NotDefined
            Uic: 6507158
            UnderlyingUic: 1907570
        - DisplayDaysToExpiry: 126
          DisplayDaysToLastTradeDate: 0
          DisplayExpiry: '2017-09-01'
          Expiry: '2017-09-15'
          LastTradeDate: '0001-01-01T00:00:00Z'
        - DisplayDaysToExpiry: 217
          DisplayDaysToLastTradeDate: 0
          DisplayExpiry: '2017-12-01'
          Expiry: '2017-12-15'
          LastTradeDate: '0001-01-01T00:00:00Z'
        - DisplayDaysToExpiry: 307
          DisplayDaysToLastTradeDate: 0
          DisplayExpiry: '2018-03-01'
          Expiry: '2018-03-16'
          LastTradeDate: '0001-01-01T00:00:00Z'
        - DisplayDaysToExpiry: 399
          DisplayDaysToLastTradeDate: 0
          DisplayExpiry: '2018-06-01'
          Expiry: '2018-06-15'
          LastTradeDate: '0001-01-01T00:00:00Z'
        - DisplayDaysToExpiry: 582
          DisplayDaysToLastTradeDate: 0
          DisplayExpiry: '2018-12-01'
          Expiry: '2018-12-21'
          LastTradeDate: '0001-01-01T00:00:00Z'
        - DisplayDaysToExpiry: 764
          DisplayDaysToLastTradeDate: 0
          DisplayExpiry: '2019-06-01'
          Expiry: '2019-06-21'
          LastTradeDate: '0001-01-01T00:00:00Z'
        - DisplayDaysToExpiry: 947
          DisplayDaysToLastTradeDate: 0
          DisplayExpiry: '2019-12-01'
          Expiry: '2019-12-20'
          LastTradeDate: '0001-01-01T00:00:00Z'
        - DisplayDaysToExpiry: 1313
          DisplayDaysToLastTradeDate: 0
          DisplayExpiry: '2020-12-01'
          Expiry: '2020-12-18'
          LastTradeDate: '0001-01-01T00:00:00Z'
        - DisplayDaysToExpiry: 1678
          DisplayDaysToLastTradeDate: 0
          DisplayExpiry: '2021-12-01'
          Expiry: '2021-12-17'
          LastTradeDate: '0001-01-01T00:00:00Z'
        OrderDistances:
          EntryDefaultDistance: 0
          EntryDefaultDistanceType: Percentage
          LimitDefaultDistance: 0
          LimitDefaultDistanceType: Percentage
          StopLimitDefaultDistance: 5
          StopLimitDefaultDistanceType: Pips
          StopLossDefaultDistance: 0.5
          StopLossDefaultDistanceType: Percentage
          StopLossDefaultEnabled: false
          StopLossDefaultOrderType: Stop
          TakeProfitDefaultDistance: 0.5
          TakeProfitDefaultDistanceType: Percentage
          TakeProfitDefaultEnabled: false
        PriceToContractFactor: 5
        RelatedInstruments:
        - AssetType: StockIndex
          Uic: 1907570
        RelatedOptionRootsEnhanced:
        - AssetType: StockIndexOption
          OptionRootId: 110
        - AssetType: StockOption
          OptionRootId: 111
        - AssetType: StockOption
          OptionRootId: 112
        SettlementStyle: CashDelivery
        StandardAmounts:
        - 1
        - 5
        - 10
        - 25
        - 50
        - 100
        - 500
        - 1000
        SupportedOrderTypes:
        - Limit
        Symbol: ODAX:xeur
        TickSize: 0.1
        TradableOn:
        - 76940INET
        - 76940INET1
        - 76940INET2
        UnderlyingAssetType: StockIndex
    OrderDistanceType:
      title: Defines how order distance is represented.
      enum:
      - Percentage
      - Pips
      - Price
      - Undefined
      type: string
      example: Percentage
      x-enum-descriptions:
        Percentage: '% +/- the current price'
        Pips: +/- the current price.  Only applicable to Fx.
        Price: Absolute price.
    Class:
      title: Contains instrument class filter flags
      enum:
      - Complex
      - NonComplex
      type: string
      example: NonComplex
      x-enum-descriptions:
        NonComplex: Non-complex
        Complex: Complex
    RelatedOptionRoot:
      title: Combination of OptionRootId and AssetType, so endpoint user knows the asset type of the option.
      type: object
      properties:
        AssetType:
          title: The type of the option root.
          allOf:
          - $ref: '#/components/schemas/AssetType'
        OptionRootId:
          title: Id of OptionRoot.
          type: integer
          format: int32
          example: 99
        SupportedStrategies:
          title: Supported strategies for option root.
          type: array
          items:
            $ref: '#/components/schemas/OptionsStrategyType'
          example:
          - BackRatio
      additionalProperties: false
      example:
        AssetType: CfdIndexOption
        OptionRootId: 99
        SupportedStrategies:
        - Custom
    LotSizeType:
      title: Lot size type.
      enum:
      - BuyOnly
      - NotUsed
      - OddLotsAllowed
      - OddLotsNotAllowed
      type: string
      example: NotUsed
      x-enum-descriptions:
        NotUsed: Lot size not used.
        OddLotsNotAllowed: Lot size must be respected = no odd lot support.
        OddLotsAllowed: Lot size should be respected = odd lot support support exist.
        BuyOnly: Lot size should be respected = for buy only
    ContractOption:
      title: Information about a specific option entry, where the expiration date is given by the enclosing ContractOptionEntry
      type: object
      properties:
        PutCall:
          title: Put or Call option
          allOf:
          - $ref: '#/components/schemas/Public.PutCall'
        StrikePrice:
          title: The strike price
          type: number
          example: 10
        TradingStatus:
          title: The trading status of the Contract option
          allOf:
          - $ref: '#/components/schemas/TradingStatus'
        Uic:
          title: The uic of this particular Option with expiry determined by parent structure, and strike and put/call as specified by the entry
          type: integer
          format: int32
          example: 99
        UnderlyingUic:
          title: Uic of the underlying instrument for this particular option
          type: integer
          format: int32
          example: 99
      additionalProperties: false
      example:
        PutCall: Call
        StrikePrice: 12750
        TradingStatus: NotDefined
        Uic: 6507156
        UnderlyingUic: 1907570
    FuturesSpaceElement:
      title: Contains futures space-relevant information about one element in the space.
      type: object
      properties:
        DaysToExpiry:
          title: Number of days until expiry.
          type: integer
          format: int32
          example: 99
        ExpiryDate:
          title: Expiry date of the instrument. Futures only.
          type: string
          format: date
          x-type-name: Date
        Symbol:
          title: Gets the symbol, which is the unique and global name for the instrument
          type: string
          example: stringValue
        Uic:
          title: Gets the UIC (Unique Instrument Code. Saxo Bank internal code for instruments)
          type: integer
          format: int32
          example: 99
      additionalProperties: false
      example:
        DaysToExpiry: 64
        ExpiryDate: '2017-07-14'
        Symbol: WQ7
        Uic: 3406797
    FuturesSpace:
      title: Represents a complete futures space.
      type: object
      properties:
        BaseIdentifier:
          title: The base id of the futures space.
          type: string
          example: stringValue
        Elements:
          title: The elements of the futures space.
          type: array
          items:
            $ref: '#/components/schemas/FuturesSpaceElement'
          example:
          - DaysToExpiry: 64
            ExpiryDate: '2017-07-14'
            Symbol: WQ7
            Uic: 3406797
      additionalProperties: false
      example:
        BaseIdentifier: W
        Elements:
        - DaysToExpiry: 64
          ExpiryDate: '2017-07-14'
          Symbol: WQ7
          Uic: 3406797
        - DaysToExpiry: 127
          ExpiryDate: '2017-09-15'
          Symbol: WV7
          Uic: 3844782
        - DaysToExpiry: 188
          ExpiryDate: '2017-11-15'
          Symbol: WZ7
          Uic: 4239352
        - DaysToExpiry: 278
          ExpiryDate: '2018-02-13'
          Symbol: WH8
          Uic: 4895721
        - DaysToExpiry: 337
          ExpiryDate: '2018-04-13'
          Symbol: WK8
          Uic: 5352847
        - DaysToExpiry: 431
          ExpiryDate: '2018-07-16'
          Symbol: WQ8
          Uic: 6112156
        - DaysToExpiry: 491
          ExpiryDate: '2018-09-14'
          Symbol: WV8
          Uic: 6609171
    OptionSpaceSegment:
      title: Specify how large a segment of the complete option space to return.
      enum:
      - AllDates
      - DefaultDates
      - None
      - SpecificDates
      - UnderlyingUic
      type: string
      example: AllDates
      x-enum-descriptions:
        AllDates: Return complete option space.
        DefaultDates: Return all options for the "default" days.
        None: Do not include the option space.
        SpecificDates: Return all options for specified strike days.
        UnderlyingUic: Used to specify filter to return all options for with specified underlying Uic.
    SupportedOrderTypeSetting:
      title: Represents the configuration of an instrument for a specific supported order type.
      type: object
      properties:
        DurationTypes:
          title: Possible order duration types
          type: array
          items:
            $ref: '#/components/schemas/OrderDurationType'
          example:
          - DayOrder
        OrderType:
          title: Order Type
          allOf:
          - $ref: '#/components/schemas/PlaceableOrderType'
      additionalProperties: false
      example:
        DurationTypes:
        - GoodForPeriod
        OrderType: Stop
    InstrumentTradeSessions:
      title: Represents instrument's trading sessions
      type: object
      properties:
        Sessions:
          title: Gets instrument's trade sessions
          type: array
          items:
            $ref: '#/components/schemas/InstrumentSession'
          example:
          - EndTime: '9999-12-31T23:59:59.999999Z'
            StartTime: '9999-12-31T23:59:59.999999Z'
            State: CallAuctionTrading
        TimeZone:
          title: Gets the time zone of the exchange an instrument is traded on.
          type: integer
          format: int32
          example: 99
        TimeZoneAbbreviation:
          title: Gets the time zone's abbreviation.
          type: string
          example: stringValue
        TimeZoneOffset:
          title: Gets the time zone offset, relative to UTC.
          type: string
          example: stringValue
      additionalProperties: false
      example:
        Sessions:
        - EndTime: '9999-12-31T23:59:59.999999Z'
          StartTime: '9999-12-31T23:59:59.999999Z'
          State: Undefined
        TimeZone: 99
        TimeZoneAbbreviation: stringValue
        TimeZoneOffset: '00:00:00.0000061'
    Public.PutCall:
      title: "Specifies type of option. \n             Note: The Put/Call numerical values are not the same as defined in the enum _ClmFeedPutCallTypes\n                   enum _ClmFeedPutCallTypes { ClmFeedCall = 1, ClmFeedPut = 2 } \n            \n             (This enum defines a none (unspecified) value that is not defined in _PutCallTypes)"
      enum:
      - Call
      - None
      - Put
      type: string
      example: None
      x-enum-descriptions:
        None: Not specified.
        Put: Put.
        Call: Call.
    StrategyLeg:
      title: Defines one leg in an exchange traded strategy.
      type: object
      properties:
        AssetType:
          title: Assettype of the instrument identified by the UIC.
          allOf:
          - $ref: '#/components/schemas/AssetType'
        BuySell:
          title: Will the UIC/asset be bought or sold?
          allOf:
          - $ref: '#/components/schemas/BuySell'
        Description:
          title: The description of the instrument this leg represents.
          type: string
          example: stringValue
        LegNumber:
          title: Number of this leg.
          type: integer
          format: int32
          example: 99
        Multiplier:
          title: How many units will be transacted when buying or selling one unit of the main contract.
          type: number
          example: 10
        Uic:
          title: Instrument identifer for this leg.
          type: integer
          format: int32
          example: 99
      additionalProperties: false
      example:
        AssetType: Cash
        BuySell: Buy
        Description: stringValue
        LegNumber: 99
        Multiplier: 10
        Uic: 99
    SummaryInfo:
      title: Provides information about an instrument or contract option root.
      type: object
      properties:
        AssetType:
          title: 'AssetType (Note: OptionRoots also have an asset type (FuturesOption, StockOption, StockIndexOption).'
          allOf:
          - $ref: '#/components/schemas/AssetType'
        CanParticipateInMultiLegOrder:
          title: Only for ContractOption roots. True if this root supports exchange traded option strategies, also know as multi-leg or combination orders.
          type: boolean
          example: false
        CurrencyCode:
          title: The ISO currency code of the instrument/symbol.
          type: string
          example: stringValue
        Description:
          title: Description of Instrument (DAX Index - Nov 2013), in English.
          type: string
          example: stringValue
        DisplayHint:
          title: Hint to the client application about how it should display the instrument.
          allOf:
          - $ref: '#/components/schemas/DisplayHintType'
        ExchangeCountry:
          title: Country of the exchange where the instrument is traded.
          type: string
          example: stringValue
        ExchangeId:
          title: "The Id of the exchange where this instrument or the underlying instrument is traded.\n            For most instruments this is the exchange where this instrument is traded.\n            For CFDs on stocks and futures, it is the exchange where the underlying instrument is traded.\n            For CFDs on stock indices, it is the exchange of the underlying ticker."
          type: string
          example: stringValue
        ExchangeName:
          title: "Name of the exchange where this instrument or the underlying instrument is traded. \n            See ExchangeId for further information."
          type: string
          example: stringValue
        GroupId:
          title: The GroupId value is used to group and structure instruments list. 0 is being used for ungrouped data.
          type: integer
          format: int32
          example: 99
        Identifier:
          title: "Uic - If this is an instrument \n            ContractOptionRootId - if this is an option root."
          type: integer
          format: int32
          example: 99
        IsKeywordMatch:
          title: Indicates that this summary was found as a result of a keyword match.
          type: boolean
          example: false
        PrimaryListing:
          title: "The uic of the primary listing of this instrument.\n            For stocks and CFDs, this is the instrument traded on the exchange of the same country as issuer country.\n            For expiring instruments, this is the next expiring instance."
          type: integer
          format: int32
          example: 99
        SummaryType:
          title: Type of the summary.
          allOf:
          - $ref: '#/components/schemas/EntityType'
        Symbol:
          title: Symbol- A combination of letters used to uniquely identify a traded instrument. e.g. ODAX/X13C8950:xeur or EURUSD.
          type: string
          example: stringValue
        TradableAs:
          title: 'For instruments: How can an instrument with "this" uic also be traded.'
          type: array
          items:
            $ref: '#/components/schemas/AssetType'
          example:
          - FxKnockInOption
        UnderlyingAssetType:
          title: The asset type of the underlying instrument.
          allOf:
          - $ref: '#/components/schemas/AssetType'
      additionalProperties: false
      description: "This class is named SummaryInfo to distinguish it from the corresponding Summary class in the\n            Instrument Cache."
      example:
        AssetType: CfdOnFutures
        Description: US Crude June 2017
        ExchangeId: ''
        GroupId: 0
        Identifier: 6456061
        IsKeywordMatch: true
        PrimaryListing: 6456061
        SummaryType: Instrument
        Symbol: "OILUS\tJUN17"
        TradableAs:
        - CfdOnFutures
    AssetType:
      title: The possible AssetTypes for which you can get a quote or place an order or a trade.
      enum:
      - Bond
      - Cash
      - CertificateBonus
      - CertificateCappedBonus
      - CertificateCappedCapitalProtected
      - CertificateCappedOutperformance
      - CertificateConstantLeverage
      - CertificateDiscount
      - CertificateExpress
      - CertificateTracker
      - CertificateUncappedCapitalProtection
      - CertificateUncappedOutperformance
      - CfdIndexOption
      - CfdOnCompanyWarrant
      - CfdOnEtc
      - CfdOnEtf
      - CfdOnEtn
      - CfdOnFund
      - CfdOnFutures
      - CfdOnIndex
      - CfdOnRights
      - CfdOnStock
      - CompanyWarrant
      - ContractFutures
      - Etc
      - Etf
      - Etn
      - Fund
      - FuturesOption
      - FuturesStrategy
      - FxBinaryOption
      - FxForwards
      - FxKnockInOption
      - FxKnockOutOption
      - FxNoTouchOption
      - FxOneTouchOption
      - FxSpot
      - FxVanillaOption
      - GuaranteeNote
      - IpoOnStock
      - ManagedFund
      - MiniFuture
      - MutualFund
      - PortfolioNote
      - Rights
      - SrdOnEtf
      - SrdOnStock
      - Stock
      - StockIndex
      - StockIndexOption
      - StockOption
      - Warrant
      - WarrantDoubleKnockOut
      - WarrantKnockOut
      - WarrantOpenEndKnockOut
      - WarrantSpread
      type: string
      example: FxForwards
      x-enum-descriptions:
        FxSpot: Forex Spot.
        FxForwards: Forex Forward.
        FxVanillaOption: Forex Vanilla Option.
        FxKnockInOption: Forex Knock In Option.
        FxKnockOutOption: Forex Knock Out Option.
        FxBinaryOption: Forex Binary Option.
        FxOneTouchOption: Forex One Touch Option.
        FxNoTouchOption: Forex No Touch Option.
        ContractFutures: Contract Futures.
        FuturesStrategy: Futures Strategy.
        Stock: Stock.
        StockOption: Stock Option.
        Bond: Bond.
        FuturesOption: Futures Option.
        StockIndexOption: Stock Index Option.
        ManagedFund: 'Obsolete: Managed Fund.'
        Cash: Cash. Not tradeable!
        CfdOnStock: Cfd on Stock.
        CfdOnIndex: Cfd on Stock Index.
        CfdOnFutures: Cfd on Futures.
        StockIndex: Stock Index.
        MutualFund: Mutual Fund.
        CfdIndexOption: Cfd Index Option.
        CfdOnEtf: Cfd on Etf
        CfdOnEtc: Cfd on Etc
        CfdOnEtn: Cfd on Etn
        CfdOnFund: Cfd on Fund
        CfdOnRights: Cfd on Rights
        CfdOnCompanyWarrant: Cfd on unlisted warrant issued by a corporation.
        Etf: Exchange traded fund.
        Etc: Etc
        Etn: Etn
        Fund: Fund
        Rights: Rights
        Warrant: Warrant
        MiniFuture: MiniFuture.
        WarrantSpread: Warrant with built-in spread.
        WarrantKnockOut: Warrant with a knock-out barrier.
        WarrantOpenEndKnockOut: Knock-out Warrant with no expiry.
        WarrantDoubleKnockOut: Warrant with two knock-out barriers.
        CertificateUncappedCapitalProtection: Guarantees a percentage increase of the underlying asset's value above the issue price at expiry/maturity. Max loss is the amount invested multiplied by the CapitalProtection percentage.
        CertificateCappedCapitalProtected: Guarantees a capped percentage increase of the underlying asset's value above the issue price at expiry/maturity. Max loss is the amount invested multiplied by the CapitalProtection percentage.
        CertificateDiscount: Yields a capped return if the underlying asset's value is above the specified cap level at expiry. If the underlying's value is below the strike at expiry, the investor received the underlying or equivalent value. Offers direct exposure in underlying at a lower price (discount) with a capped potential profit and limited loss.
        CertificateCappedOutperformance: Capped Outperformance Certificate.
        CertificateCappedBonus: Certificate Capped Bonus.
        CertificateExpress: Certificate Express kick out.
        CertificateTracker: A certificate that mirrors the price movement of the underlying instrument. Often used to trade movements in indicies. Movements can be a fixed ratio of the underlying and can be inverted for bearish/short speculation. Risk is equivalent to owning the underlying.
        CertificateUncappedOutperformance: Provides leveraged returns when the underlying price exceeds the threshold strike price. The amount leverage is defined by the Participation %. When the underlying is below the strike price, the certificate mirrors the underlying price 1:1.
        CertificateBonus: Mirrors the price movement of the underlying only if and when the underlying price exceeds the defined barrier. If the certificate expires below the barrier, it offers partial protection/return of investment.
        CertificateConstantLeverage: Certificate Constant Leverage.
        SrdOnStock: SRD. (Service de Règlement Différé) on Stock.
        SrdOnEtf: SRD. (Service de Règlement Différé) on Etf.
        IpoOnStock: IPO on Stock
        CompanyWarrant: Unlisted warrant issued by a corporation, often physically settled.
        PortfolioNote: Danish pooled investment scheme (“Pulje”). Not online tradeable.
        GuaranteeNote: Danish investment scheme (“Grantbevis”). Not online tradeable.
    SettlementStyle:
      title: Options for how a contract option is settled when exercised.
      enum:
      - CashDelivery
      - PhysicalDelivery
      type: string
      example: CashDelivery
      x-enum-descriptions:
        CashDelivery: The contract option is settled as cash.
        PhysicalDelivery: The contract option is settled by physical delivery.
    OptionsStrategyType:
      title: Common exchange traded options strategies.
      enum:
      - BackRatio
      - Butterfly
      - CalendarSpread
      - Combo
      - Condor
      - Custom
      - Diagonal
      - Gut
      - IronButterfly
      - IronCondor
      - RiskReversal
      - Straddle
      - Strangle
      - Synthetic
      - Vertical
      type: string
      example: Vertical
      x-enum-descriptions:
        Custom: User defined custom strategy.
        Vertical: A vertical spread has two legs. One is buy and one is sell with same expiration date, but with different strike prices.
        BackRatio: Consists of two options, of same type and expiry, but with different amounts and strike prices.
        Diagonal: A diagonal spread is two options of the same type, one buy and one sell, but with different expiry times and different strike prices. Essentially a combination of a Vertical and Calendar spread.
        Condor: A condor strategy leverages four options with same expiry. A buy and a sell in the money, and a buy and a sell out of the money. Can also be characterized as two call spreads.
        Butterfly: Non directional strategy that combines legs of same expiry, but with varying amounts and strike prices.
        IronButterfly: Two overlapping vertical spreads. One of the verticals is on the call side and one is on the put side.
        IronCondor: A combined put and call spread with same expiration but varying different strikes.
        Straddle: A position in both a call and a put with the same underlier, strike price and maturity expiration date
        Strangle: A position in both a call and put with different strike prices but with the same maturity and underlier
        RiskReversal: One leg is an OTM put, the other leg is an OTM call.
        CalendarSpread: A calendar spread is a long-short position is two calls or two puts. Both options have the same strike, but they have different expirations.
        Gut: Buy a call and then buy a put at a higher strike price, Sell a call and then sell a put at higher strike price. 1:1 ratio
        Synthetic: Buy a call, sell a put at the same strike. Sell a call, buy a put at the same strike. 1:1 ratio
        Combo: Sell call, buy put at lower strike. Buy call, Sell put at lower strike (1:1 ratio).
    SummaryInfoListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/SummaryInfo'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
      example:
        __next: /openapi/....../?$top=1&$skip=1
        Data:
        - AssetType: CfdOnFutures
          Description: US Crude June 2017
          ExchangeId: ''
          GroupId: 0
          Identifier: 6456061
          IsKeywordMatch: true
          PrimaryListing: 6456061
          SummaryType: Instrument
          Symbol: OILUSJUN17
          TradableAs:
          - CfdOnFutures
        - AssetType: CfdOnFutures
          Description: US Crude July 2017
          ExchangeId: ''
          GroupId: 0
          Identifier: 6665418
          IsKeywordMatch: true
          PrimaryListing: 6456061
          SummaryType: Instrument
          Symbol: OILUSJUL17
          TradableAs:
          - CfdOnFutures
        - AssetType: CfdOnFutures
          Description: Heating Oil June 2017
          ExchangeId: ''
          GroupId: 0
          Identifier: 6559778
          IsKeywordMatch: true
          PrimaryListing: 6559778
          SummaryType: Instrument
          Symbol: HEATINGOILJUN17
          TradableAs:
          - CfdOnFutures
    ExerciseStyle:
      title: Indicates the type of the Options. Currently defined for European and American.
      enum:
      - American
      - European
      - None
      type: string
      example: None
      x-enum-descriptions:
        None: Option not defined.
        American: American Option. Can be exercised prior to expiry date.
        European: European Option. Must be exercised on expiry date.
    EntityType:
      title: Type of the summary result element.
      enum:
      - ContractOptionRoot
      - Instrument
      type: string
      example: Instrument
      x-enum-descriptions:
        Instrument: This describes a real instrument.
        ContractOptionRoot: This describes an optionroot (the basis for exchange tradec contract options).
    InstrumentDetailsListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/InstrumentDetails'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
      example:
        __next: /openapi/....../?$top=1&$skip=1
        Data:
        - AmountDecimals: 0
          AssetType: FxSpot
          CurrencyCode: AUD
          DefaultAmount: 100000
          DefaultSlippage: 0.01
          DefaultSlippageType: Percentage
          Description: British Pound/Australian Dollar
          Exchange:
            CountryCode: DK
            ExchangeId: SBFX
            Name: Inter Bank
          Format:
            Decimals: 4
            Format: AllowDecimalPips
            OrderDecimals: 4
          FxForwardMaxForwardDate: '2018-05-08T00:00:00Z'
          FxForwardMinForwardDate: '2017-05-03T00:00:00Z'
          GroupId: 0
          IncrementSize: 5000
          IsTradable: true
          NonTradableReason: None
          OrderDistances:
            EntryDefaultDistance: 0
            EntryDefaultDistanceType: Percentage
            LimitDefaultDistance: 0
            LimitDefaultDistanceType: Percentage
            StopLimitDefaultDistance: 5
            StopLimitDefaultDistanceType: Pips
            StopLossDefaultDistance: 0.5
            StopLossDefaultDistanceType: Percentage
            StopLossDefaultEnabled: false
            StopLossDefaultOrderType: Stop
            TakeProfitDefaultDistance: 0.5
            TakeProfitDefaultDistanceType: Percentage
            TakeProfitDefaultEnabled: false
          StandardAmounts:
          - 10000
          - 50000
          - 100000
          - 250000
          - 500000
          - 1000000
          - 2000000
          - 5000000
          - 10000000
          - 20000000
          SupportedOrderTypes:
          - Market
          - Limit
          - Stop
          - TrailingStop
          - StopLimit
          Symbol: GBPAUD
          TickSize: 5E-05
          TradableAs:
          - FxSpot
          - FxForwards
          - FxVanillaOption
          - FxKnockInOption
          - FxKnockOutOption
          TradableOn:
          - 76940INET
          - 76940INET1
          - 76940INET2
          - SAMGS*585220
          TradingStatus: NotDefined
          Uic: 22
        - AmountDecimals: 0
          AssetType: FxSpot
          CurrencyCode: CAD
          DefaultAmount: 100000
          DefaultSlippage: 0.01
          DefaultSlippageType: Percentage
          Description: British Pound/Canadian Dollar
          Exchange:
            CountryCode: DK
            ExchangeId: SBFX
            Name: Inter Bank
          Format:
            Decimals: 4
            Format: AllowDecimalPips
            OrderDecimals: 4
          FxForwardMaxForwardDate: '2018-05-07T00:00:00Z'
[...]
