openapi: 3.2.0
info:
  title: Services.ReferenceData Currency Pairs API
  description: The Reference Data service group provides reference data, such as instrument details, exchange info etc..
  version: 2.3.361+88ada090e4
  x-framework-version: 43.0.9+b005aba300
  x-machine: SIMOAWEB8-DK2
servers:
- url: https://gateway.saxobank.com/sim/openapi
tags:
- name: CurrencyPairs
  description: Provides information about currency pairs supported by Saxo Bank.
paths:
  /ref/v1/currencypairs:
    get:
      tags:
      - CurrencyPairs
      summary: Get all supported currency pairs
      description: Returns a list of all supported currency pairs.
      operationId: CurrencyPairsGetAllCurrencyPairs
      parameters:
      - name: AccountKey
        in: query
        style: form
        explode: false
        schema:
          minLength: 1
          type: string
          x-type-name: AccountKey
      - name: ClientKey
        in: query
        style: form
        explode: false
        schema:
          minLength: 1
          type: string
          x-type-name: ClientKey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyPairDetailsListResult'
              example:
                Data:
                - CurrencyCode: EUR
                  RelatedCurrencies:
                  - CurrencyCode: AUD
                    Uic: 12
                  - CurrencyCode: CAD
                    Uic: 13
                  - CurrencyCode: DKK
                    Uic: 16
                  - CurrencyCode: GBP
                    Uic: 17
                  - CurrencyCode: JPY
                    Uic: 18
                - CurrencyCode: NOK
                  RelatedCurrencies:
                  - CurrencyCode: CZK
                    Uic: 41943
                  - CurrencyCode: DKK
                    Uic: 2046
                  - CurrencyCode: EUR
                    Uic: 17763
                  - CurrencyCode: SEK
                    Uic: 32
                  - CurrencyCode: USD
                    Uic: 17764
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        restricted: Read
components:
  responses:
    Unauthorized:
      description: Indicates that the request was rejected because the 'Authorization' header was missing in the request or contained an invalid security token.
    TooManyRequests:
      description: The request was rejected due to rate limit being exceeded.
    BadRequest:
      description: One or more of the provided parameters are invalid.
      content:
        application/json:
          schema:
            required:
            - ErrorCode
            - Message
            type: object
            properties:
              ErrorCode:
                enum:
                - InvalidRequest
                type: string
                example: None
                x-enum-descriptions:
                  InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
              Message:
                type: string
              ModelState:
                $ref: '#/components/schemas/ModelStateDictionary'
    ServiceUnavailable:
      description: Service Unavailable.
  schemas:
    CurrencyPairDetails:
      title: Represents a currency pair.
      type: object
      properties:
        CurrencyCode:
          title: Currency code.
          type: string
          example: stringValue
        RelatedCurrencies:
          title: List of related currencies to currency code
          type: array
          items:
            $ref: '#/components/schemas/RelatedCurrency'
          example:
          - CurrencyCode: stringValue
            Uic: 99
      additionalProperties: false
      example:
        CurrencyCode: stringValue
        RelatedCurrencies:
        - CurrencyCode: stringValue
          Uic: 99
    ModelStateDictionary:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    CurrencyPairDetailsListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/CurrencyPairDetails'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
      example:
        Data:
        - CurrencyCode: EUR
          RelatedCurrencies:
          - CurrencyCode: AUD
            Uic: 12
          - CurrencyCode: CAD
            Uic: 13
          - CurrencyCode: DKK
            Uic: 16
          - CurrencyCode: GBP
            Uic: 17
          - CurrencyCode: JPY
            Uic: 18
        - CurrencyCode: NOK
          RelatedCurrencies:
          - CurrencyCode: CZK
            Uic: 41943
          - CurrencyCode: DKK
            Uic: 2046
          - CurrencyCode: EUR
            Uic: 17763
          - CurrencyCode: SEK
            Uic: 32
          - CurrencyCode: USD
            Uic: 17764
    RelatedCurrency:
      title: Responsible for carrying information about a related currency code and the pairs Uic.
      type: object
      properties:
        CurrencyCode:
          title: CurrencyCode.
          type: string
          example: stringValue
        Uic:
          title: Uic.
          type: integer
          format: int32
          example: 99
      additionalProperties: false
      example:
        CurrencyCode: stringValue
        Uic: 99
  securitySchemes:
    OpenApiJWTSecurityScheme:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OpenApiOAuthSecurityScheme:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sim.logonvalidation.net/authorize
          tokenUrl: https://sim.logonvalidation.net/token
          scopes: {}
