openapi: 3.2.0
info:
  title: Services.AssetTransfers Partner - Prefunding API
  description: 'AssetTransfers provide endpoints for asset transfer

    NOTE: This is a BETA version. It is currently only made available to select partners.'
  version: 1.0.158+26ad4ac04f
  x-framework-version: 41.0.16+ebca281e1f
  x-machine: SIMOAWEB9-DK2
servers:
- url: https://gateway.saxobank.com/sim/openapi
tags:
- name: Partner - Prefunding
  description: IB can credit their client account on pre-advice
paths:
  /atr/v1/partner/prebookedfunds:
    post:
      tags:
      - Partner - Prefunding
      description: Credit client account based on pre-advice
      operationId: PartnerPrebookFundPrebookFundDeposit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerPrebookFundDepositRequest'
            example:
              AccountKey: sUyiJbnf57ayjlcoNp1RkA==
              Amount: 100
              BIC: DEUTGB2LXXXX1
              ClientKey: W-CgwnsUEpETkiR8MPJalA==
              ClientName: Client Name
              Currency: Eur
              ExpectedValueDate: '2020-01-01'
              ExternalReference: 530120200122018890999000000307
              Iban: DK123456789123456
              RemitterAccount: '53540000318383'
      responses:
        '201':
          description: Created
        '200':
          description: Indicates that the request was performed correctly
        '400':
          description: Indicates that the request parameters was invalid
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidRequest
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Indicates that resource was not found
        '500':
          description: Internal Server Error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        confidential: Write
      summary: Partner prebook fund prebook fund deposit
      x-summary-source: derived
components:
  responses:
    Unauthorized:
      description: Indicates that the request was rejected because the 'Authorization' header was missing in the request or contained an invalid security token.
    TooManyRequests:
      description: The request was rejected due to rate limit being exceeded.
    ServiceUnavailable:
      description: Service Unavailable.
  schemas:
    ModelStateDictionary:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    PartnerPrebookFundDepositRequest:
      title: Prebooked deposit details for the client account
      required:
      - ClientKey
      - AccountKey
      - ClientName
      - Iban
      - BIC
      - Amount
      - Currency
      - RemitterAccount
      - ExpectedValueDate
      - ExternalReference
      type: object
      properties:
        AccountKey:
          title: Client account key in which fund will be deposited
          minLength: 1
          type: string
          x-type-name: AccountKey
        Amount:
          title: Funding Amount
          type: number
          example: 10
        BIC:
          title: BIC (Swift Code) code of sender bank
          type: string
          example: stringValue
        ClientKey:
          title: ClientKey for which system will execute deposit
          minLength: 1
          type: string
          x-type-name: ClientKey
        ClientName:
          title: Client Name for which system will execute deposit
          type: string
          example: stringValue
        Currency:
          title: Funding currency
          type: string
          example: stringValue
        ExpectedValueDate:
          title: Expected value date
          type: string
          format: date
          x-type-name: Date
        ExternalReference:
          title: Reference number, if any
          type: string
          example: stringValue
        Iban:
          title: Client International Bank Account Number
          type: string
          example: stringValue
        RemitterAccount:
          title: Remitter Account
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AccountKey: sUyiJbnf57ayjlcoNp1RkA==
        Amount: 100
        BIC: DEUTGB2LXXXX1
        ClientKey: W-CgwnsUEpETkiR8MPJalA==
        ClientName: Client Name
        Currency: Eur
        ExpectedValueDate: '2020-01-01'
        ExternalReference: 530120200122018890999000000307
        Iban: DK123456789123456
        RemitterAccount: '53540000318383'
  securitySchemes:
    OpenApiJWTSecurityScheme:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OpenApiOAuthSecurityScheme:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sim.logonvalidation.net/authorize
          tokenUrl: https://sim.logonvalidation.net/token
          scopes: {}
