openapi: 3.2.0
info:
  title: Services.ReferenceData Cultures API
  description: The Reference Data service group provides reference data, such as instrument details, exchange info etc..
  version: 2.3.361+88ada090e4
  x-framework-version: 43.0.9+b005aba300
  x-machine: SIMOAWEB8-DK2
servers:
- url: https://gateway.saxobank.com/sim/openapi
tags:
- name: Cultures
  description: End points serving culture information.
paths:
  /ref/v1/cultures:
    get:
      tags:
      - Cultures
      summary: Get all supported cultures for user preference localization
      description: Get a list all the cultures for user preference localization supported by Saxo Bank.
      operationId: CulturesGetCultures
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CultureDetailsListResult'
              example:
                Data:
                - CultureCode: nl-NL
                  Name: Dutch (Netherlands)
                MaxRows: 99
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        restricted: Read
components:
  responses:
    Unauthorized:
      description: Indicates that the request was rejected because the 'Authorization' header was missing in the request or contained an invalid security token.
    TooManyRequests:
      description: The request was rejected due to rate limit being exceeded.
    BadRequest:
      description: One or more of the provided parameters are invalid.
      content:
        application/json:
          schema:
            required:
            - ErrorCode
            - Message
            type: object
            properties:
              ErrorCode:
                enum:
                - InvalidRequest
                type: string
                example: None
                x-enum-descriptions:
                  InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
              Message:
                type: string
              ModelState:
                $ref: '#/components/schemas/ModelStateDictionary'
    ServiceUnavailable:
      description: Service Unavailable.
  schemas:
    ModelStateDictionary:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    CultureDetails:
      title: Information about a culture in the format provided in Windows
      type: object
      properties:
        CultureCode:
          title: The culture code in the format {ll}-{cc}, where ll is the language and cc is the country.
          type: string
          example: stringValue
        Name:
          title: Description/Displayname.
          type: string
          example: stringValue
      additionalProperties: false
      example:
        CultureCode: nl-NL
        Name: Dutch (Netherlands)
    CultureDetailsListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/CultureDetails'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
      example:
        Data:
        - CultureCode: nl-NL
          Name: Dutch (Netherlands)
        MaxRows: 99
  securitySchemes:
    OpenApiJWTSecurityScheme:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OpenApiOAuthSecurityScheme:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sim.logonvalidation.net/authorize
          tokenUrl: https://sim.logonvalidation.net/token
          scopes: {}
