openapi: 3.2.0
info:
  title: Services.AssetTransfers Cash Management - Beneficiary…
  description: 'AssetTransfers provide endpoints for asset transfer

    NOTE: This is a BETA version. It is currently only made available to select partners.'
  version: 1.0.158+26ad4ac04f
  x-framework-version: 41.0.16+ebca281e1f
  x-machine: SIMOAWEB9-DK2
servers:
- url: https://gateway.saxobank.com/sim/openapi
tags:
- name: Cash Management - Beneficiary Instructions
  description: This endpoint provides the functionality to manage beneficiary instructions
paths:
  /atr/v1/cashmanagement/beneficiaryinstructions:
    get:
      tags:
      - Cash Management - Beneficiary Instructions
      summary: Get Beneficiary Instructions
      description: Fetch list of active beneficiary instructions for a client and filters based on currency.
      operationId: BeneficiaryInstructionsGetBeneficiaryInstructionsAsync
      parameters:
      - name: ClientKey
        in: query
        description: Client Key
        schema:
          minLength: 1
          type: string
          x-type-name: ClientKey
        example: 11eaXGFNBcXM4ZDelb0R1Q==
      - name: Currency
        in: query
        description: Currency code
        schema:
          pattern: ^[A-Z]{3}$
          type: string
          x-type-name: CurrencyCode
        example: USD
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryInstructionListResult'
              example:
                __count: 2
                Data:
                - BeneficiaryDetails:
                    AccountNumber: SSI#97935
                    Bic: DBSSSGSGXXX
                    ClearingCode: AU016338
                    CountryCode: DKK
                  BeneficiaryInstructionId: '97935'
                  ClientId: '9319113'
                  Currency: DKK
                  IntermediaryBank:
                    AccountNumber: S672538819
                    Bic: CITIUS33
                  MessageType: MT202
                  Name: SSI#97935
                  RegulatedBroker:
                    AccountNumber: ZYA6312001
                    Name: EXT LTD CLIENTS ACCOUNT
                - BeneficiaryDetails:
                    AccountNumber: SSI#97935
                    Bic: DBSSSGSGXXX
                    ClearingCode: AU016338
                    CountryCode: DKK
                  BeneficiaryInstructionId: '97935'
                  ClientId: '9319113'
                  Currency: DKK
                  IntermediaryBank:
                    AccountNumber: S672538819
                    Bic: CITIUS33
                  MessageType: MT202
                  Name: SSI#97935
                  RegulatedBroker:
                    AccountNumber: ZYA6312001
                    Name: EXT LTD CLIENTS ACCOUNT
        '503':
          description: Service Unavailable
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        confidential: Read
components:
  schemas:
    AccountWithInstitutionDetails:
      title: Account Wih Institution Details. This is the bank where the beneficiary holds the account.
      type: object
      properties:
        AccountNumber:
          title: Account number
          type: string
          example: stringValue
        Bic:
          title: Beneficiary Bank BIC (Swift Code)
          type: string
          example: stringValue
        ClearingCode:
          title: Beneficiary Bank local Clearing Code
          type: string
          example: stringValue
        Iban:
          title: Beneficiary International Bank Account Number
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AccountNumber: stringValue
        Bic: stringValue
        ClearingCode: stringValue
        Iban: stringValue
    BeneficiaryInstructionListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/BeneficiaryInstruction'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
      example:
        __count: 2
        Data:
        - BeneficiaryDetails:
            AccountNumber: SSI#97935
            Bic: DBSSSGSGXXX
            ClearingCode: AU016338
            CountryCode: DKK
          BeneficiaryInstructionId: '97935'
          ClientId: '9319113'
          Currency: DKK
          IntermediaryBank:
            AccountNumber: S672538819
            Bic: CITIUS33
          MessageType: MT202
          Name: SSI#97935
          RegulatedBroker:
            AccountNumber: ZYA6312001
            Name: EXT LTD CLIENTS ACCOUNT
        - BeneficiaryDetails:
            AccountNumber: SSI#97935
            Bic: DBSSSGSGXXX
            ClearingCode: AU016338
            CountryCode: DKK
          BeneficiaryInstructionId: '97935'
          ClientId: '9319113'
          Currency: DKK
          IntermediaryBank:
            AccountNumber: S672538819
            Bic: CITIUS33
          MessageType: MT202
          Name: SSI#97935
          RegulatedBroker:
            AccountNumber: ZYA6312001
            Name: EXT LTD CLIENTS ACCOUNT
    BeneficiaryDetails:
      title: BeneficiaryDetails
      type: object
      properties:
        AccountNumber:
          title: Beneficiary local Bank Account Number
          type: string
          example: stringValue
        BankAddress:
          title: Beneficiary Bank address
          type: string
          example: stringValue
        BankName:
          title: Beneficiary Bank Name
          type: string
          example: stringValue
        Bic:
          title: Beneficiary Bank BIC (Swift Code)
          type: string
          example: stringValue
        ClearingCode:
          title: Beneficiary Bank local Clearing Code
          type: string
          example: stringValue
        CountryCode:
          title: Beneficiary Bank Country Code
          type: string
          example: stringValue
        Iban:
          title: Beneficiary International Bank Account Number
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AccountNumber: SSI#97935
        BankAddress: HOLMENS KANAL 2-12
        BankName: DANSKE BANK A/S
        Bic: DABADKKKXXX
        ClearingCode: AU016338
        CountryCode: DKK
        Iban: SSI#97935
    BeneficiaryInstruction:
      title: BeneficiaryInstructionsResponse
      type: object
      properties:
        AccountWithInstitutionDetails:
          title: Account with institution info
          allOf:
          - $ref: '#/components/schemas/AccountWithInstitutionDetails'
        BeneficiaryDetails:
          title: Beneficiary detail
          allOf:
          - $ref: '#/components/schemas/BeneficiaryDetails'
        BeneficiaryInstructionId:
          title: Beneficiary InstructionId Id
          type: string
          example: stringValue
        ClientId:
          title: Client Id
          type: string
          example: stringValue
        Currency:
          title: Transaction currency
          type: string
          example: stringValue
        IntermediaryBank:
          title: Intermediary detail
          allOf:
          - $ref: '#/components/schemas/IntermediaryBank'
        MessageType:
          title: Swift message type of the beneficiary
          allOf:
          - $ref: '#/components/schemas/MessageType'
        Name:
          title: Instruction name
          type: string
          example: stringValue
        RegulatedBroker:
          title: RegulatedBroker details
          allOf:
          - $ref: '#/components/schemas/RegulatedBroker'
      additionalProperties: false
      example:
        AccountWithInstitutionDetails:
          AccountNumber: stringValue
          Bic: stringValue
          ClearingCode: stringValue
          Iban: stringValue
        BeneficiaryDetails:
          AccountNumber: SSI#97935
          BankAddress: HOLMENS KANAL 2-12
          BankName: DANSKE BANK A/S
          Bic: DABADKKKXXX
          ClearingCode: AU016338
          CountryCode: DKK
          Iban: SSI#97935
        BeneficiaryInstructionId: stringValue
        ClientId: stringValue
        Currency: stringValue
        IntermediaryBank:
          AccountNumber: S672538819
          Bic: CITIUS33
        MessageType: MT202
        Name: stringValue
        RegulatedBroker:
          AccountNumber: ZYA6312001
          Name: EXT LTD CLIENTS ACCOUNT
    IntermediaryBank:
      title: IntermediaryBank
      type: object
      properties:
        AccountNumber:
          title: Financial institution through which the transaction must pass to reach the account with institution.
          type: string
          example: stringValue
        Bic:
          title: Financial institution through which the transaction must pass to reach the account with institution.
          type: string
          example: stringValue
        ClearingCode:
          title: Financial institution through which the transaction must pass to reach the account with institution.
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AccountNumber: S672538819
        Bic: CITIUS33
    ModelStateDictionary:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    MessageType:
      title: Message Type
      enum:
      - MT103
      - MT202
      type: string
      example: MT103
      x-enum-descriptions:
        MT202: MT202
        MT103: MT103
    RegulatedBroker:
      title: Regulated Broker
      type: object
      properties:
        AccountNumber:
          title: Regulated broker account.
          type: string
          example: stringValue
        Name:
          title: Regulated broker name
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AccountNumber: ZYA6312001
        Name: EXT LTD CLIENTS ACCOUNT
  responses:
    Unauthorized:
      description: Indicates that the request was rejected because the 'Authorization' header was missing in the request or contained an invalid security token.
    TooManyRequests:
      description: The request was rejected due to rate limit being exceeded.
    BadRequest:
      description: One or more of the provided parameters are invalid.
      content:
        application/json:
          schema:
            required:
            - ErrorCode
            - Message
            type: object
            properties:
              ErrorCode:
                enum:
                - InvalidRequest
                type: string
                example: None
                x-enum-descriptions:
                  InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
              Message:
                type: string
              ModelState:
                $ref: '#/components/schemas/ModelStateDictionary'
  securitySchemes:
    OpenApiJWTSecurityScheme:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OpenApiOAuthSecurityScheme:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sim.logonvalidation.net/authorize
          tokenUrl: https://sim.logonvalidation.net/token
          scopes: {}
