openapi: 3.2.0
info:
  title: Services.AssetTransfers CashManagement - Cash Withdrawal…
  description: 'AssetTransfers provide endpoints for asset transfer

    NOTE: This is a BETA version. It is currently only made available to select partners.'
  version: 1.0.158+26ad4ac04f
  x-framework-version: 41.0.16+ebca281e1f
  x-machine: SIMOAWEB9-DK2
servers:
- url: https://gateway.saxobank.com/sim/openapi
tags:
- name: CashManagement - Cash Withdrawal Limits
  description: Provides endpoints for cash available for withdrawal.
paths:
  /atr/v1/cashmanagement/withdrawallimits/{AccountKey}:
    get:
      tags:
      - CashManagement - Cash Withdrawal Limits
      description: Get available amount for withdrawal.
      operationId: CashWithdrawalLimitGetCashWithdrawalLimitsAsync
      parameters:
      - name: AccountKey
        in: path
        description: AccountKey
        required: true
        schema:
          minLength: 1
          type: string
          x-type-name: AccountKey
        example: OV6ZL2-AYB0VvW2FzEqz7A==
      responses:
        '200':
          description: Action was executed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashAccountWithdrawalLimit'
              example:
                AccountKey: sUyiJbnf57ayjlcoNp1RkA==
                Currency: USD
                MaxAllowedWithdrawalAmount: 100
        '400':
          description: One or more of the provided parameters are invalid.
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - NotNormalAccount
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotNormalAccount: Account should be normal trading account
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - CashWithdrawalLimitsNotFound
                    - ClientNotSameAsAccount
                    type: string
                    example: None
                    x-enum-descriptions:
                      ClientNotSameAsAccount: ClientKey and AccountKey both should have same client
                      CashWithdrawalLimitsNotFound: Cash Withdrawal limits not found
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '503':
          description: Service Unavailable
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        confidential: Read
      summary: Cash withdrawal limit get cash withdrawal limits async
      x-summary-source: derived
  /atr/v1/cashmanagement/withdrawallimits:
    get:
      tags:
      - CashManagement - Cash Withdrawal Limits
      description: Obsolete Get available amount for withdrawal.
      operationId: CashWithdrawalLimitGetCashWithdrawalLimits
      parameters:
      - name: AccountKey
        in: query
        description: AccountKey
        required: true
        schema:
          minLength: 1
          type: string
          x-type-name: AccountKey
      - name: ClientKey
        in: query
        description: ClientKey
        required: true
        schema:
          minLength: 1
          type: string
          x-type-name: ClientKey
      responses:
        '200':
          description: Action was executed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashWithdrawalLimitListResult'
              example:
                Data:
                - AccountKey: sUyiJbnf57ayjlcoNp1RkA==
                  ClientKey: W-CgwnsUEpETkiR8MPJalA==
                  MaxAllowedWithdrawalAmount: 100
        '400':
          description: One or more of the provided parameters are invalid.
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - AccountAccessDenied
                    - ClientAccessDenied
                    - ClientOrAccountNotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      ClientAccessDenied: User is not authorized to access requested Client
                      AccountAccessDenied: User is not authorized to access Account
                      ClientOrAccountNotFound: Client or Account not found
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - CashWithdrawalLimitsNotFound
                    - TrialClientNotSupported
                    type: string
                    example: None
                    x-enum-descriptions:
                      CashWithdrawalLimitsNotFound: Cash Withdrawal limits not found
                      TrialClientNotSupported: Trial clients are not supported
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '503':
          description: Service Unavailable
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      deprecated: true
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-deprecated-date: '2023-01-01'
      x-required-permissions:
        confidential: Read
      summary: Cash withdrawal limit get cash withdrawal limits
      x-summary-source: derived
components:
  responses:
    Unauthorized:
      description: Indicates that the request was rejected because the 'Authorization' header was missing in the request or contained an invalid security token.
    TooManyRequests:
      description: The request was rejected due to rate limit being exceeded.
  schemas:
    CashWithdrawalLimit:
      title: CashWithdrawalLimit
      type: object
      properties:
        AccountKey:
          title: AccountKey
          minLength: 1
          type: string
          x-type-name: AccountKey
        ClientKey:
          title: ClientKey
          minLength: 1
          type: string
          x-type-name: ClientKey
        MaxAllowedWithdrawalAmount:
          title: Max allowed withdrawal amount
          type: number
          example: 2.55
      additionalProperties: false
      example:
        AccountKey: dIm75edbgnW6aBK3CIc-sw==
        ClientKey: zpSlGZ4F0cPIx59wR3HP1g==
        MaxAllowedWithdrawalAmount: 2.55
    CashWithdrawalLimitListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/CashWithdrawalLimit'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
      example:
        Data:
        - AccountKey: sUyiJbnf57ayjlcoNp1RkA==
          ClientKey: W-CgwnsUEpETkiR8MPJalA==
          MaxAllowedWithdrawalAmount: 100
    CashAccountWithdrawalLimit:
      title: Cash Account Withdrawal Limit
      type: object
      properties:
        AccountKey:
          title: AccountKey
          minLength: 1
          type: string
          x-type-name: AccountKey
        Currency:
          title: Currency
          pattern: ^[A-Z]{3}$
          type: string
          x-type-name: CurrencyCode
        MaxAllowedWithdrawalAmount:
          title: Max allowed withdrawal amount
          type: number
          example: 10
      additionalProperties: false
      example:
        AccountKey: sUyiJbnf57ayjlcoNp1RkA==
        Currency: USD
        MaxAllowedWithdrawalAmount: 100
    ModelStateDictionary:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
  securitySchemes:
    OpenApiJWTSecurityScheme:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OpenApiOAuthSecurityScheme:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sim.logonvalidation.net/authorize
          tokenUrl: https://sim.logonvalidation.net/token
          scopes: {}
