openapi: 3.0.1
info:
  title: Services.AutoTrading Account Values Orders API
  description: 'The AutoTrading service group provides endpoints for interacting with Saxo Bank''s SaxoSelect offering.Through these interfaces a client application can get Saxo Select trade leaders, portfolios and investments. Portfolio investments can be created and modifed.<div class=well style=''border: 1px solid rgb(204, 82, 0); border-image: none; background-color: rgb(255, 209, 179);padding:1px;''><strong> Note:</strong> </br>This service is subject to special licensing agreements and not generally available to all OpenAPI applications.</div>'
  version: 2.4.138+710c760591
  x-framework-version: 38.0.2+439c5b0ec3
  x-machine: SIMOAWEB11-DK2
servers:
- url: https://gateway.saxobank.com/sim/openapi
tags:
- name: Orders
  description: Read only end points serving orders.
paths:
  /port/v1/orders/subscriptions/{ContextId}/{ReferenceId}:
    delete:
      tags:
      - Orders
      summary: Remove subscription
      description: Removes subscription for the current session identified by subscription id..
      operationId: OrdersV1DeleteSubscription
      parameters:
      - name: ContextId
        in: path
        description: Unique streaming context ID part of the streaming session.
        required: true
        schema:
          type: string
        example: '29931122'
      - name: ReferenceId
        in: path
        description: Unique reference ID of the subscription.
        required: true
        schema:
          type: string
        example: O2246
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
  /port/v1/orders/subscriptions/{ContextId}:
    delete:
      tags:
      - Orders
      summary: Remove multiple subscriptions
      description: Removes multiple subscriptions for the current session on this resource. Optionally maked with with speccified Tag.
      operationId: OrdersV1DeleteSubscriptions
      parameters:
      - name: ContextId
        in: path
        description: Unique streaming context ID part of the streaming session.
        required: true
        schema:
          type: string
        example: '29931122'
      - name: Tag
        in: query
        description: Optional. Tag that subscriptions are marked with.
        schema:
          type: string
        example: PAGE2
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
  /port/v1/orders/subscriptions:
    post:
      tags:
      - Orders
      summary: Create a subscription to open orders
      description: Sets up a subscription and returns an initial snapshot of list of orders specified by the parameters in the request.
      operationId: OrdersV1AddActiveSubscription
      parameters:
      - name: $inlinecount
        in: query
        description: Specifies that the response to the request should include a count of the number of entries in the collection
        schema:
          enum:
          - AllPages
          - None
          type: string
          x-enum-descriptions:
            None: The result will not contain an inline count
            AllPages: The result will contain a total count of items in the queried collection
        example: AllPages
      - name: $skip
        in: query
        description: The number of entries to skip from the beginning of the collection
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 1
      - name: $skiptoken
        in: query
        description: Specifies an entity id to start retrieving entries from. This is normally only used in generated nextlinks.
        schema:
          type: string
        example: B17D8890-3C7A-4A47-A9AA-01B022ED03A5
      - name: $top
        in: query
        description: The number of entries to return from the beginning of the collection
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderSubscriptionRequest'
            example:
              Arguments:
                AccountGroupKey: LZTc7DdejXODf-WSl2aCyQ==
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
              ContextId: '20221030064905457'
              Format: application/json
              ReferenceId: O40952
              RefreshRate: 5
              Tag: PAGE1
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderSubscriptionResponse'
              example:
                Format: application/json
                InactivityTimeout: 120
                ReferenceId: O03905
                RefreshRate: 1000
                Snapshot:
                  Data:
                  - AccountId: 192134INET
                    AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                    Amount: 250000
                    AssetType: FxSpot
                    BuySell: Buy
                    CalculationReliability: Ok
                    ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                    CurrentPrice: 1.09062
                    CurrentPriceDelayMinutes: 0
                    CurrentPriceType: Ask
                    DistanceToMarket: 0.04062
                    Duration:
                      DurationType: GoodTillCancel
                    IsExtendedHoursEnabled: false
                    IsForceOpen: false
                    IsMarketOpen: false
                    MarketPrice: 1.09062
                    NonTradableReason: None
                    OpenOrderType: Limit
                    OrderAmountType: Quantity
                    OrderId: '49318458'
                    OrderRelation: StandAlone
                    OrderTime: '2017-04-12T07:56:00Z'
                    Price: 1.05
                    PriceWithoutSpread: 1.04
                    Status: Working
                    Uic: 21
                State: Active
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidClientId
                    - InvalidInput
                    - InvalidModelState
                    - NoValidInput
                    - UnsupportedSubscriptionFormat
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidInput: An error was encountered when processing given input parameters.
                      NoValidInput: No valid input values passed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - SubscriptionLimitExceeded
                    type: string
                    example: None
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
      x-streaming-type:
        $ref: '#/components/schemas/OrderResponseArray'
  /port/v1/orders/{OrderId}/details:
    get:
      tags:
      - Orders
      summary: Get detailed information for a open order
      description: "Obsolete Gets detailed information about a single open order as specified by the query parameters.\n            NOTE: This endpoint will be deprecated by November 2022. All functionality has been migrated to /port/v1/orders/{OrderId}."
      operationId: OrdersV1GetOpenOrderDetails
      parameters:
      - name: AccountGroupKey
        in: query
        description: The key of the account group to which the net positions belongs.
        schema:
          title: The key of the account group to which the net positions belongs.
          minLength: 1
          type: string
          x-type-name: AccountGroupKey
        example: stringValue
      - name: AccountKey
        in: query
        description: The key of the account to which the net positions belongs.
        schema:
          title: The key of the account to which the net positions belongs.
          minLength: 1
          type: string
          x-type-name: AccountKey
        example: 01b64edf-da03-4145-bf33-ae21527d4c86
      - name: ClientKey
        in: query
        description: The key of the client to which the net positions belongs.
        required: true
        schema:
          title: The key of the client to which the net positions belongs.
          minLength: 1
          type: string
          x-type-name: ClientKey
        example: 493b43a5-fe85-4d1f-9071-dd4a9d4e42a4
      - name: OrderId
        in: path
        description: Unique id of the order.
        required: true
        schema:
          type: string
        example: '83749234'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
              example:
                AccountId: 192134INET
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                Amount: 250000
                AssetType: FxSpot
                BuySell: Buy
                CalculationReliability: Ok
                ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                CurrentPrice: 1.09062
                CurrentPriceDelayMinutes: 0
                CurrentPriceType: Ask
                DistanceToMarket: 0.04062
                Duration:
                  DurationType: GoodTillCancel
                IsForceOpen: false
                IsMarketOpen: false
                MarketPrice: 1.09062
                NonTradableReason: None
                OpenOrderType: Limit
                OrderAmountType: Quantity
                OrderId: '49318458'
                OrderRelation: StandAlone
                OrderTime: '2017-04-12T07:56:00Z'
                Price: 1.05
                Status: Working
                Uic: 21
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidClientId
                    - PositionIdNotSpecified
                    type: string
                    example: None
                    x-enum-descriptions:
                      PositionIdNotSpecified: Position not specified.
                      InvalidClientId: Indicates that the requested client id was invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      deprecated: true
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-deprecated-date: '2022-11-01'
      x-required-permissions:
        personal: Read
        community: Read
  /port/v1/orders:
    get:
      tags:
      - Orders
      summary: Get all open orders for a client or an account
      description: You can use this operation to get all the open orders on an account or a client.
      operationId: GET_OrdersV1GetOpenOrders
      parameters:
      - name: $skip
        in: query
        description: The number of entries to skip from the beginning of the collection
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 1
      - name: $top
        in: query
        description: The number of entries to return from the beginning of the collection
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 1
      - name: AccountGroupKey
        in: query
        description: The key of the account group to which the order belongs.
        schema:
          title: The key of the account group to which the order belongs.
          minLength: 1
          type: string
          x-type-name: AccountGroupKey
        example: stringValue
      - name: AccountKey
        in: query
        description: Unique key identifying the account that owns the orders.
        schema:
          title: Unique key identifying the account that owns the orders.
          minLength: 1
          type: string
          x-type-name: AccountKey
        example: 01b64edf-da03-4145-bf33-ae21527d4c86
      - name: ClientKey
        in: query
        description: Unique key identifying the client that owns the orders.
        required: true
        schema:
          title: Unique key identifying the client that owns the orders.
          minLength: 1
          type: string
          x-type-name: ClientKey
        example: 493b43a5-fe85-4d1f-9071-dd4a9d4e42a4
      - name: FieldGroups
        in: query
        description: Specifies which data to return. Default is empty, meaning Display and Formatting information is not included.
        schema:
          title: Specifies which data to return. Default is empty, meaning Display and Formatting information is not included.
          type: array
          items:
            $ref: '#/components/schemas/OrderFieldGroup'
        example:
        - ExchangeInfo
      - name: OrderId
        in: query
        description: The id of the order
        schema:
          title: The id of the order
          type: string
        example: stringValue
      - name: Status
        in: query
        description: Selects only a subset of open orders to be returned. Default is to return working orders only.
        schema:
          title: Selects only a subset of open orders to be returned. Default is to return working orders only.
          allOf:
          - $ref: '#/components/schemas/OrderStatusFilter'
        example: All
      - name: WatchlistId
        in: query
        description: Selects only orders those instruments belongs to the given watchlist id
        schema:
          title: Selects only orders those instruments belongs to the given watchlist id
          type: string
        example: stringValue
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                - AccountId: 192134INET
                  AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                  Amount: 250000
                  AssetType: FxSpot
                  BuySell: Buy
                  CalculationReliability: Ok
                  ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                  CurrentPrice: 1.09062
                  CurrentPriceDelayMinutes: 0
                  CurrentPriceType: Ask
                  DistanceToMarket: 0.04062
                  Duration:
                    DurationType: GoodTillCancel
                  IsForceOpen: false
                  IsMarketOpen: false
                  MarketPrice: 1.09062
                  NonTradableReason: None
                  OpenOrderType: Limit
                  OrderAmountType: Quantity
                  OrderId: '49318458'
                  OrderRelation: StandAlone
                  OrderTime: '2017-04-12T07:56:00Z'
                  Price: 1.05
                  Status: Working
                  Uic: 21
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidClientId
                    - InvalidInput
                    - NoValidInput
                    type: string
                    example: None
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      InvalidInput: An error was encountered when processing given input parameters.
                      InvalidClientId: Indicates that the requested client id was invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Read
        community: Read
  /port/v1/orders/me:
    get:
      tags:
      - Orders
      summary: Get all open orders for the client to which the logged-in user belongs
      description: You can use this operation to get all open orders across all accounts for the client to which the logged-in user belongs.
      operationId: OrdersV1GetOpenOrders
      parameters:
      - name: $skip
        in: query
        description: The number of entries to skip from the beginning of the collection
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 1
      - name: $top
        in: query
        description: The number of entries to return from the beginning of the collection
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 1
      - name: FieldGroups
        in: query
        description: Optional. Specification of FieldGroups to be included in response model. Defaults to "ExchangeInfo" if not provided.
        required: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/OrderFieldGroup'
      - name: MultiLegOrderId
        in: query
        description: Return only multi-leg orders with the given common MultiLegOrderId.
        schema:
          type: string
      - name: Status
        in: query
        description: Optional. Selects only a subset of open orders to be returned based on status of the open order. Default is "Working" (i.e. orders related to working orders are excluded).
        schema:
          $ref: '#/components/schemas/OrderStatusFilter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                - AccountId: 192134INET
                  AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                  Amount: 250000
                  AssetType: FxSpot
                  BuySell: Buy
                  CalculationReliability: Ok
                  ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                  CurrentPrice: 1.09062
                  CurrentPriceDelayMinutes: 0
                  CurrentPriceType: Ask
                  DistanceToMarket: 0.04062
                  Duration:
                    DurationType: GoodTillCancel
                  IsForceOpen: false
                  IsMarketOpen: false
                  MarketPrice: 1.09062
                  NonTradableReason: None
                  OpenOrderType: Limit
                  OrderAmountType: Quantity
                  OrderId: '49318458'
                  OrderRelation: StandAlone
                  OrderTime: '2017-04-12T07:56:00Z'
                  Price: 1.05
                  Status: Working
                  Uic: 21
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Read
        community: Read
  /port/v1/orders/{ClientKey}/{OrderId}:
    get:
      tags:
      - Orders
      summary: Get a single open order
      description: Call this operation to get a specific open order of a client.
      operationId: OrdersV1GetOpenOrder
      parameters:
      - name: ClientKey
        in: path
        description: Unique id of the client.
        required: true
        schema:
          minLength: 1
          type: string
          x-type-name: ClientKey
        example: U8SNV3JLdN4gzcQfmThXJA==
      - name: FieldGroups
        in: query
        description: Optional. Specification of FieldGroups to be included in response model. Defaults to "ExchangeInfo" if not provided.
        required: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/OrderFieldGroup'
      - name: OrderId
        in: path
        description: Unique id of the order.
        required: true
        schema:
          type: string
        example: '5007186409'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                - AccountId: 192134INET
                  AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                  Amount: 250000
                  AssetType: FxSpot
                  BuySell: Buy
                  CalculationReliability: Ok
                  ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                  CurrentPrice: 1.09062
                  CurrentPriceDelayMinutes: 0
                  CurrentPriceType: Ask
                  DistanceToMarket: 0.04062
                  Duration:
                    DurationType: GoodTillCancel
                  IsForceOpen: false
                  IsMarketOpen: false
                  MarketPrice: 1.09062
                  NonTradableReason: None
                  OpenOrderType: Limit
                  OrderAmountType: Quantity
                  OrderId: '49318458'
                  OrderRelation: StandAlone
                  OrderTime: '2017-04-12T07:56:00Z'
                  Price: 1.05
                  Status: Working
                  Uic: 21
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - OrderIdNotSpecified
                    type: string
                    example: None
                    x-enum-descriptions:
                      OrderIdNotSpecified: Order not specified.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Read
        community: Read
  /trade/v2/orders/multileg/defaults:
    get:
      tags:
      - Orders
      summary: Get default values for a option multi-leg order strategies.
      description: Returns a list of suggested orders/legs for the given option root and strategy.
      operationId: OrdersV2GetMultiLegOrderStrategyDefaults
      parameters:
      - name: AccountKey
        in: query
        description: "Unique key identifying the account used in retrieving the price.\n                Only required when calling context represents an authenticated user."
        required: true
        style: form
        explode: false
        schema:
          title: "Unique key identifying the account used in retrieving the price.\n                Only required when calling context represents an authenticated user."
          minLength: 1
          type: string
          x-type-name: AccountKey
        example: 01b64edf-da03-4145-bf33-ae21527d4c86
      - name: OptionRootId
        in: query
        description: Id of the contract option root.
        required: true
        style: form
        explode: false
        schema:
          title: Id of the contract option root.
          type: integer
          format: int32
        example: 99
      - name: OptionsStrategyType
        in: query
        description: The  to get.
        required: true
        style: form
        explode: false
        schema:
          title: The  to get.
          allOf:
          - $ref: '#/components/schemas/OptionsStrategyType_2'
        example: Synthetic
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiLegOrderStrategyDefault'
              example:
                Legs:
                - Amount: 10
                  AssetType: Etf
                  BuySell: Sell
                  OptionData:
                    ExpiryDate: '2023-03-22T16:40:01.7806301'
                    PutCall: Call
                    StrikePrice: 10
                  Uic: 99
                StrategyType: Custom
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidOptionRootId
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidOptionRootId: Invalid option root id specified.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Read
  /trade/v2/orders/multileg/{MultiLegOrderId}:
    delete:
      tags:
      - Orders
      summary: Cancel a multi-leg strategy order.
      description: Cancels all order legs in a combined multi-leg strategy order.
      operationId: OrdersV2CancelMultiLegStrategyOrder
      parameters:
      - name: AccountKey
        in: query
        description: Unique key identifying the account.
        required: true
        style: form
        explode: false
        schema:
          minLength: 1
          type: string
          x-type-name: AccountKey
        example: LZTc7DdejXODf-WSl2aCyQ==
      - name: MultiLegOrderId
        in: path
        description: Unique identifier for the multi-leg order. Same for all legs.
        required: true
        style: simple
        schema:
          type: string
        example: '67762872'
      responses:
        '204':
          description: Not used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
              example:
                Orders:
                - ErrorInfo:
                    ErrorCode: Unknown
                    Message: Order request rejected
        '200':
          description: Check response for MultiLegOrderId and ErrorInfo fields to determine success or failure to cancel order
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - ActiveFollowerCannotCancelOrderManually
                    - AlreadyPendingCancelReplace
                    - BrokerOption
                    - ClientCannotCancelStopOutOrder
                    - ClientCannotChangeAllocatedOrder
                    - CouldNotCompleteRequest
                    - ForceOpenNotAllowed
                    - IllegalAccount
                    - InvalidModelState
                    - InvalidRequest
                    - OrderCannotBeCancelledAtThisTime
                    - OrderNotFound
                    - OtherError
                    - TooLateToCancelOrder
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidModelState: One or more properties of the request are invalid!
                      IllegalAccount: Illegal Account
                      ClientCannotCancelStopOutOrder: Client can not cancel a market stop-out order.
                      ActiveFollowerCannotCancelOrderManually: An active trade follower is not allowed to cancel order manually.
                      AlreadyPendingCancelReplace: Request to Cancel or Replace order already send
                      ClientCannotChangeAllocatedOrder: Cannot change order – part of an allocation.
                      OrderCannotBeCancelledAtThisTime: Order cannot be canceled at this time
                      BrokerOption: Broker Option
                      OrderNotFound: Requested order id not found
                      TooLateToCancelOrder: Too late to cancel order
                      CouldNotCompleteRequest: Could not complete request.
                      OtherError: OtherError.
                      ForceOpenNotAllowed: Force Open is not allowed
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '201':
          description: Created
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Write
  /trade/v2/orders/multileg:
    post:
      tags:
      - Orders
      summary: Place a new multi-leg option strategy order
      description: 'Places a combined order where all legs must be symmetrically filled by the exchange. Used to place custom and common option strategies such as CalendarSpreads, Strangles and Straddles. Only supported on certian options exchanges. Support is indicated by the CanParticipateInMultiLegOrder flag when looking up the option root in RefData.



        It is also possible to place an multi-leg order on behalf of another client (for IBs). The account key property of the order determines the client account on which the order is placed. It is the same for all legs.'
      operationId: OrdersV2PlaceMultiLegStrategyOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceMultiLegStrategyOrderRequest'
            example:
              AccountKey: 01b64edf-da03-4145-bf33-ae21527d4c86
              ExternalReference: stringValue
              Legs:
              - Amount: 10
                AssetType: CfdOnRights
                BuySell: Buy
                ToOpenClose: ToOpen
                Uic: 99
              ManualOrder: true
              OrderDuration:
                DurationType: GoodTillDate
                ExpirationDateContainsTime: true
                ExpirationDateTime: '2022-11-09T14:00:00'
              OrderPrice: 10
              OrderType: TriggerBreakout
              TraderId: stringValue
      responses:
        '201':
          description: Not used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericOrderResponse'
              example:
                OrderId: '67762872'
                Orders:
                - OrderId: '67762872'
        '200':
          description: Check response for OrderId and ErrorInfo fields to determine success or failure to place order
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - ActiveFollowerCannotDoManualTrade
                    - AlgoOrderTimeBeforeExchangeOpen
                    - AmountBelowMinimumLotSize
                    - AmountCannotBeLessThanFilledAmount
                    - AmountNotInLotSize
                    - BlocksExistForOwnedContracts
                    - BreakoutUpPriceCannotBeLessThanDownPrice
                    - BrokerOption
                    - CashAmountLessThanMinInitialInvestmentAmount
                    - ClientExposureLimitation
                    - ClientOnReduceForcedExposureReductionViolation
                    - ContactExposureLimitation
                    - CouldNotCompleteRequest
                    - DurationNotSupported
                    - ExpirationDateInPast
                    - ExpirationDateRequired
                    - ForceOpenNotAllowed
                    - ForcedExposureReductionViolation
                    - ForwardDateInPast
                    - ForwardDateRequired
                    - GtdOrderCannotBeLaterThanExpiry
                    - IllegalAccount
                    - IllegalAmount
                    - IllegalAssetType
                    - IllegalDate
                    - IllegalInstrumentId
                    - IllegalRequest
                    - IllegalStrike
                    - InSufficientOrderLegsSpecified
                    - InstrumentDisabledForTrading
                    - InstrumentForcedExposureReductionViolation
                    - InstrumentHasExpired
                    - InstrumentNotAllowed
                    - InsufficientCash
                    - InvalidAllocationKeyUsed
                    - InvalidModelState
                    - InvalidRequest
                    - InvalidUic
                    - LimitTooFarFromStop
                    - MarketClosed
                    - NotOwned
                    - NotPrimarySession
                    - NotTradableAtPresent
                    - OnWrongSideOfMarket
                    - OnlySidedReductionAllowed
                    - OptionExerciseAfterCutoff
                    - OptionExerciseNotAllowedDueExDateOfUpcomingCorporateActionOnInstrument
                    - OrderNotFound
                    - OrderNotPlaced
                    - OrderPriceOutsideLimit
                    - OrderRejectedByBroker
                    - OrderRelatedPositionIsClosed
                    - OrderRelatedPositionMissMatch
                    - OrderSizeGreaterThanMaximumAllowed
                    - OrderTypeNotSupported
                    - OrderValueToSmall
                    - OrderValueTooLarge
                    - OtherError
                    - PriceExceedsAggressiveTolerance
                    - PriceHasMoved
                    - PriceNotInTickSizeIncrements
                    - RelatedOrClosingOrderNotAllowedForIntradayNettingClients
                    - RelatedPositionNotFound
                    - RepeatTradeOnAutoQuote
                    - SellExceedsSettledExposure
                    - SellOrdersAlreadyExistForOwnedContracts
                    - ShortTradeDisabled
                    - ToOpenNotAllowedOnInstrument
                    - TooCloseToMarket
                    - TooCloseToOcoRelatedOrderPrice
                    - TooFarFromEntryOrder
                    - TooFarFromMarket
                    - TradingDisabled
                    - WouldExceedAccountValueProtectionLimit
                    - WouldExceedMargin
                    - WouldExceedMarginCeiling
                    - WouldExceedTradingLine
                    - WrongSideOfRelatedOrder
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidModelState: One or more properties of the request are invalid!
                      ForwardDateRequired: Forward date is mandatory.
                      ForwardDateInPast: Forward date is in the past.
                      ExpirationDateInPast: Expiration date is in the past.
                      InvalidUic: UIC is either invalid or not specified at all.
                      OrderNotPlaced: Order not placed as other order in request was rejected.
                      OrderNotFound: Requested order id not found
                      OnWrongSideOfMarket: Order price is on wrong side of market
                      TooFarFromMarket: Limit price is too far from market
                      WouldExceedMargin: Trade would exceed margin limits
                      NotTradableAtPresent: Not tradable at present
                      DurationNotSupported: The supplied duration is not supported for the current order.
                      AmountBelowMinimumLotSize: Order size is below the minimum exchange lot size.
                      AmountNotInLotSize: Order size is not a valid exchange lot order size.
                      OrderRelatedPositionMissMatch: Order does not match related position
                      PriceExceedsAggressiveTolerance: Price exceeds aggressive tolerance
                      OrderValueToSmall: Order value must be above the minimum order value for this exchange
                      IllegalAccount: Illegal Account
                      AlgoOrderTimeBeforeExchangeOpen: Algo order parameter has time before exchange open.
                      CashAmountLessThanMinInitialInvestmentAmount: Cash amount should be more than or equal to minimum investment amount.
                      SellExceedsSettledExposure: Selling on T day is limited to end of day position on T-1 day.
                      TradingDisabled: Trading is disabled for the client.
                      ActiveFollowerCannotDoManualTrade: You are not allowed to open or close a position on an active strategy account
                      ClientExposureLimitation: Trade would exceed client exposure limitation
                      ForcedExposureReductionViolation: Forced exposure reduction violation
                      GtdOrderCannotBeLaterThanExpiry: GTD order cannot be later than expiry
                      InstrumentDisabledForTrading: Trading is disabled for the instrument
                      InstrumentHasExpired: Instrument has expired
                      InstrumentNotAllowed: Not allowed to trade in this instrument
                      MarketClosed: Market is closed
                      IllegalRequest: Request type not supported
                      NotOwned: Selling contracts not owned
                      PriceNotInTickSizeIncrements: Order price is not in tick size increments
                      RelatedPositionNotFound: Related position not found
                      OrderRelatedPositionIsClosed: Related position already closed
                      SellOrdersAlreadyExistForOwnedContracts: Contracts owned, but sell orders already exist
                      OrderPriceOutsideLimit: Price too far from market
                      TooFarFromEntryOrder: Order price is too far from the entry order
                      LimitTooFarFromStop: Limit price is too far away from stop price
                      OrderTypeNotSupported: Order type not supported
                      WouldExceedAccountValueProtectionLimit: Trade would exceed the account value protection limit.
                      WouldExceedTradingLine: Trade would exceed trading line limits
                      OrderRejectedByBroker: Order Rejected by Broker.
                      OrderSizeGreaterThanMaximumAllowed: Order Size is greater than the maximum allowed order size.
                      RelatedOrClosingOrderNotAllowedForIntradayNettingClients: Position-related orders are not allowed when real-time netting is enabled.
                      ToOpenNotAllowedOnInstrument: 'Adjusted Option Class: Not allowed to increase exposure.'
                      PriceHasMoved: Price has moved. Please review Price Tolerance to increase the chances of a fill
                      InsufficientCash: Insufficient cash for trade
                      BrokerOption: Broker Option
                      IllegalAssetType: Illegal asset type
                      OnlySidedReductionAllowed: Only sided exposure reduction is allowed.
                      OrderValueTooLarge: Order value is too large
                      ShortTradeDisabled: Trading Short for selected instrument disabled
                      TooCloseToOcoRelatedOrderPrice: Order price is too close to OCO related order price
                      WouldExceedMarginCeiling: Would exceed margin ceiling
                      IllegalAmount: Illegal amount
                      IllegalInstrumentId: Unknown instrument name
                      InvalidAllocationKeyUsed: Order or trade placed with an allocationkey thats marked as inactive or deleted
                      CouldNotCompleteRequest: Could not complete request.
                      OtherError: OtherError.
                      RepeatTradeOnAutoQuote: Repeated trade on auto quote
                      WrongSideOfRelatedOrder: Order price is on wrong side of related order.
                      AmountCannotBeLessThanFilledAmount: Amount cannot be less than filled amount.
                      IllegalDate: Illegal Date
                      IllegalStrike: Illegal strike price
                      OptionExerciseAfterCutoff: Exercise not allowed after exercise cut-off time or on last trading day or later
                      TooCloseToMarket: Guaranteed stop is too close to market
                      ExpirationDateRequired: Expiration date is mandatory for this type of order request.
                      InstrumentForcedExposureReductionViolation: Exposure cannot be increased due to instrument configuration.
                      InSufficientOrderLegsSpecified: Insufficient order legs provided for a multi-leg strategy order.
                      ForceOpenNotAllowed: Force Open is not allowed
                      BlocksExistForOwnedContracts: The block exists for the owned contract.
                      BreakoutUpPriceCannotBeLessThanDownPrice: Breakout up price cannot be less than down price.
                      OptionExerciseNotAllowedDueExDateOfUpcomingCorporateActionOnInstrument: Option exercise not allowed day before expiry date of upcoming corporate action on this instrument.
                      ClientOnReduceForcedExposureReductionViolation: Client is on Reduce group type. Exposure cannot be increased.
                      ContactExposureLimitation: Contact level exposure limit exceeded
                      NotPrimarySession: Operation not allowed, due to not being in Primary session mode.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Write
    patch:
      tags:
      - Orders
      summary: Change an existing multi-leg option strategy order
      description: Change an existing multi-leg option strategy order.
      operationId: OrdersV2ChangeMultiLegStrategyOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeMultiLegStrategyOrderRequest'
            example:
              AccountKey: 01b64edf-da03-4145-bf33-ae21527d4c86
              MultiLegAmount: 10
              MultiLegOrderId: stringValue
              OrderDuration:
                DurationType: GoodTillDate
                ExpirationDateContainsTime: true
                ExpirationDateTime: '2022-11-09T14:00:00'
              OrderPrice: 10
              TraderId: stringValue
      responses:
        '204':
          description: Not used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericOrderResponse'
              example:
                OrderId: '67762872'
                Orders:
                - OrderId: '67762872'
        '200':
          description: Check response for OrderId and ErrorInfo fields to determine success or failure to change order
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - ActiveFollowerCannotChangeOrderManually
                    - AlreadyPendingCancelReplace
                    - AmendmentsNotSupportedInBreakSession
                    - AmountBelowMinimumLotSize
                    - AmountCannotBeLessThanFilledAmount
                    - AmountNotInLotSize
                    - BlocksExistForOwnedContracts
                    - BreakoutUpPriceCannotBeLessThanDownPrice
                    - BrokerOption
                    - ClientExposureLimitation
                    - ClientOnReduceForcedExposureReductionViolation
                    - ContactExposureLimitation
                    - CouldNotCompleteRequest
                    - ForceOpenNotAllowed
                    - IllegalAccount
                    - IllegalAmount
                    - IllegalDate
                    - IllegalOrderTypeChange
                    - IllegalStrike
                    - InstrumentDisabledForTrading
                    - InstrumentForcedExposureReductionViolation
                    - InsufficientCash
                    - InvalidAllocationKeyUsed
                    - InvalidModelState
                    - InvalidRequest
                    - LimitOrderHigherStopOnSell
                    - LimitOrderLowerThenStopOnBuy
                    - LimitTooFarFromStop
                    - MarketClosed
                    - NotPrimarySession
                    - NotTradableAtPresent
                    - OnWrongSideOfMarket
                    - OptionExerciseAfterCutoff
                    - OrderCannotBeChangedAtThisTime
                    - OrderNotFound
                    - OrderRelatedPositionMissMatch
                    - OrderSizeGreaterThanMaximumAllowed
                    - OrderValueToSmall
                    - OrderValueTooLarge
                    - OtherError
                    - PriceExceedsAggressiveTolerance
                    - PriceNotInTickSizeIncrements
                    - ShortTradeDisabled
                    - StopOrderLowerLimitOnSell
                    - TooCloseToMarket
                    - TooCloseToOcoRelatedOrderPrice
                    - TooFarFromMarket
                    - TooLateToChangeOrder
                    - WouldExceedMargin
                    - WouldExceedMarginCeiling
                    - WrongSideOfRelatedOrder
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidModelState: One or more properties of the request are invalid!
                      IllegalAccount: Illegal Account
                      ActiveFollowerCannotChangeOrderManually: An active trade follower is not allowed to change order manually.
                      AmendmentsNotSupportedInBreakSession: Amendments not supported in break session
                      ClientExposureLimitation: Trade would exceed client exposure limitation
                      IllegalAmount: Illegal amount
                      IllegalOrderTypeChange: Illegal order type change
                      InstrumentForcedExposureReductionViolation: Exposure cannot be increased due to instrument configuration.
                      MarketClosed: Market is closed
                      TooLateToChangeOrder: Too late to change order
                      PriceNotInTickSizeIncrements: Order price is not in tick size increments
                      LimitTooFarFromStop: Limit price is too far away from stop price
                      LimitOrderLowerThenStopOnBuy: Not allowed to change price of limit order lower than price of related stop order
                      StopOrderLowerLimitOnSell: Not allowed to change price of stop order lower than price of related limit order
                      OrderCannotBeChangedAtThisTime: Order cannot be changed at this time
                      OrderSizeGreaterThanMaximumAllowed: Order Size is greater than the maximum allowed order size.
                      InsufficientCash: Insufficient cash for trade
                      AlreadyPendingCancelReplace: Request to Cancel or Replace order already send
                      AmountBelowMinimumLotSize: Order size is below the minimum exchange lot size.
                      AmountNotInLotSize: Order size is not a valid exchange lot order size.
                      BrokerOption: Broker Option
                      OnWrongSideOfMarket: Order price is on wrong side of market
                      OrderNotFound: Requested order id not found
                      OrderValueTooLarge: Order value is too large
                      OrderValueToSmall: Order value must be above the minimum order value for this exchange
                      PriceExceedsAggressiveTolerance: Price exceeds aggressive tolerance
                      ShortTradeDisabled: Trading Short for selected instrument disabled
                      TooCloseToOcoRelatedOrderPrice: Order price is too close to OCO related order price
                      TooFarFromMarket: Limit price is too far from market
                      WouldExceedMargin: Trade would exceed margin limits
                      WouldExceedMarginCeiling: Would exceed margin ceiling
                      CouldNotCompleteRequest: Could not complete request.
                      WrongSideOfRelatedOrder: Order price is on wrong side of related order.
                      AmountCannotBeLessThanFilledAmount: Amount cannot be less than filled amount.
                      OtherError: OtherError.
                      IllegalDate: Illegal Date
                      IllegalStrike: Illegal strike price
                      InstrumentDisabledForTrading: Trading is disabled for the instrument
                      LimitOrderHigherStopOnSell: Not allowed to change price of limit order higher than price of related stop order
                      NotTradableAtPresent: Not tradable at present
                      OptionExerciseAfterCutoff: Exercise not allowed after exercise cut-off time or on last trading day or later
                      OrderRelatedPositionMissMatch: Order does not match related position
                      TooCloseToMarket: Guaranteed stop is too close to market
                      InvalidAllocationKeyUsed: Order or trade placed with an allocationkey thats marked as inactive or deleted
                      ForceOpenNotAllowed: Force Open is not allowed
                      BlocksExistForOwnedContracts: The block exists for the owned contract.
                      BreakoutUpPriceCannotBeLessThanDownPrice: Breakout up price cannot be less than down price.
                      ClientOnReduceForcedExposureReductionViolation: Client is on Reduce group type. Exposure cannot be increased.
                      ContactExposureLimitation: Contact level exposure limit exceeded
                      NotPrimarySession: Operation not allowed, due to not being in Primary session mode.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '201':
          description: Created
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Write
  /trade/v2/orders/multileg/precheck:
    post:
      tags:
      - Orders
      summary: Pre-check a multileg options strategy order.
      description: Preforms a pre-check on a single options strategy order.
      operationId: OrdersV2PreCheckMultilegOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreCheckMultiLegOrderRequest'
            example:
              AccountKey: 01b64edf-da03-4145-bf33-ae21527d4c86
              ExternalReference: stringValue
              FieldGroups:
              - MarginImpactBuySell
              Legs:
              - Amount: 10
                AssetType: CfdOnEtf
                BuySell: Buy
                ToOpenClose: Undefined
                Uic: 99
              ManualOrder: false
              OrderDuration:
                DurationType: GoodTillDate
                ExpirationDateContainsTime: true
                ExpirationDateTime: '2022-11-09T14:00:00'
              OrderPrice: 10
              OrderType: TriggerLimit
              TraderId: stringValue
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreCheckOrderResponse'
              example:
                Cost:
                  Commission: 1000
                  ExchangeFee: 0
                  GuaranteedStopFee: 0
                  StampDuty: 0
                EstimatedCashRequired: 1500000
                EstimatedCashRequiredCurrency: EUR
                EstimatedTotalCost: 1500000
                EstimatedTotalCostInAccountCurrency: 1500000
                InstrumentToAccountConversionRate: 1
                MarginImpactBuySell:
                  Currency: USD
                  InitialMarginAvailableBuy: 10447
                  InitialMarginAvailableCurrent: 10470
                  InitialMarginBuy: 12
                  MaintenanceMarginBuy: 11
                PreCheckResult: Ok
        '200':
          description: Check response for ErrorInfo fields to determine success or failure to pre-check order
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - ActiveFollowerCannotDoManualTrade
                    - AmountBelowMinimumLotSize
                    - AmountNotInLotSize
                    - BlocksExistForOwnedContracts
                    - BreakoutUpPriceCannotBeLessThanDownPrice
                    - BrokerOption
                    - CashAmountLessThanMinInitialInvestmentAmount
                    - ClientExposureLimitation
                    - ClientOnReduceForcedExposureReductionViolation
                    - ContactExposureLimitation
                    - CouldNotCompleteRequest
                    - CrossCurrencyOrderOnMarginLendingAccountNotAllowed
                    - DurationNotSupported
                    - ExpirationDateRequired
                    - ForceOpenNotAllowed
                    - ForcedExposureReductionViolation
                    - GtdOrderCannotBeLaterThanExpiry
                    - IllegalAccount
                    - IllegalAmount
                    - IllegalAssetType
                    - IllegalDate
                    - IllegalInstrumentId
                    - IllegalRequest
                    - IllegalStrike
                    - InSufficientOrderLegsSpecified
                    - InstrumentDisabledForTrading
                    - InstrumentForcedExposureReductionViolation
                    - InstrumentHasExpired
                    - InstrumentNotAllowed
                    - InsufficientCash
                    - InvalidAllocationKeyUsed
                    - InvalidModelState
                    - InvalidRequest
                    - InvalidUic
                    - InvalidValueDate
                    - LimitTooFarFromStop
                    - MarketClosed
                    - NotOwned
                    - NotPrimarySession
                    - NotTradableAtPresent
                    - OnWrongSideOfMarket
                    - OnlySidedReductionAllowed
                    - OptionExerciseAfterCutoff
                    - OptionExerciseNotAllowedDueExDateOfUpcomingCorporateActionOnInstrument
                    - OrderNotFound
                    - OrderNotPlaced
                    - OrderNotSupportedForAccountType
                    - OrderPriceOutsideLimit
                    - OrderSizeGreaterThanMaximumAllowed
                    - OrderTypeNotSupported
                    - OrderValueToSmall
                    - OrderValueTooLarge
                    - OtherError
                    - PriceExceedsAggressiveTolerance
                    - PriceHasMoved
                    - PriceNotInTickSizeIncrements
                    - RelatedOrClosingOrderNotAllowedForIntradayNettingClients
                    - SellExceedsSettledExposure
                    - SellOrdersAlreadyExistForOwnedContracts
                    - ShortTradeDisabled
                    - ToOpenNotAllowedOnInstrument
                    - TooCloseToMarket
                    - TooFarFromMarket
                    - TradingDisabled
                    - WouldComeTooCloseToAccountValueProtectionLimit
                    - WouldExceedAccountValueProtectionLimit
                    - WouldExceedMargin
                    - WouldExceedMarginCeiling
                    - WouldExceedMaxCreditLine
                    - WouldExceedMaxCreditLineLimit
                    - WouldExceedTradingLine
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidModelState: One or more properties of the request are invalid!
                      InvalidUic: UIC is either invalid or not specified at all.
                      IllegalAmount: Illegal amount.
                      OrderNotPlaced: Order not placed as other order in request was rejected.
                      OrderNotFound: Requested order id not found
                      OnWrongSideOfMarket: Order price is on wrong side of market
                      TooFarFromMarket: Limit price is too far from market
                      WouldExceedMargin: Trade would exceed margin limits
                      NotTradableAtPresent: Not tradable at present
                      DurationNotSupported: The supplied duration is not supported for the current order.
                      AmountBelowMinimumLotSize: Order size is below the minimum exchange lot size.
                      AmountNotInLotSize: Order size is not a valid exchange lot order size.
                      PriceExceedsAggressiveTolerance: Price exceeds aggressive tolerance
                      OrderValueToSmall: Order value must be above the minimum order value for this exchange
                      IllegalAccount: Illegal Account
                      CashAmountLessThanMinInitialInvestmentAmount: Cash amount should be more than or equal to minimum investment amount.
                      SellExceedsSettledExposure: Selling on T day is limited to end of day position on T-1 day.
                      TradingDisabled: Trading is disabled for the client.
                      ActiveFollowerCannotDoManualTrade: You are not allowed to open or close a position on an active strategy account
                      ClientExposureLimitation: Trade would exceed client exposure limitation
                      ForcedExposureReductionViolation: Forced exposure reduction violation
                      GtdOrderCannotBeLaterThanExpiry: GTD order cannot be later than expiry
                      InstrumentDisabledForTrading: Trading is disabled for the instrument
                      InstrumentHasExpired: Instrument has expired
                      InstrumentNotAllowed: Not allowed to trade in this instrument
                      MarketClosed: Market is closed
                      IllegalRequest: Request type not supported
                      NotOwned: Selling contracts not owned
                      PriceNotInTickSizeIncrements: Order price is not in tick size increments
                      SellOrdersAlreadyExistForOwnedContracts: Contracts owned, but sell orders already exist
                      OrderPriceOutsideLimit: Price too far from market
                      LimitTooFarFromStop: Limit price is too far away from stop price
                      OrderTypeNotSupported: Order type not supported
                      WouldExceedAccountValueProtectionLimit: Trade would exceed the account value protection limit.
                      WouldExceedTradingLine: Trade would exceed trading line limits
                      OrderSizeGreaterThanMaximumAllowed: Order Size is greater than the maximum allowed order size.
                      RelatedOrClosingOrderNotAllowedForIntradayNettingClients: Position-related orders are not allowed when real-time netting is enabled.
                      ToOpenNotAllowedOnInstrument: 'Adjusted Option Class: Not allowed to increase exposure.'
                      PriceHasMoved: Price has moved. Please review Price Tolerance to increase the chances of a fill
                      InsufficientCash: Insufficient cash for trade
                      BrokerOption: Broker Option
                      IllegalAssetType: Illegal asset type
                      OnlySidedReductionAllowed: Only sided exposure reduction is allowed.
                      OrderValueTooLarge: Order value is too large
                      ShortTradeDisabled: Trading Short for selected instrument disabled
                      WouldExceedMarginCeiling: Would exceed margin ceiling
                      IllegalInstrumentId: Unknown instrument name
                      InvalidAllocationKeyUsed: Order or trade placed with an allocationkey thats marked as inactive or deleted
                      CouldNotCompleteRequest: Could not complete request.
                      OtherError: OtherError.
                      IllegalDate: Illegal Date
                      IllegalStrike: Illegal strike price
                      OptionExerciseAfterCutoff: Exercise not allowed after exercise cut-off time or on last trading day or later
                      TooCloseToMarket: Guaranteed stop is too close to market
                      ExpirationDateRequired: Expiration date is mandatory for this type of order request.
                      InstrumentForcedExposureReductionViolation: Exposure cannot be increased due to instrument configuration.
                      OrderNotSupportedForAccountType: Order is not supported for MarginLending Account
                      CrossCurrencyOrderOnMarginLendingAccountNotAllowed: Cross Currency order not supported for MarginLending Account
                      WouldExceedMaxCreditLine: Trade would exceed available max credit (collateral) line utilization.
                      WouldExceedMaxCreditLineLimit: Trade would exceed available max credit (collateral) line limit.
                      InvalidValueDate: Invalid value date
                      InSufficientOrderLegsSpecified: Insufficient order legs provided for a multi-leg strategy order.
                      ForceOpenNotAllowed: Force Open is not allowed
                      BlocksExistForOwnedContracts: The block exists for the owned contract.
                      BreakoutUpPriceCannotBeLessThanDownPrice: Breakout up price cannot be less than down price.
                      OptionExerciseNotAllowedDueExDateOfUpcomingCorporateActionOnInstrument: Option exercise not allowed day before expiry date of upcoming corporate action on this instrument.
                      ClientOnReduceForcedExposureReductionViolation: Client is on Reduce group type. Exposure cannot be increased.
                      ContactExposureLimitation: Contact level exposure limit exceeded
                      NotPrimarySession: Operation not allowed, due to not being in Primary session mode.
                      WouldComeTooCloseToAccountValueProtectionLimit: 'Precheck problem: Would Come Too Close To AccountValue Protection Limit.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Read
  /trade/v2/orders/precheck:
    post:
      tags:
      - Orders
      summary: Pre-check orders
      description: Performs pre-check of a stand-alone order, a 3-way order or an OcO order pair.
      operationId: OrdersV2PreCheckOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreCheckOrderRequest'
            example:
              AccountKey: LZTc7DdejXODf-WSl2aCyQ==
              Amount: 10000
              AssetType: CfdOnStock
              BuySell: Buy
              FieldGroups:
              - MarginImpactBuySell
              - Costs
              OrderDuration:
                DurationType: GoodTillDate
                ExpirationDateContainsTime: true
                ExpirationDateTime: '2022-11-09T14:00:00'
              OrderType: Market
              Uic: 15521
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreCheckOrderResponse'
              example:
                Cost:
                  Commission: 1000
                  ExchangeFee: 0
                  GuaranteedStopFee: 0
                  StampDuty: 0
                EstimatedCashRequired: 1500000
                EstimatedCashRequiredCurrency: EUR
                EstimatedTotalCost: 1500000
                EstimatedTotalCostInAccountCurrency: 1500000
                InstrumentToAccountConversionRate: 1
                MarginImpactBuySell:
                  Currency: USD
                  InitialMarginAvailableBuy: 10447
                  InitialMarginAvailableCurrent: 10470
                  InitialMarginBuy: 12
                  MaintenanceMarginBuy: 11
                PreCheckResult: Ok
        '200':
          description: Check response for ErrorInfo fields to determine success or failure to pre-check order
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - ActiveFollowerCannotDoManualTrade
                    - AlgoOrderTimeBeforeExchangeOpen
                    - AllocationKeyDoesNotMatchAccount
                    - AmountBelowMinimumLotSize
                    - AmountChangeNotAllowedWhenAmountIsInAllocationUnitKey
                    - AmountNotInLotSize
                    - BlocksExistForOwnedContracts
                    - BreakoutUpPriceCannotBeLessThanDownPrice
                    - BrokerOption
                    - CashAmountLessThanMinInitialInvestmentAmount
                    - ClientExposureLimitation
                    - ClientNotEnabledForExtendedTradingHours
                    - ClientOnReduceForcedExposureReductionViolation
                    - ContactExposureLimitation
                    - CouldNotCompleteRequest
                    - CrossCurrencyOrderOnMarginLendingAccountNotAllowed
                    - DealCaptureAllocationKeyNotCorrect
                    - DealCaptureInformationNotCorrect
                    - DurationNotSupported
                    - ExpirationDateRequired
                    - ExtendedHoursTradingCannotBeChanged
                    - ForceOpenNotAllowed
                    - ForcedExposureReductionViolation
                    - ForwardDateInPast
                    - ForwardDateRequired
                    - GtdOrderCannotBeLaterThanExpiry
                    - IllegalAccount
                    - IllegalAmount
                    - IllegalAssetType
                    - IllegalDate
                    - IllegalInstrumentId
                    - IllegalRequest
                    - IllegalStrike
                    - IncorrectValuationTypeAndNettingMethod
                    - InstrumentDisabledForTrading
                    - InstrumentForcedExposureReductionViolation
                    - InstrumentHasExpired
                    - InstrumentNotAllowed
                    - InstrumentNotSupportedForExtendedHours
                    - InvalidAllocationKeyUsed
                    - InvalidModelState
                    - InvalidRequest
                    - InvalidUic
                    - InvalidValueDate
                    - LimitTooFarFromStop
                    - MarketClosed
                    - NotOwned
                    - NotPrimarySession
                    - NotTradableAtPresent
                    - OnWrongSideOfMarket
                    - OnlyLimitOrderAllowedForExtendedHours
                    - OnlySidedReductionAllowed
                    - OptionExerciseAfterCutoff
                    - OptionExerciseNotAllowedDueExDateOfUpcomingCorporateActionOnInstrument
                    - OrderNotFound
                    - OrderNotPlaced
                    - OrderNotSupportedForAccountType
                    - OrderPriceOutsideLimit
                    - OrderRequestAfterLastTradingDate
                    - OrderSizeGreaterThanMaximumAllowed
                    - OrderTypeNotSupported
                    - OrderValueToSmall
                    - OrderValueTooLarge
                    - OtherError
                    - PriceExceedsAggressiveTolerance
                    - PriceHasMoved
                    - PriceNotInTickSizeIncrements
                    - RelatedOrClosingOrderNotAllowedForIntradayNettingClients
                    - RelatedPositionNotFound
                    - SellExceedsSettledExposure
                    - SellOrdersAlreadyExistForOwnedContracts
                    - ShortTradeDisabled
                    - ToOpenNotAllowedOnInstrument
                    - TooCloseToMarket
                    - TooFarFromMarket
                    - TradingDisabled
                    - WouldComeTooCloseToAccountValueProtectionLimit
                    - WouldExceedAccountValueProtectionLimit
                    - WouldExceedMarginCeiling
                    - WouldExceedMaxCreditLine
                    - WouldExceedMaxCreditLineLimit
                    - WouldExceedTradingLine
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidModelState: One or more properties of the request are invalid!
                      InvalidUic: UIC is either invalid or not specified at all.
                      IllegalAmount: Illegal amount.
                      ForwardDateRequired: Forward date is mandatory.
                      ForwardDateInPast: Forward date is in the past.
                      OrderNotPlaced: Order not placed as other order in request was rejected.
                      OrderNotFound: Requested order id not found
                      OnWrongSideOfMarket: Order price is on wrong side of market
                      TooFarFromMarket: Limit price is too far from market
                      NotTradableAtPresent: Not tradable at present
                      DurationNotSupported: The supplied duration is not supported for the current order.
                      AmountBelowMinimumLotSize: Order size is below the minimum exchange lot size.
                      AmountNotInLotSize: Order size is not a valid exchange lot order size.
                      PriceExceedsAggressiveTolerance: Price exceeds aggressive tolerance
                      OrderValueToSmall: Order value must be above the minimum order value for this exchange
                      IllegalAccount: Illegal Account
                      AlgoOrderTimeBeforeExchangeOpen: Algo order parameter has time before exchange open.
                      CashAmountLessThanMinInitialInvestmentAmount: Cash amount should be more than or equal to minimum investment amount.
                      SellExceedsSettledExposure: Selling on T day is limited to end of day position on T-1 day.
                      TradingDisabled: Trading is disabled for the client.
                      ActiveFollowerCannotDoManualTrade: You are not allowed to open or close a position on an active strategy account
                      ClientExposureLimitation: Trade would exceed client exposure limitation
                      ForcedExposureReductionViolation: Forced exposure reduction violation
                      GtdOrderCannotBeLaterThanExpiry: GTD order cannot be later than expiry
                      InstrumentDisabledForTrading: Trading is disabled for the instrument
                      InstrumentHasExpired: Instrument has expired
                      InstrumentNotAllowed: Not allowed to trade in this instrument
                      MarketClosed: Market is closed
                      IllegalRequest: Request type not supported
                      NotOwned: Selling contracts not owned
                      PriceNotInTickSizeIncrements: Order price is not in tick size increments
                      RelatedPositionNotFound: Related position not found
                      SellOrdersAlreadyExistForOwnedContracts: Contracts owned, but sell orders already exist
                      OrderPriceOutsideLimit: Price too far from market
                      LimitTooFarFromStop: Limit price is too far away from stop price
                      OrderTypeNotSupported: Order type not supported
                      WouldExceedAccountValueProtectionLimit: Trade would exceed the account value protection limit.
                      WouldExceedTradingLine: Trade would exceed trading line limits
                      OrderSizeGreaterThanMaximumAllowed: Order Size is greater than the maximum allowed order size.
                      RelatedOrClosingOrderNotAllowedForIntradayNettingClients: Position-related orders are not allowed when real-time netting is enabled.
                      ToOpenNotAllowedOnInstrument: 'Adjusted Option Class: Not allowed to increase exposure.'
                      PriceHasMoved: Price has moved. Please review Price Tolerance to increase the chances of a fill
                      BrokerOption: Broker Option
                      IllegalAssetType: Illegal asset type
                      OnlySidedReductionAllowed: Only sided exposure reduction is allowed.
                      OrderValueTooLarge: Order value is too large
                      ShortTradeDisabled: Trading Short for selected instrument disabled
                      WouldExceedMarginCeiling: Would exceed margin ceiling
                      IllegalInstrumentId: Unknown instrument name
                      InvalidAllocationKeyUsed: Order or trade placed with an allocationkey thats marked as inactive or deleted
                      CouldNotCompleteRequest: Could not complete request.
                      OtherError: OtherError.
                      IllegalDate: Illegal Date
                      IllegalStrike: Illegal strike price
                      OptionExerciseAfterCutoff: Exercise not allowed after exercise cut-off time or on last trading day or later
                      TooCloseToMarket: Guaranteed stop is too close to market
                      ExpirationDateRequired: Expiration date is mandatory for this type of order request.
                      InstrumentForcedExposureReductionViolation: Exposure cannot be increased due to instrument configuration.
                      OrderNotSupportedForAccountType: Order is not supported for MarginLending Account
                      CrossCurrencyOrderOnMarginLendingAccountNotAllowed: Cross Currency order not supported for MarginLending Account
                      WouldExceedMaxCreditLine: Trade would exceed available max credit (collateral) line utilization.
                      WouldExceedMaxCreditLineLimit: Trade would exceed available max credit (collateral) line limit.
                      InvalidValueDate: Invalid value date
                      ForceOpenNotAllowed: Force Open is not allowed
                      AllocationKeyDoesNotMatchAccount: Account used for trade registration does not match account owner of trade allocation key used
                      OrderRequestAfterLastTradingDate: The instruments's last trading date has passed.
                      BlocksExistForOwnedContracts: The block exists for the owned contract.
                      BreakoutUpPriceCannotBeLessThanDownPrice: Breakout up price cannot be less than down price.
                      DealCaptureInformationNotCorrect: Deal capture information is not correct.
                      DealCaptureAllocationKeyNotCorrect: Deal capture allocation key not correct.
                      OptionExerciseNotAllowedDueExDateOfUpcomingCorporateActionOnInstrument: Option exercise not allowed day before expiry date of upcoming corporate action on this instrument.
                      ClientOnReduceForcedExposureReductionViolation: Client is on Reduce group type. Exposure cannot be increased.
                      ContactExposureLimitation: Contact level exposure limit exceeded
                      AmountChangeNotAllowedWhenAmountIsInAllocationUnitKey: Changing amount not allowed when amount is in allocation unit key.
                      NotPrimarySession: Operation not allowed, due to not being in Primary session mode.
                      OnlyLimitOrderAllowedForExtendedHours: In case of extended hours order, the OrderType must be limit.
                      InstrumentNotSupportedForExtendedHours: If Extended trading hours is not configured for given instrument.
                      ExtendedHoursTradingCannotBeChanged: Value of Extended trading hours cannot be changed.
                      ClientNotEnabledForExtendedTradingHours: Client is not enabled for trading in extended trading hours.
                      WouldComeTooCloseToAccountValueProtectionLimit: 'Precheck problem: Would Come Too Close To AccountValue Protection Limit.'
                      IncorrectValuationTypeAndNettingMethod: ValuationType(yield based/yield based with coupon) and 'average netting method' order cannot placed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Read
  /trade/v2/orders/{OrderIds}:
    delete:
      tags:
      - Orders
      summary: Cancel one or more orders
      description: Cancels one or more orders.
      operationId: OrdersV2CancelOrder
      parameters:
      - name: AccountKey
        in: query
        description: Unique key identifying the account.
        required: true
        style: form
        explode: false
        schema:
          minLength: 1
          type: string
          x-type-name: AccountKey
        example: LZTc7DdejXODf-WSl2aCyQ==
      - name: OrderIds
        in: path
        description: Comma-delimited string of order ids to cancel.
        required: true
        style: simple
        schema:
          type: string
        example: '67762872'
      responses:
        '204':
          description: Not used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
              example:
                Orders:
                - ErrorInfo:
                    ErrorCode: Unknown
                    Message: Order request rejected
        '200':
          description: Check response for OrderId and ErrorInfo fields to determine success or failure to cancel order
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - ActiveFollowerCannotCancelOrderManually
                    - AlreadyPendingCancelReplace
                    - BrokerOption
                    - ClientCannotCancelStopOutOrder
                    - ClientCannotChangeAllocatedOrder
                    - ClientNotEnabledForExtendedTradingHours
                    - CouldNotCompleteRequest
                    - ExtendedHoursTradingCannotBeChanged
                    - ForceOpenNotAllowed
                    - IllegalAccount
                    - InstrumentNotSupportedForExtendedHours
                    - InvalidModelState
                    - InvalidRequest
                    - OnlyLimitOrderAllowedForExtendedHours
                    - OrderCannotBeCancelledAtThisTime
                    - OrderCommandPending
                    - OrderCommandTimeout
                    - OrderNotFound
                    - OtherError
                    - TooLateToCancelOrder
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidModelState: One or more properties of the request are invalid!
                      IllegalAccount: Illegal Account
                      ClientCannotCancelStopOutOrder: Client can not cancel a market stop-out order.
                      ActiveFollowerCannotCancelOrderManually: An active trade follower is not allowed to cancel order manually.
                      AlreadyPendingCancelReplace: Request to Cancel or Replace order already send
                      ClientCannotChangeAllocatedOrder: Cannot change order – part of an allocation.
                      OrderCannotBeCancelledAtThisTime: Order cannot be canceled at this time
                      BrokerOption: Broker Option
                      OrderNotFound: Requested order id not found
                      TooLateToCancelOrder: Too late to cancel order
                      CouldNotCompleteRequest: Could not complete request.
                      OtherError: OtherError.
                      ForceOpenNotAllowed: Force Open is not allowed
                      OrderCommandTimeout: Your order request timed out. Please try again.
                      OrderCommandPending: Your order request is pending broker confirmation. Confirmation is still possible.
                      OnlyLimitOrderAllowedForExtendedHours: In case of extended hours order, the OrderType must be limit.
                      InstrumentNotSupportedForExtendedHours: If Extended trading hours is not configured for given instrument.
                      ExtendedHoursTradingCannotBeChanged: Value of Extended trading hours cannot be changed.
                      ClientNotEnabledForExtendedTradingHours: Client is not enabled for trading in extended trading hours.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '201':
          description: Created
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Write
  /trade/v2/orders:
    post:
      tags:
      - Orders
      summary: Place a new order
      description: 'The order can contain optional limit and stop orders, by adding them as child orders.



        It is also possible to place an order on behalf of another client (for IBs).



        The account key property of the order determines the client account on which the order is placed.'
      operationId: OrdersV2PlaceOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceOrderRequest'
            example:
              AlgoOrderData:
                Arguments:
                  DisplayQuantity: '100'
                StrategyName: Iceberg
              Orders:
              - AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                Amount: 100000
                AssetType: FxSpot
                BuySell: Sell
                OrderDuration:
                  DurationType: GoodTillCancel
                OrderPrice: 1.13
                OrderType: Limit
                Uic: 21
              - AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                Amount: 100000
                AssetType: FxSpot
                BuySell: Sell
                OrderDuration:
                  DurationType: GoodTillCancel
                OrderPrice: 1.03
                OrderType: Stop
                Uic: 21
      responses:
        '201':
          description: Not used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericOrderResponse'
              example:
                OrderId: '67762872'
                Orders:
                - OrderId: '67762872'
        '200':
          description: Check response for OrderId and ErrorInfo fields to determine success or failure to place order
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - ActiveFollowerCannotDoManualTrade
                    - AlgoOrderTimeBeforeExchangeOpen
                    - AmountBelowMinimumLotSize
                    - AmountCannotBeLessThanFilledAmount
                    - AmountNotInLotSize
                    - BlocksExistForOwnedContracts
                    - BreakoutUpPriceCannotBeLessThanDownPrice
                    - BrokerOption
                    - CashAmountLessThanMinInitialInvestmentAmount
                    - ClientExposureLimitation
                    - ClientNotEnabledForExtendedTradingHours
                    - ClientOnReduceForcedExposureReductionViolation
                    - ConditionDurationNotSupported
                    - ConditionOnWrongSideOfMarket
                    - ConditionPriceExceedsAggressiveTolerance
                    - ConditionTooFarFromMarket
                    - ContactExposureLimitation
                    - CouldNotCompleteRequest
                    - CrossCurrencyOrderOnMarginLendingAccountNotAllowed
                    - DealCaptureAllocationKeyNotCorrect
                    - DealCaptureInformationNotCorrect
                    - DurationNotSupported
                    - ExpirationDateInPast
                    - ExpirationDateRequired
                    - ExtendedHoursTradingCannotBeChanged
                    - ForceOpenNotAllowed
                    - ForcedExposureReductionViolation
                    - ForwardDateInPast
                    - ForwardDateRequired
                    - GtdOrderCannotBeLaterThanExpiry
                    - IllegalAccount
                    - IllegalAmount
                    - IllegalAssetType
                    - IllegalDate
                    - IllegalInstrumentId
                    - IllegalRequest
                    - IllegalStrike
                    - IncorrectValuationTypeAndNettingMethod
                    - InstrumentDisabledForTrading
                    - InstrumentForcedExposureReductionViolation
                    - InstrumentHasExpired
                    - InstrumentNotAllowed
                    - InstrumentNotSupportedForExtendedHours
                    - InsufficientCash
                    - InvalidAllocationKeyUsed
                    - InvalidModelState
                    - InvalidRequest
                    - InvalidUic
                    - InvalidValueDate
                    - LimitTooFarFromStop
                    - MarketClosed
                    - NotOwned
                    - NotPrimarySession
                    - NotTradableAtPresent
                    - OnWrongSideOfMarket
                    - OnlyLimitOrderAllowedForExtendedHours
                    - OnlySidedReductionAllowed
                    - OptionExerciseAfterCutoff
                    - OptionExerciseNotAllowedDueExDateOfUpcomingCorporateActionOnInstrument
                    - OrderCommandPending
                    - OrderCommandTimeout
                    - OrderIsRestrictedForAccountManagementType
                    - OrderNotFound
                    - OrderNotPlaced
                    - OrderNotSupportedForAccountType
                    - OrderPriceOutsideLimit
                    - OrderRejectedByBroker
                    - OrderRelatedPositionIsClosed
                    - OrderRelatedPositionMissMatch
                    - OrderRequestAfterLastTradingDate
                    - OrderSizeGreaterThanMaximumAllowed
                    - OrderTypeNotSupported
                    - OrderValueToSmall
                    - OrderValueTooLarge
                    - OtherError
                    - PriceExceedsAggressiveTolerance
                    - PriceHasMoved
                    - PriceNotInTickSizeIncrements
                    - RelatedOrClosingOrderNotAllowedForIntradayNettingClients
                    - RelatedPositionNotFound
                    - RepeatTradeOnAutoQuote
                    - SellExceedsSettledExposure
                    - SellOrdersAlreadyExistForOwnedContracts
                    - ShortTradeDisabled
                    - ToOpenNotAllowedOnInstrument
                    - TooCloseToMarket
                    - TooCloseToOcoRelatedOrderPrice
                    - TooFarFromEntryOrder
                    - TooFarFromMarket
                    - TradingDisabled
                    - WouldComeTooCloseToAccountValueProtectionLimit
                    - WouldExceedAccountValueProtectionLimit
                    - WouldExceedMargin
                    - WouldExceedMarginCeiling
                    - WouldExceedMaxCreditLine
                    - WouldExceedMaxCreditLineLimit
                    - WouldExceedTradingLine
                    - WrongSideOfRelatedOrder
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidModelState: One or more properties of the request are invalid!
                      ForwardDateRequired: Forward date is mandatory.
                      ForwardDateInPast: Forward date is in the past.
                      ExpirationDateInPast: Expiration date is in the past.
                      InvalidUic: UIC is either invalid or not specified at all.
                      OrderNotPlaced: Order not placed as other order in request was rejected.
                      OrderNotFound: Requested order id not found
                      OnWrongSideOfMarket: Order price is on wrong side of market
                      TooFarFromMarket: Limit price is too far from market
                      WouldExceedMargin: Trade would exceed margin limits
                      NotTradableAtPresent: Not tradable at present
                      DurationNotSupported: The supplied duration is not supported for the current order.
                      AmountBelowMinimumLotSize: Order size is below the minimum exchange lot size.
                      AmountNotInLotSize: Order size is not a valid exchange lot order size.
                      OrderRelatedPositionMissMatch: Order does not match related position
                      PriceExceedsAggressiveTolerance: Price exceeds aggressive tolerance
                      OrderValueToSmall: Order value must be above the minimum order value for this exchange
                      IllegalAccount: Illegal Account
                      AlgoOrderTimeBeforeExchangeOpen: Algo order parameter has time before exchange open.
                      CashAmountLessThanMinInitialInvestmentAmount: Cash amount should be more than or equal to minimum investment amount.
                      SellExceedsSettledExposure: Selling on T day is limited to end of day position on T-1 day.
                      TradingDisabled: Trading is disabled for the client.
                      ActiveFollowerCannotDoManualTrade: You are not allowed to open or close a position on an active strategy account
                      ClientExposureLimitation: Trade would exceed client exposure limitation
                      ForcedExposureReductionViolation: Forced exposure reduction violation
                      GtdOrderCannotBeLaterThanExpiry: GTD order cannot be later than expiry
                      InstrumentDisabledForTrading: Trading is disabled for the instrument
                      InstrumentHasExpired: Instrument has expired
                      InstrumentNotAllowed: Not allowed to trade in this instrument
                      MarketClosed: Market is closed
                      IllegalRequest: Request type not supported
                      NotOwned: Selling contracts not owned
                      PriceNotInTickSizeIncrements: Order price is not in tick size increments
                      RelatedPositionNotFound: Related position not found
                      OrderRelatedPositionIsClosed: Related position already closed
                      SellOrdersAlreadyExistForOwnedContracts: Contracts owned, but sell orders already exist
                      OrderPriceOutsideLimit: Price too far from market
                      TooFarFromEntryOrder: Order price is too far from the entry order
                      LimitTooFarFromStop: Limit price is too far away from stop price
                      OrderTypeNotSupported: Order type not supported
                      WouldExceedAccountValueProtectionLimit: Trade would exceed the account value protection limit.
                      WouldExceedTradingLine: Trade would exceed trading line limits
                      OrderRejectedByBroker: Order Rejected by Broker.
                      OrderSizeGreaterThanMaximumAllowed: Order Size is greater than the maximum allowed order size.
[...]
