openapi: 3.2.0
info:
  title: Services.Root Subscriptions API
  description: The root service group provides endpoints for central subscription management and session capabilities.
  version: 2.3.192+a048287b46
  x-framework-version: 43.0.5+65c0bdc8ab
  x-machine: SIMOAWEB10-DK2
servers:
- url: https://gateway.saxobank.com/sim/openapi
tags:
- name: Subscriptions
  description: 'Central Subscriptions Management (CSM) providing broadcast commanding such as delete

    of multiple subscriptions in a single request.'
paths:
  /root/v1/subscriptions/{ContextId}:
    delete:
      tags:
      - Subscriptions
      summary: Remove multiple active subscriptions
      description: Removes multiple subscriptions for the current session, and frees all resources on the server.
      operationId: SubscriptionsV1DeleteSubscriptions
      parameters:
      - name: ContextId
        in: path
        description: Unique streaming context ID part of the streaming session.
        required: true
        style: simple
        schema:
          type: string
        example: '20160204125301453'
      - name: Tag
        in: query
        description: Tag that subscriptions are marked with.
        style: form
        explode: false
        schema:
          type: string
        example: TAB9
      responses:
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
components:
  responses:
    Unauthorized:
      description: Indicates that the request was rejected because the 'Authorization' header was missing in the request or contained an invalid security token.
    TooManyRequests:
      description: The request was rejected due to rate limit being exceeded.
    BadRequest:
      description: One or more of the provided parameters are invalid.
      content:
        application/json:
          schema:
            required:
            - ErrorCode
            - Message
            type: object
            properties:
              ErrorCode:
                enum:
                - InvalidRequest
                type: string
                example: None
                x-enum-descriptions:
                  InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
              Message:
                type: string
              ModelState:
                $ref: '#/components/schemas/ModelStateDictionary'
    ServiceUnavailable:
      description: Service Unavailable.
  schemas:
    ModelStateDictionary:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
  securitySchemes:
    OpenApiJWTSecurityScheme:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OpenApiOAuthSecurityScheme:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sim.logonvalidation.net/authorize
          tokenUrl: https://sim.logonvalidation.net/token
          scopes: {}
