openapi: 3.0.1
info:
  title: Services.AutoTrading Account Values Signups API
  description: 'The AutoTrading service group provides endpoints for interacting with Saxo Bank''s SaxoSelect offering.Through these interfaces a client application can get Saxo Select trade leaders, portfolios and investments. Portfolio investments can be created and modifed.<div class=well style=''border: 1px solid rgb(204, 82, 0); border-image: none; background-color: rgb(255, 209, 179);padding:1px;''><strong> Note:</strong> </br>This service is subject to special licensing agreements and not generally available to all OpenAPI applications.</div>'
  version: 2.4.138+710c760591
  x-framework-version: 38.0.2+439c5b0ec3
  x-machine: SIMOAWEB11-DK2
servers:
- url: https://gateway.saxobank.com/sim/openapi
tags:
- name: Signups
  description: "The Signups resource is only implemented in LIVE environment. Implementation in simulation system only returns sample data and response.\n            \nFull client registrations.\n\nThe Signups resource is intended for an IB to upload complete details of a prospective client. \n            A signup is completed by first POSTing information to the signups endpoint. \n            Subsequently you may POST to the /signups/files endpoint to add files to the signup. \n\n\nA number of the fields on the signup resource are user selectable options. You can get a list of options\n            for all user selectable fields by calling the /signup/options endpoint."
paths:
  /cm/v2/signups/verification/initiate/{ClientKey}:
    post:
      tags:
      - Signups
      summary: Initiate verification process from external vendor
      description: Initiates the verification process for a client by returning a URL that will redirect the client to an external vendor. If successful, the onboarding status will be approved.
      operationId: SignUpV2InitiateVerification
      parameters:
      - name: ClientKey
        in: path
        description: The client key
        required: true
        style: simple
        schema:
          minLength: 1
          type: string
          x-type-name: ClientKey
        example: d2-PzdC5wIPy1284wD-rRA==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateVerification.InitiateVerificationRequest'
            example:
              SecureMeRequest:
                CountryCode: UK
                ErrorRedirectUrl: https://openapi.validate.com
                ServiceLanguageCode: FR
                SuccessRedirectUrl: https://openapi.validate.com
                UploadOptions:
                  Back: File
                  Front: File
                  Selfie: Camera
              VerificationProviderType: SecureMe
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateVerification.InitiateVerificationResponse'
              example:
                IdentificationUrl: https://secure-me.au10tixservicesstaging.com?token=oBVmsTzsSMGvYES0y9jj&api=aHR0cHM6Ly93ZXUtYXBpLmF1MTB0aXhzZXJ2aWNlc3N0YWdpbmcuY29tL3NlY3VyZS1tZS92MQ%3D%3D&locale=en-us
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidModelState
                    - ValidationFailed
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                      ValidationFailed: One or more of your field values are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - NotFound
                    - SignupNotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      SignupNotFound: The given signup could not be found
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        confidential: Write
  /cm/v2/signups/options:
    get:
      tags:
      - Signups
      summary: Get all signup options
      description: Return translated data set containing possible field values for each user selections.
      operationId: SignUpV2GetSignupOptions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Models.SignUpOptionListResult'
              example:
                Data:
                - PropertyName: ServiceLanguageCode
                  ValuePairs:
                  - Key: AR
                    Value: Arabic
                  - Key: BU
                    Value: Bulgarian
                  - Key: CH
                    Value: Chinese
                  - Key: CHT
                    Value: Chinese Traditional
                  - Key: DA
                    Value: Danish
                  - Key: EN
                    Value: English
                  - Key: FA
                    Value: Farsi
                  - Key: DE
                    Value: German
                - PropertyName: CountryOfResidenceCode
                  ValuePairs:
                  - Key: AF
                    Value: Afghanistan
                  - Key: AX
                    Value: Åland Islands
                  - Key: CN
                    Value: China
                  - Key: CX
                    Value: Christmas Island
                  - Key: DK
                    Value: Denmark
                  - Key: GB
                    Value: United Kingdom
                  - Key: IQ
                    Value: Iraq
                  - Key: DE
                    Value: Germany
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidModelState
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - NotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        confidential: Read
  /cm/v2/signups/attachments/{SignUpId}:
    post:
      tags:
      - Signups
      description: Add multiple files to a sign up case
      operationId: SignUpV2AttachFile
      parameters:
      - name: SignUpId
        in: path
        description: Signup ID
        required: true
        style: simple
        schema:
          type: string
        example: 5b68ce05-24f7-491c-a3aa-6a43f7923cee
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupDocuments'
            example:
              Documents:
              - Data: iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4
                DocumentType: ProofOfIdentity
                FileName: ProofOfIdentity.pdf
                RenewalDate: '2025-10-29T04:28:02.224997Z'
                Title: ProofOfIdentity
              - Data: iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4
                DocumentType: ProofOfResidency
                FileName: ProofOfResidency.doc
                RenewalDate: '2024-10-29T04:28:02.224997Z'
                Title: ProofOfResidency
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidModelState
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - NotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        confidential: Write
  /cm/v1/signups/onboardingpdf/{ClientKey}:
    get:
      tags:
      - Signups
      description: Generate PDF document of DocumentType provided in request for client provided
      operationId: SignUpV1GenerateTypedOnboardingPDF
      parameters:
      - name: ClientKey
        in: path
        description: The client key
        required: true
        style: simple
        schema:
          minLength: 1
          type: string
          x-type-name: ClientKey
        example: d2-PzdC5wIPy1284wD-rRA==
      - name: DocumentType
        in: query
        description: The onboarding document type
        required: true
        style: form
        explode: false
        schema:
          $ref: '#/components/schemas/OnboardingDocumentType'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidModelState
                    - RequestNotAllowed
                    - ValidationFailed
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                      RequestNotAllowed: Request not allowed!
                      ValidationFailed: One or more of your field values are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - NotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        confidential: Read
  /cm/v1/signups/verification/initiate/{ClientKey}:
    post:
      tags:
      - Signups
      summary: Initiate verification process from external vendor
      description: Initiates the verification process for a client by returning a URL that will redirect the client to an external vendor. If successful, the onboarding status will be approved.
      operationId: SignUpV1InitiateVerification
      parameters:
      - name: ClientKey
        in: path
        description: The client key
        required: true
        style: simple
        schema:
          minLength: 1
          type: string
          x-type-name: ClientKey
        example: d2-PzdC5wIPy1284wD-rRA==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateVerificationRequest'
            example:
              RedirectUrl: http://openapi.validate.com
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateVerificationResponse'
              example:
                IdentificationUrl: https://test.signicat.com/target=http%3A%2F%2Fopenapi.validate.com%2Fopenapi%2Fv1%2Fverify%2F3c3685cf-85e3-4c11-8as7-c4f2dcc78hea
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidModelState
                    - ValidationFailed
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                      ValidationFailed: One or more of your field values are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - NotFound
                    - SignupNotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      SignupNotFound: The given signup could not be found
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        confidential: Write
  /cm/v1/signups/completeapplication/{SignUpId}:
    put:
      tags:
      - Signups
      summary: Completes the onboarding application
      description: Completes the onboarding application without any delay. Call this endpoint after 'create signup' and 'upload documents'.
      operationId: SignUpV1CompleteApplication
      parameters:
      - name: AwaitAccountCreation
        in: query
        description: Flag to mention if you want to wait for account creation. Set it to true to wait for account details or false if you don't want the account details immediately.
        style: form
        explode: false
        schema:
          type: boolean
        example: true
      - name: SignUpId
        in: path
        description: Signup ID
        required: true
        style: simple
        schema:
          pattern: ^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
          type: string
        example: 5b68ce05-24f7-491c-a3aa-6a43f7923cee
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteApplicationResponse'
              example:
                AccountDetails:
                - AccountType: Normal
                  CurrencyIsoCode: USD
                  Iban: DK43754335838392
                ApplicationStatus: Ok
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidModelState
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - NotFound
                    - SignupNotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      SignupNotFound: The given signup could not be found
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        confidential: Write
  /cm/v1/signups/status/{ClientKey}:
    get:
      tags:
      - Signups
      summary: Get the onboarding status of a client
      description: Returns the onboarding status of a client. The onboarding flow is as follows
      operationId: SignUpV1GetSignUpStatus
      parameters:
      - name: ClientKey
        in: path
        description: The client key
        required: true
        style: simple
        schema:
          minLength: 1
          type: string
          x-type-name: ClientKey
        example: d2-PzdC5wIPy1284wD-rRA==
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignUpStatusResponse'
              example:
                ClientId: '7856478'
                ClientKey: d2-PzdC5wIPy1284wD-rRA==
                Message: Onboarding request complete. Account and client keys have been created
                OnboardingState: ClientOnboarded
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidModelState
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - NotFound
                    - SignupNotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      SignupNotFound: The given signup could not be found
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        confidential: Read
  /cm/v1/signups:
    post:
      tags:
      - Signups
      summary: Create client
      description: Initiates the creation of a new client under the specified owner. The country specific properties for Finland, Italy, Singapore and Switzerland cannot be combined. If successful, the endpoint returns the new ClientId, its corresponding ClientKey and the SignupId. The latter is used to upload additional files and to complete the application.
      operationId: SignUpV1SignUp
      parameters:
      - name: OwnerKey
        in: query
        description: Client key of owner, under which this signup will be created. If not provided, signup will be created under the LoggedIn client
        style: form
        explode: false
        schema:
          minLength: 1
          type: string
          x-type-name: ClientKey
        example: d2-PzdC5wIPy1284wD-rRA==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpRequest'
            example:
              AccountInformation:
                AdditionalChoiceOfAccounts:
                - '5'
                ClientCategoryId: '1'
                CurrencyCode: USD
                DefaultChoiceOfAccount: '38'
                IntendedCommissionGroupId: '1234'
                IntendedTemplateId: '567'
                OtherInstructions: Instruction1
              BankInformation:
                BeneficiaryBankName: BankName
                ReceivingCountryIsoCode: DK
              FinlandData:
                EuroclearJudicialForm: '21'
                EuroclearSectorCode: '10010'
              GlobalFinancialInformation:
                AnnualIncomeAfterTax:
                  Amount: 100020
                  AmountDescription: Exact
                  CurrencyCode: DKK
                IntendToInvest:
                  Amount: 1000000
                  AmountDescription: AboveThisAmount
                  CurrencyCode: DKK
                InvestableAsset:
                  Amount: 1000000
                  AmountDescription: Rounded
                  CurrencyCode: DKK
              ItalyData:
                EmploymentInformation:
                  CountryConcernedCode: IT
                  DetailedBusinessActivity: '005'
                  EmploymentName: Employer
                  OtherEmployment: Other employer description
                  PrevalentCorporateObject: Corporate object
                  ProvinceConcerned: Livorno
                  StatusOfEmployment: '125'
                MailContactPreference: true
                ProfileInformation:
                  AnnualIncomeInformation:
                    AnnualIncomeSource:
                    - '2'
                    TotalAnnualIncome: '1'
                  InvestableAssets:
                    IntendToInvest: '2'
                    NatureAndPurposeOfTheRelationship: '1'
                    SourceOfWealth:
                    - '3'
                    ValueOfTotalWealth: '4'
              OnboardingInformation:
                ElectronicVerification:
                  Done: '2018-04-05T00:00:00Z'
                  ExternalId: ExternalId
                  Result: Passed
                  Score: '50'
              PensionData:
                AdditionalPensionData: Additional pension data
                EmployerReference: 4582HGF39
                PensionProductTypes:
                - EmployerPaidAlderssum
              PersonalInformation:
                AdditionalTaxableCountries:
                - CountryCode: DK
                  TaxId: '12334567'
                  TinNotAvailable: false
                - CountryCode: CN
                  TinMissingReason: '100000001'
                  TinNotAvailable: true
                  TinOtherMissingReason: It is under progress
                AdditionalTaxCountryCode: DK
                CityOfBirth: NewYork
                ConsentSource: 1
                ContactInformation:
                  EmailAddress: abc@test.com
                  PrimaryPhoneNumber:
                    CountryCode: US
                    Number: '1234567890'
                  SecondaryPhoneNumber:
                    CountryCode: IN
                    Number: '2134567890'
                CorrespondenceAddress:
                  BuildingName: Building Penhurst Park
                  BuildingNumber: Build# 34
                  City: Buffalo
                  CountryOfResidenceCode: US
                  PostalCode: '14202'
                  State: New York
                  StreetName: Niagara Square
                CountryOfBirth: US
                DateOfBirth: '1980-01-01'
                Debt:
                  Currency: '2'
                  Value: 100000
                DeclaredBankrupt: false
                EmploymentInformation:
                  AdditionalEmploymentRelations:
                    CompanyNameInsider: CompanyNameInsider
                    CompanyNameMajorityInterest: CompanyNameMajorityInterest
                    ManagedOrManagingAssets: false
                  EmployerName: EmpName
                  FinancialSectorEmployee: false
                  NatureOfBusiness: '1'
                  OccupationTypes:
                  - '1'
                  - '2'
                  Position: Position
                FirstName: John
                Gender: '2'
                LastName: Doe
                LiquidNetWorth:
                  Currency: '2'
                  Value: 100000
                MarketingConsent: true
                NationalId: NationalId
                NationalityCode: US
                NonDisclosureClient: false
                OriginalScriptFirstName: 比
                OriginalScriptLastName: 伊
                PersonalId: '986283618'
                PersonalIdExpirationDate: '2019-04-05'
                PersonalIdPlaceOfRelease: Milan
                PersonalIdReleaseDate: '2016-12-08'
                PersonalIdReleasedBy: John doe
                PersonalIdType: '1'
                PersonalTradingProfile:
                  KnowledgeOfFinancialInstruments: '2'
                  ProductTradingExperience:
                  - '3'
                  - '4'
                  - '5'
                  TradesPerMonth: '3'
                PoliticallyExposedPerson: false
                ResidentialAddress:
                  BuildingName: Building Penhurst Park
                  BuildingNumber: Build# 34
                  City: Buffalo
                  CountryOfResidenceCode: US
                  PostalCode: '14202'
                  State: New York
                  StreetName: Niagara Square
                SalaryBeforeTax:
                  Currency: '2'
                  Value: 100000
                ServiceLanguageCode: EN
                TaxId: '288392738'
                TinNotAvailable: false
              ProfileInformation:
                AnnualIncomeInformation:
                  AnnualSalaryAfterTax: '1'
                  SecondaryIncomeOther: Other sources of secondary income
                  SecondarySourcesOfIncome:
                  - '2'
                  SecondarySourcesOfIncomeTotal: '8'
                InvestableAssets:
                  IntendToInvest: '5'
                  PrimarySourcesOfWealth:
                  - '1'
                  - '3'
                  SourceOfWealthOther: OtherWealthSource
                  ValueOfCashAndSecurities: '8'
                InvestmentPurpose:
                  PurposeAndScope: '2'
                TradingProfile:
                  SoleBoOfAssets: true
              RegulatoryInformation:
                FatcaDeclaration:
                  UnitedStatesCitizen: true
                  UnitedStatesProducts: true
                  UnitedStatesTaxId: '23456'
                  UnitedStatesTaxLiable: true
              SingaporeData:
                AnnualIncomeSgd: '3'
                BrokersDeclinedBy: BrokersName
                ClassificationRequired: true
                DiplomaOrHigherQualification: '2'
                EducationalQualificationSatisfied: true
                ELearningAbsSasCfds: '3'
                ELearningAbsSasFx: '2'
                ELearningPassed: '4'
                ELearningSgx: false
                ELearningSgxScore: '20'
                FinanceWorkExperience: '5'
                InvestorProfile: '2'
                ListedSips: true
                NetWorthSgd: '5'
                PermanentResident: true
                ProfessionalFinanceQualification: '5'
                SgxStocks: '2'
                UnlistedSipsCfds: false
                UnlistedSipsFx: false
              SwitzerlandData:
                AnnualIncomeChf: '4'
                NetWorthChf: '2'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignUpResponse'
              example:
                ClientId: '2147279170'
                ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                SignUpId: 446d5238-dc6b-4c04-9b0e-7c061f93734e
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - ClientMatch
                    - InvalidModelState
                    - PreClientMatch
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                      PreClientMatch: User is already a pre-client!
                      ClientMatch: User is already a client!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - NotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        confidential: Write
  /cm/v1/signups/options:
    get:
      tags:
      - Signups
      summary: Get all signup options
      description: Return data set containing possible field values for each user selections.
      operationId: SignUpV1GetSignupOptions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignUpOptionListResult'
              example:
                Data:
                - PropertyName: ServiceLanguageCode
                  ValuePairs:
                  - Key: Arabic
                    Value: AR
                  - Key: Bulgarian
                    Value: BU
                  - Key: Chinese
                    Value: CH
                  - Key: Chinese Traditional
                    Value: CHT
                  - Key: Danish
                    Value: DA
                  - Key: English
                    Value: EN
                  - Key: Farsi
                    Value: FA
                  - Key: German
                    Value: DE
                - PropertyName: CountryOfResidenceCode
                  ValuePairs:
                  - Key: Afghanistan
                    Value: AF
                  - Key: Åland Islands
                    Value: AX
                  - Key: China
                    Value: CN
                  - Key: Christmas Island
                    Value: CX
                  - Key: Denmark
                    Value: DK
                  - Key: United Kingdom
                    Value: GB
                  - Key: Iraq
                    Value: IQ
                  - Key: Germany
                    Value: DE
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidModelState
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - NotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
  /cm/v1/signups/attachments/{SignUpId}:
    post:
      tags:
      - Signups
      summary: Adds a file to a sign up case
      description: Adds attachment to a sign up case.
      operationId: SignUpV1AttachFile
      parameters:
      - name: DocumentType
        in: query
        description: Type of document
        style: form
        explode: false
        schema:
          $ref: '#/components/schemas/SignupFlowDocumentType'
        example: ProofOfIdentity
      - name: RenewalDate
        in: query
        description: Expiration date of document
        style: form
        explode: false
        schema:
          type: string
          format: date-time
          x-type-name: UtcDateTime
        example: '2019-07-15T00:00:00.0000000+00:00'
      - name: SignUpId
        in: path
        description: Signup ID
        required: true
        style: simple
        schema:
          type: string
        example: 5b68ce05-24f7-491c-a3aa-6a43f7923cee
      - name: Title
        in: query
        description: Title of the document file
        style: form
        explode: false
        schema:
          type: string
        example: client_POI
      responses:
        '201':
          description: Created
        '200':
          description: Action was executed successfully.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidModelState
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - NotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        confidential: Write
components:
  schemas:
    Models.PensionData:
      title: Client information about pension
      type: object
      properties:
        AdditionalPensionData:
          title: Additional pension data
          type: string
          example: stringValue
        EmployerReference:
          title: Employer refrerence ID
          type: string
          example: stringValue
        PensionProductTypes:
          title: Pension product types (can select multiple)
          type: array
          items:
            $ref: '#/components/schemas/Models.PensionProductType'
          example:
          - EmployerPaidAlderssum
      additionalProperties: false
      example:
        AdditionalPensionData: Additional pension data
        EmployerReference: 4582HGF39
        PensionProductTypes:
        - EmployerPaidAlderssum
    OnboardingStateType:
      title: Onboarding State of user
      enum:
      - Approved
      - ClientOnboarded
      - InProgress
      - Pending
      - Rejected
      - Waiting
      type: string
      example: ClientOnboarded
      x-enum-descriptions:
        ClientOnboarded: Onboarding request is complete
        Waiting: Onboarding request is waiting to be picked up by Operations
        InProgress: Onboarding request is being worked on
        Pending: Onboarding request is waiting for information by user
        Rejected: Onboarding request is rejected
        Approved: Onboarding request is approved
    Models.SwitzerlandData:
      title: Client information for Switzerland onboarding
      type: object
      properties:
        AnnualIncomeChf:
          title: Annual income in CHF (from Options)
          type: string
          example: stringValue
        NetWorthChf:
          title: Net worth in CHF (from Options)
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AnnualIncomeChf: '4'
        NetWorthChf: '2'
    Models.SingaporeData:
      title: Client information for Singapore onboarding
      type: object
      properties:
        AnnualIncomeSgd:
          title: Annual income in SGD
          type: string
          example: stringValue
        BrokersDeclinedBy:
          title: Brokers declined by
          type: string
          example: stringValue
        ClassificationRequired:
          title: Is classification required?
          type: boolean
          example: false
        DiplomaOrHigherQualification:
          title: Diploma or higher Qualification
          type: string
          example: stringValue
        ELearningAbsSasCfds:
          title: E-learning (ABS-SAS, CFDs)
          type: string
          example: stringValue
        ELearningAbsSasFx:
          title: E-learning (ABS-SAS, Fx)
          type: string
          example: stringValue
        ELearningPassed:
          title: Has the client passed E-learning
          type: string
          example: stringValue
        ELearningSgx:
          title: E-learning (SGX)
          type: boolean
          example: false
        ELearningSgxScore:
          title: E-learning (SGX) score
          type: string
          example: stringValue
        EducationalQualificationSatisfied:
          title: Is the qualification of education satisfied?
          type: boolean
          example: false
        FinanceWorkExperience:
          title: Finance work experience
          type: string
          example: stringValue
        InvestorProfile:
          title: Type of investor profile
          type: string
          example: stringValue
        ListedSips:
          title: Does the client want to trade in listed SIPs?
          type: boolean
          example: false
        NetWorthSgd:
          title: Net worth in SGD
          type: string
          example: stringValue
        PermanentResident:
          title: Is the client a permanent resident of Singapore?
          type: boolean
          example: false
        ProfessionalFinanceQualification:
          title: Professional finance qualification
          type: string
          example: stringValue
        SgxStocks:
          title: Sgx stocks
          type: string
          example: stringValue
        UnlistedSipsCfds:
          title: Does the client want to trade unlisted SIPs (CFD)?
          type: boolean
          example: false
        UnlistedSipsFx:
          title: Does the client want to trade unlisted SIPs (Fx)?
          type: boolean
          example: false
      additionalProperties: false
      example:
        AnnualIncomeSgd: '3'
        BrokersDeclinedBy: BrokersName
        ClassificationRequired: true
        DiplomaOrHigherQualification: '2'
        EducationalQualificationSatisfied: true
        ELearningAbsSasCfds: '3'
        ELearningAbsSasFx: '2'
        ELearningPassed: '4'
        ELearningSgx: false
        ELearningSgxScore: '20'
        FinanceWorkExperience: '5'
        InvestorProfile: '2'
        ListedSips: true
        NetWorthSgd: '5'
        PermanentResident: true
        ProfessionalFinanceQualification: '5'
        SgxStocks: '2'
        UnlistedSipsCfds: false
        UnlistedSipsFx: false
    Models.SignupFlowDocumentType:
      title: Document types accepted for signup
      enum:
      - AccountViewToIb
      - EsaContract
      - FeePaymentAuthorization
      - GeneralBusinessTerms
      - PensionTransferRequest
      - PowerOfAttorney
      - PowerOfAttorneyToIb
      - ProofOfIdentity
      - ProofOfResidency
      - SourceOfFundsDocument
      - TaxSavingAccount
      - TaxSavingAccountWithTransfer
      - TermsAndConditions
      - TermsAndConditionsAldersopsparingPrivate
      - TermsAndConditionsKapitalPensionPrivate
      - TermsAndConditionsRatePensionPrivate
      type: string
      example: ProofOfIdentity
      x-enum-descriptions:
        ProofOfIdentity: Document to verify the identity of client
        ProofOfResidency: Document to verify the residency of client
        PowerOfAttorney: Legal document mentioning the details of the acts that can be done on behalf of the principal (client)
        TermsAndConditions: Document explaining terms and conditions
        GeneralBusinessTerms: Document explaining general business terms
        SourceOfFundsDocument: Document detailing all the sources which client have for generating funds
        PowerOfAttorneyToIb: Legal document mentioning the details of the acts that an IB can undertake on behalf of the principal (client)
        AccountViewToIb: Document detailing Introducing-Broker/Client details, authorization from client and Broker commission details
        FeePaymentAuthorization: Document detailing Fee Payment Authorization
        EsaContract: Document detailing ESA Contract
        TermsAndConditionsRatePensionPrivate: Document detailing Terms and Conditions Rate Pension Private
        TermsAndConditionsAldersopsparingPrivate: Document detailing Terms and Conditions Aldersopsparing Private
        TermsAndConditionsKapitalPensionPrivate: Document detailing Terms and Conditions Kapital Pension Private
        PensionTransferRequest: Document detailing Pension Transfer Request
        TaxSavingAccount: Document detailing Tax Saving Account
        TaxSavingAccountWithTransfer: Tax saving account with transfer
    Money:
      title: Money Range
      type: object
      properties:
        Currency:
          title: Currency - (From Options)
          type: string
          example: stringValue
        Value:
          title: Value
          type: number
          example: 10
      additionalProperties: false
      example:
        Currency: '2'
        Value: 100000
    Models.RegulatoryInformation:
      title: Regulatory information
      type: object
      properties:
        FatcaDeclaration:
          title: USA foreign account tax compliance act
          allOf:
          - $ref: '#/components/schemas/Models.FatcaDeclaration'
      additionalProperties: false
      example:
        FatcaDeclaration:
          UnitedStatesCitizen: true
          UnitedStatesProducts: true
          UnitedStatesTaxId: '23456'
          UnitedStatesTaxLiable: true
    Models.ElectronicVerificationResult:
      title: Electronic verification result
      enum:
      - Failed
      - Passed
      - Referred
      - Unknown
      type: string
      example: Unknown
      x-enum-descriptions:
        Unknown: The electronic verification result is unknown
        Passed: The electronic verification result is passed
        Referred: The electronic verification result is referred
        Failed: The electronic verification result is failed
    Models.EmploymentInformation:
      title: Clients employment information
      type: object
      properties:
        AdditionalEmploymentRelations:
          title: Additional employment relation details.
          allOf:
          - $ref: '#/components/schemas/Models.AdditionalEmploymentRelations'
        EmployerName:
          title: Employer name
          maxLength: 100
          type: string
          example: stringValue
        FinancialSectorEmployee:
          title: Does client work in financial sector.
          type: boolean
          example: false
        NatureOfBusiness:
          title: The nature of business.
          type: string
          example: stringValue
        OccupationTypes:
          title: Occupation types (from Options, can select multiple)
          type: array
          items:
            type: string
            example: stringValue
          example:
          - stringValue
        Position:
          title: Position
          maxLength: 250
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AdditionalEmploymentRelations:
          CompanyNameInsider: CompanyNameInsider
          CompanyNameMajorityInterest: CompanyNameMajorityInterest
          ManagedOrManagingAssets: false
        EmployerName: EmpName
        FinancialSectorEmployee: false
        NatureOfBusiness: '1'
        OccupationTypes:
        - '1'
        - '2'
        Position: Position
    OnboardingSubStateType:
      title: Onboarding Sub State of user
      enum:
      - ManualHandling
      type: string
      example: ManualHandling
      x-enum-descriptions:
        ManualHandling: The onboarding request is being handled manually
    Models.FatcaDeclaration:
      title: USA Foreign Account Tax Compliance Act
      type: object
      properties:
        UnitedStatesCitizen:
          title: Is the client a citizen of USA
          type: boolean
          example: false
        UnitedStatesProducts:
          title: Do you want to trade products in USA
          type: boolean
          example: false
        UnitedStatesTaxId:
          title: USA tax ID
          maxLength: 20
          type: string
          example: stringValue
        UnitedStatesTaxLiable:
          title: Tax liable in USA
          type: boolean
          example: false
      additionalProperties: false
      example:
        UnitedStatesCitizen: true
        UnitedStatesProducts: true
        UnitedStatesTaxId: '23456'
        UnitedStatesTaxLiable: true
    SignUpResponse:
      title: Sign up response
      type: object
      properties:
        ClientId:
          title: Created clients ID
          type: string
          example: stringValue
        ClientKey:
          title: Client Key
          type: string
          example: stringValue
        SignUpId:
          title: Sign up ID
          type: string
          example: stringValue
      additionalProperties: false
      example:
        ClientId: '2147279170'
        ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
        SignUpId: 446d5238-dc6b-4c04-9b0e-7c061f93734e
    VerificationProvider:
      title: Verification Provider
      enum:
      - MyInfo
      - SecureMe
      type: string
      example: SecureMe
      x-enum-descriptions:
        SecureMe: SecureMe
        MyInfo: MyInfo
    SignupFlowDocumentType:
      title: Document types accepted for signup
      enum:
      - AccountViewToIb
      - EsaContract
      - FeePaymentAuthorization
      - GeneralBusinessTerms
      - PensionTransferRequest
      - PowerOfAttorney
      - PowerOfAttorneyToIb
      - ProofOfIdentity
      - ProofOfResidency
      - SourceOfFundsDocument
      - TaxSavingAccount
      - TaxSavingAccountWithTransfer
      - TermsAndConditions
      - TermsAndConditionsAldersopsparingPrivate
      - TermsAndConditionsKapitalPensionPrivate
      - TermsAndConditionsRatePensionPrivate
      type: string
      example: ProofOfIdentity
      x-enum-descriptions:
        ProofOfIdentity: Document to verify the identity of client
        ProofOfResidency: Document to verify the residency of client
        PowerOfAttorney: Legal document mentioning the details of the acts that can be done on behalf of the principal (client)
        TermsAndConditions: Document explaining terms and conditions
        GeneralBusinessTerms: Document explaining general business terms
        SourceOfFundsDocument: Document detailing all the sources which client have for generating funds
        PowerOfAttorneyToIb: Legal document mentioning the details of the acts that an IB can undertake on behalf of the principal (client)
        AccountViewToIb: Document detailing Introducing-Broker/Client details, authorization from client and Broker commission details
        FeePaymentAuthorization: Document detailing Fee Payment Authorization
        EsaContract: Document detialing ESA Contract
        TermsAndConditionsRatePensionPrivate: Document detailing Terms and Conditions Rate Pension Private
        TermsAndConditionsAldersopsparingPrivate: Document detailing Terms and Conditions Aldersopsparing Private
        TermsAndConditionsKapitalPensionPrivate: Document detailing Terms and Conditions Kapital Pension Private
        PensionTransferRequest: Document detailing Pension Transfer Request
        TaxSavingAccount: Document detailing Tax Saving Account
        TaxSavingAccountWithTransfer: Tax saving account with transfer
    ElectronicVerification:
      title: Electronic Verification Information
      type: object
      properties:
        Done:
          title: When was the electronic verification done?
          type: string
          format: date-time
          x-type-name: UtcDateTime
        ExternalId:
          title: External ID
          type: string
          example: stringValue
        Result:
          title: Result of electronic verification
          allOf:
          - $ref: '#/components/schemas/Models.ElectronicVerificationResult'
        Score:
          title: Score of electronic verification
          type: string
          example: stringValue
      additionalProperties: false
      example:
        Done: '2018-04-05T00:00:00.0000000+00:00'
        ExternalId: ExternalId
        Result: Passed
        Score: '50'
    Models.ProfileInformation:
      title: Clients profile information
      type: object
      properties:
        AnnualIncomeInformation:
          title: Clients annual income information
          allOf:
          - $ref: '#/components/schemas/Models.AnnualIncomeInformation'
        InvestableAssets:
          title: Clients investable assets
          allOf:
          - $ref: '#/components/schemas/Models.InvestableAssets'
        InvestmentPurpose:
          title: Clients investment purpose
          allOf:
          - $ref: '#/components/schemas/InvestmentPurpose'
        TradingProfile:
          title: Clients trading profile
          allOf:
          - $ref: '#/components/schemas/Models.TradingProfile'
      additionalProperties: false
      example:
        AnnualIncomeInformation:
          AnnualSalaryAfterTax: '1'
          SecondaryIncomeOther: Other sources of secondary income
          SecondarySourcesOfIncome:
          - '2'
          SecondarySourcesOfIncomeTotal: '8'
        InvestableAssets:
          IntendToInvest: '5'
          PrimarySourcesOfWealth:
          - '1'
          - '3'
          SourceOfWealthOther: OtherWealthSource
          ValueOfCashAndSecurities: '8'
        InvestmentPurpose:
          PurposeAndScope: '2'
        TradingProfile:
          SoleBoOfAssets: true
    ApplicationStatus:
      title: Compleet application status
      enum:
      - Failed
      - InProgress
      - Ok
      type: string
      example: InProgress
      x-enum-descriptions:
        InProgress: The process of complete application is in progress.
        Ok: Application has been completed successfully.
        Failed: Failed to complete application. Please reach out to Saxo Bank for further details.
    InitiateVerificationRequest:
      title: Initiate verification request
      required:
      - RedirectUrl
      type: object
      properties:
        RedirectUrl:
          title: The url that the client wants to redirect back to after the process is over
          type: string
          example: stringValue
      additionalProperties: false
      example:
        RedirectUrl: http://openapi.validate.com
    Models.BankInformation:
      title: Bank information
      type: object
      properties:
        BeneficiaryBankName:
          title: Beneficiary bank name
          type: string
          example: stringValue
        ReceivingCountryIsoCode:
          title: Receiving country ISO code (from options)
          type: string
          example: stringValue
      additionalProperties: false
      example:
        BeneficiaryBankName: BankName
        ReceivingCountryIsoCode: DK
    SignupDocuments:
      title: Documents needed for onboarding
      type: object
      properties:
        Documents:
          title: An array of base64 encoded files, documenting the identity, residency etc of the applicant.
          type: array
          items:
            $ref: '#/components/schemas/Models.SignupDocument'
          example:
          - Data: iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4
            DocumentType: ProofOfIdentity
            FileName: ProofOfIdentity.pdf
            RenewalDate: '2023-10-29T04:28:02.231997Z'
            Title: ProofOfIdentity
      additionalProperties: false
      example:
        Documents:
        - Data: iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4
          DocumentType: ProofOfIdentity
          FileName: ProofOfIdentity.pdf
          RenewalDate: '2025-10-29T04:28:02.224997Z'
          Title: ProofOfIdentity
        - Data: iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4
          DocumentType: ProofOfResidency
          FileName: ProofOfResidency.doc
          RenewalDate: '2024-10-29T04:28:02.224997Z'
          Title: ProofOfResidency
    OnboardingInformation:
      title: Onboarding Information
      type: object
      properties:
        ElectronicVerification:
          title: Electronic Verification Information
          allOf:
          - $ref: '#/components/schemas/ElectronicVerification'
      additionalProperties: false
      example:
        ElectronicVerification:
          Done: '2018-04-05T00:00:00Z'
          ExternalId: ExternalId
          Result: Passed
          Score: '50'
    AccountInformation:
      title: Account information
      type: object
      properties:
        AdditionalChoiceOfAccounts:
          title: Additional choice of accounts
          type: array
          items:
            type: string
            example: stringValue
          example:
          - stringValue
        ClientCategoryId:
          title: Guides the configuration of the client. Only set this field, if one of more values has been provided to you by Saxo Bank.
          type: string
          example: stringValue
        CurrencyCode:
          title: Currency code (from Options)
          type: string
          example: stringValue
        DefaultChoiceOfAccount:
          title: Default choice of account (from Options - ChoiceOfAccountDefault)
          type: string
          example: stringValue
        IntendedCommissionGroupId:
          title: Intended commission group ID
          type: string
          example: stringValue
        IntendedTemplateId:
          title: Intended template ID
          type: string
          example: stringValue
        ModelId:
          title: Guides the configuration of the client. Only set this field, if one of more values has been provided to you by Saxo Bank.
          type: string
          example: stringValue
        OtherInstructions:
          title: Other instructions
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AdditionalChoiceOfAccounts:
        - '5'
        ClientCategoryId: '1'
        CurrencyCode: USD
        DefaultChoiceOfAccount: '38'
        IntendedCommissionGroupId: '1234'
        IntendedTemplateId: '567'
        OtherInstructions: Instruction1
    ItalianData.ItalyData:
      title: Client information for Italy onboarding
      type: object
      properties:
        EmploymentInformation:
          title: Employment information for Italy onboarding
          allOf:
          - $ref: '#/components/schemas/ItalianData.EmploymentInformation'
        MailContactPreference:
          title: Do you want to be contacted through mail?
          type: boolean
          example: false
        ProfileInformation:
          title: Profile information for Italy onboarding
          allOf:
          - $ref: '#/components/schemas/ItalianData.ProfileInformation'
      additionalProperties: false
      example:
        EmploymentInformation:
          CountryConcernedCode: IT
          DetailedBusinessActivity: '005'
          EmploymentName: Employer
          OtherEmployment: Other employer description
          PrevalentCorporateObject: Corporate object
          ProvinceConcerned: Livorno
          StatusOfEmployment: '125'
        MailContactPreference: true
        ProfileInformation:
          AnnualIncomeInformation:
            AnnualIncomeSource:
            - '2'
            TotalAnnualIncome: '1'
          InvestableAssets:
            IntendToInvest: '2'
            NatureAndPurposeOfTheRelationship: '1'
            SourceOfWealth:
            - '3'
            ValueOfTotalWealth: '4'
    CompleteApplication.AccountDetails:
      title: Account details of client
      type: object
      properties:
        AccountType:
          title: Type of account
          type: string
          example: stringValue
        CurrencyIsoCode:
          title: Currency ISO code of account
          type: string
          example: stringValue
        Iban:
          title: Iban of account
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AccountType: Normal
        CurrencyIsoCode: USD
        Iban: DK43754335838392
    Models.AdditionalEmploymentRelations:
      title: Type for Additional employment relations
      type: object
      properties:
        CompanyNameInsider:
          title: Company name Insider
          maxLength: 250
          type: string
          example: stringValue
        CompanyNameMajorityInterest:
          title: Company name majority Interest
          maxLength: 250
          type: string
          example: stringValue
        ManagedOrManagingAssets:
          title: Managed or managing Assets
          type: boolean
          example: false
      additionalProperties: false
      example:
        CompanyNameInsider: CompanyNameInsider
        CompanyNameMajorityInterest: CompanyNameMajorityInterest
        ManagedOrManagingAssets: false
    SecureMeUploadOption:
      title: SecureMe upload option
      enum:
      - Camera
      - File
      type: string
      example: Camera
      x-enum-descriptions:
        Camera: Camera
        File: File
    Models.FinlandData:
      title: Client information for Finland onboarding
      type: object
      properties:
        EuroclearJudicialForm:
          title: Judicial form for Euroclear
          type: string
          example: stringValue
        EuroclearSectorCode:
          title: Sector code for Euroclear
          type: string
          example: stringValue
      additionalProperties: false
      example:
        EuroclearJudicialForm: '21'
        EuroclearSectorCode: '10010'
    ItalianData.InvestableAssets:
      title: Investable assets for Italy
      type: object
      properties:
        IntendToInvest:
          title: Intend to invest - (from options)
          type: string
          example: stringValue
        NatureAndPurposeOfTheRelationship:
          title: Nature and purpose of relationship - (from options)
          type: string
          example: stringValue
        SourceOfWealth:
          title: Sources of wealth - (from options, can select multiple)
          type: array
          items:
            type: string
            example: stringValue
          example:
          - stringValue
        ValueOfTotalWealth:
          title: Value of total wealth - (from options)
          type: string
          example: stringValue
      additionalProperties: false
      example:
        IntendToInvest: '2'
        NatureAndPurposeOfTheRelationship: '1'
        SourceOfWealth:
        - '3'
        ValueOfTotalWealth: '4'
    SecureMeUploadOptions:
      title: SecureMe upload options
      type: object
      properties:
        Back:
          title: Back side document option
          allOf:
          - $ref: '#/components/schemas/SecureMeUploadOption'
        Front:
          title: Front side document option
          allOf:
          - $ref: '#/components/schemas/SecureMeUploadOption'
        Selfie:
          title: Selfie option
          allOf:
          - $ref: '#/components/schemas/SecureMeUploadOption'
      additionalProperties: false
      example:
        Back: Camera
        Front: File
        Selfie: File
    Models.TradingProfile:
      title: Client trading profile
      type: object
      properties:
        SoleBoOfAssets:
          title: Sole beneficial owner of the deposited assets
          type: boolean
          example: false
      additionalProperties: false
      example:
        SoleBoOfAssets: true
    PersonalTradingProfile:
      title: Client's trading profile
      type: object
      properties:
        KnowledgeOfFinancialInstruments:
          title: Knowledge of financial instruments
          type: string
          example: stringValue
        ProductTradingExperience:
          title: Product trading experience
          type: array
          items:
            type: string
            example: stringValue
          example:
          - stringValue
        TradesPerMonth:
          title: Trades per month
          type: string
          example: stringValue
      additionalProperties: false
      example:
        KnowledgeOfFinancialInstruments: '2'
        ProductTradingExperience:
        - '3'
        - '4'
        - '5'
        TradesPerMonth: '3'
    Models.TaxableCountry:
      title: Taxable countries
      type: object
      properties:
        CountryCode:
          title: Country code (from Options)
          type: string
          example: stringValue
        TaxId:
          title: Tax Id, if TIN is available
          type: string
          example: stringValue
        TinMissingReason:
          title: Reason for not having TIN (from Options)
          type: string
          example: stringValue
        TinNotAvailable:
          title: Is TIN not available?
          type: boolean
          example: false
        TinOtherMissingReason:
          title: Any other reason for not having TIN
          type: string
          example: stringValue
      additionalProperties: false
      example:
        CountryCode: DK
        TaxId: '12334567'
        TinNotAvailable: false
    CompleteApplicationResponse:
      type: object
      properties:
        AccountDetails:
          title: List of accounts if application status is 'Ok'
          type: array
          items:
            $ref: '#/components/schemas/CompleteApplication.AccountDetails'
          example:
          - AccountType: Normal
            CurrencyIsoCode: USD
            Iban: DK43754335838392
        ApplicationStatus:
          title: Complete application status
          allOf:
          - $ref: '#/components/schemas/ApplicationStatus'
        ErrorMessage:
          title: Error message if application status is 'Failed'
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AccountDetails:
        - AccountType: Normal
          CurrencyIsoCode: USD
          Iban: DK43754335838392
        ApplicationStatus: Ok
    SignUpRequest:
      title: SignupRequest
      required:
      - PersonalInformation
      - RegulatoryInformation
      type: object
      properties:
        AccountInformation:
          title: Account information
          allOf:
          - $ref: '#/components/schemas/AccountInformation'
        BankInformation:
          title: Bank information
          allOf:
          - $ref: '#/components/schemas/Models.BankInformation'
        FinlandData:
          title: Client information for Finland onboarding
          allOf:
          - $ref: '#/components/schemas/Models.FinlandData'
        GlobalFinancialInformation:
          title: Global financial information
          allOf:
          - $ref: '#/components/schemas/Models.GlobalFinancialInformation'
        ItalyData:
          title: Client information for Italy onboarding
          allOf:
          - $ref: '#/components/schemas/ItalianData.ItalyData'
        OnboardingInformation:
          title: Onboarding information
          allOf:
          - $ref: '#/components/schemas/OnboardingInformation'
        PensionData:
          title: Client information about pension
          allOf:
          - $ref: '#/components/schemas/Models.PensionData'
        PersonalInformation:
          title: Client personal information
          allOf:
          - $ref: '#/components/schemas/Models.PersonalInformation'
        ProfileInformation:
          title: Client profile information
          allOf:
          - $ref: '#/components/schemas/Models.ProfileInformation'
        RegulatoryInformation:
          title: Client regulatory information
          allOf:
          - $ref: '#/components/schemas/Models.RegulatoryInformation'
        SingaporeData:
          title: Client information for Singapore onboarding
          allOf:
          - $ref: '#/components/schemas/Models.SingaporeData'
        SwitzerlandData:
          title: Client information for Switzerland onboarding
          allOf:
          - $ref: '#/components/schemas/Models.SwitzerlandData'
      additionalProperties: false
      example:
        AccountInformation:
          AdditionalChoiceOfAccounts:
          - '5'
          ClientCategoryId: '1'
          CurrencyCode: USD
          DefaultChoiceOfAccount: '38'
          IntendedCommissionGroupId: '1234'
          IntendedTemplateId: '567'
          OtherInstructions: Instruction1
        BankInformation:
          BeneficiaryBankName: BankName
          ReceivingCountryIsoCode: DK
        FinlandData:
          EuroclearJudicialForm: '21'
          EuroclearSectorCode: '10010'
        GlobalFinancialInformation:
          AnnualIncomeAfterTax:
            Amount: 100020
            AmountDescription: Exact
            CurrencyCode: DKK
          IntendToInvest:
            Amount: 1000000
            AmountDescription: AboveThisAmount
            CurrencyCode: DKK
          InvestableAsset:
            Amount: 1000000
            AmountDescription: Rounded
            CurrencyCode: DKK
        ItalyData:
          EmploymentInformation:
            CountryConcernedCode: IT
            DetailedBusinessActivity: '005'
            EmploymentName: Employer
            OtherEmployment: Other employer description
            PrevalentCorporateObject: Corporate object
            ProvinceConcerned: Livorno
            StatusOfEmployment: '125'
          MailContactPreference: true
          ProfileInformation:
            AnnualIncomeInformation:
              AnnualIncomeSource:
              - '2'
              TotalAnnualIncome: '1'
            InvestableAssets:
              IntendToInvest: '2'
              NatureAndPurposeOfTheRelationship: '1'
              SourceOfWealth:
              - '3'
              ValueOfTotalWealth: '4'
        OnboardingInformation:
          ElectronicVerification:
            Done: '2018-04-05T00:00:00Z'
            ExternalId: ExternalId
            Result: Passed
            Score: '50'
        PensionData:
          AdditionalPensionData: Additional pension data
          EmployerReference: 4582HGF39
          PensionProductTypes:
          - EmployerPaidAlderssum
        PersonalInformation:
          AdditionalTaxableCountries:
          - CountryCode: DK
            TaxId: '12334567'
            TinNotAvailable: false
          - CountryCode: CN
            TinMissingReason: '100000001'
            TinNotAvailable: true
            TinOtherMissingReason: It is under progress
          AdditionalTaxCountryCode: DK
          CityOfBirth: NewYork
          ConsentSource: 1
          ContactInformation:
            EmailAddress: abc@test.com
            PrimaryPhoneNumber:
              CountryCode: US
              Number: '1234567890'
            SecondaryPhoneNumber:
              CountryCode: IN
              Number: '2134567890'
          CorrespondenceAddress:
            BuildingName: Building Penhurst Park
            BuildingNumber: Build# 34
            City: Buffalo
            CountryOfResidenceCode: US
            PostalCode: '14202'
            State: New York
            StreetName: Niagara Square
          CountryOfBirth: US
          DateOfBirth: '1980-01-01'
          Debt:
            Currency: '2'
            Value: 100000
          DeclaredBankrupt: false
          EmploymentInformation:
            AdditionalEmploymentRelations:
              CompanyNameInsider: CompanyNameInsider
              CompanyNameMajorityInterest: CompanyNameMajorityInterest
              ManagedOrManagingAssets: false
            EmployerName: EmpName
            FinancialSectorEmployee: false
            NatureOfBusiness: '1'
            OccupationTypes:
            - '1'
            - '2'
            Position: Position
          FirstName: John
          Gender: '2'
          LastName: Doe
          LiquidNetWorth:
            Currency: '2'
            Value: 100000
          MarketingConsent: true
          NationalId: NationalId
          NationalityCode: US
          NonDisclosureClient: false
          OriginalScriptFirstName: 比
          OriginalScriptLastName: 伊
          PersonalId: '986283618'
          PersonalIdExpirationDate: '2019-04-05'
          PersonalIdPlaceOfRelease: Milan
          PersonalIdReleaseDate: '2016-12-08'
          PersonalIdReleasedBy: John doe
          PersonalIdType: '1'
          PersonalTradingProfile:
            KnowledgeOfFinancialInstruments: '2'
            ProductTradingExperience:
            - '3'
            - '4'
            - '5'
            TradesPerMonth: '3'
          PoliticallyExposedPerson: false
          ResidentialAddress:
            BuildingName: Building Penhurst Park
            BuildingNumber: Build# 34
            City: Buffalo
            CountryOfResidenceCode: US
            PostalCode: '14202'
            State: New York
            StreetName: Niagara Square
          SalaryBeforeTax:
            Currency: '2'
            Value: 100000
          ServiceLanguageCode: EN
          TaxId: '288392738'
          TinNotAvailable: false
        ProfileInformation:
          AnnualIncomeInformation:
            AnnualSalaryAfterTax: '1'
            SecondaryIncomeOther: Other sources of secondary income
            SecondarySourcesOfIncome:
            - '2'
            SecondarySourcesOfIncomeTotal: '8'
          InvestableAssets:
            IntendToInvest: '5'
            PrimarySourcesOfWealth:
            - '1'
            - '3'
            SourceOfWealthOther: OtherWealthSource
            ValueOfCashAndSecurities: '8'
          InvestmentPurpose:
            PurposeAndScope: '2'
          TradingProfile:
            SoleBoOfAssets: true
        RegulatoryInformation:
          FatcaDeclaration:
            UnitedStatesCitizen: true
            UnitedStatesProducts: true
            UnitedStatesTaxId: '23456'
            UnitedStatesTaxLiable: true
        SingaporeData:
          AnnualIncomeSgd: '3'
          BrokersDeclinedBy: BrokersName
          ClassificationRequired: true
          DiplomaOrHigherQualification: '2'
          EducationalQualificationSatisfied: true
          ELearningAbsSasCfds: '3'
          ELearningAbsSasFx: '2'
          ELearningPassed: '4'
          ELearningSgx: false
          ELearningSgxScore: '20'
          FinanceWorkExperience: '5'
          InvestorProfile: '2'
          ListedSips: true
          NetWorthSgd: '5'
          PermanentResident: true
          ProfessionalFinanceQualification: '5'
          SgxStocks: '2'
          UnlistedSipsCfds: false
          UnlistedSipsFx: false
        SwitzerlandData:
          AnnualIncomeChf: '4'
          NetWorthChf: '2'
    SignUpStatusResponse:
      title: Signup onboarding status response
      type: object
      properties:
        ClientId:
          title: Client ID
          type: string
          example: stringValue
        ClientKey:
          title: Client key
          type: string
          example: stringValue
        Message:
          title: Onboarding Status message
          type: string
          example: stringValue
        OnboardingState:
          title: Onboarding State of client
          allOf:
          - $ref: '#/components/schemas/OnboardingStateType'
        OnboardingSubState:
          title: Onboarding Sub State of client
          allOf:
          - $ref: '#/components/schemas/OnboardingSubStateType'
        PendingReasons:
          title: Pending reasons of why the client hasn't been onboarded yet
          type: array
          items:
            $ref: '#/components/schemas/OnboardingStatePendingReason'
          example:
          - PendingField: Proof of identity
            Reasons:
            - Expired
            - Missing Date of Birth
      additionalProperties: false
      example:
        ClientId: '7856478'
        ClientKey: d2-PzdC5wIPy1284wD-rRA==
        Message: Onboarding request complete. Account and client keys have been created
        OnboardingState: ClientOnboarded
    Models.SignupDocument:
      title: Sign up document
      required:
      - FileName
      - Data
      type: object
      properties:
        Data:
          title: Content or data of document in base64 format.
          type: string
          example: stringValue
        DocumentType:
          title: Type of document
          allOf:
          - $ref: '#/components/schemas/Models.SignupFlowDocumentType'
        FileName:
          title: Name of document
          type: string
          example: stringValue
        RenewalDate:
          title: Expiration date of document
          type: string
          format: date-time
          x-type-name: UtcDateTime
        Title:
          title: Title of the document
          type: string
          example: stringValue
      additionalProperties: false
      example:
        Data: iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4
        DocumentType: ProofOfIdentity
        FileName: ProofOfIdentity.pdf
        RenewalDate: '2023-10-29T04:28:02.2299970+00:00'
        Title: ProofOfIdentity
    InitiateVerification.InitiateVerificationResponse:
      title: Initaite verification response
      type: object
      properties:
        IdentificationUrl:
          title: The url that will redirect the client to the vendors site for verification
          type: string
          example: stringValue
      additionalProperties: false
      example:
        IdentificationUrl: https://secure-me.au10tixservicesstaging.com?token=oBVmsTzsSMGvYES0y9jj&api=aHR0cHM6Ly93ZXUtYXBpLmF1MTB0aXhzZXJ2aWNlc3N0YWdpbmcuY29tL3NlY3VyZS1tZS92MQ%3D%3D&locale=en-us
    OnboardingStatePendingReason:
      type: object
      properties:
        PendingField:
          title: Field where pending action is required
          type: string
          example: stringValue
        Reasons:
          title: Pending reasons - action required by user
          type: array
          items:
            type: string
            example: stringValue
          example:
          - stringValue
      additionalProperties: false
      example:
        PendingField: Proof of identity
        Reasons:
        - Expired
        - Missing Date of Birth
    Models.SignUpOption:
      title: Possible sign up options
      type: object
      properties:
        PropertyName:
          title: Property name
          type: string
          example: stringValue
        ValuePairs:
          title: Key and value pairs of the property values
          type: array
          items:
            $ref: '#/components/schemas/StringStringKeyValuePair'
          example:
          - Key: stringValue
            Value: stringValue
      additionalProperties: false
      example:
        PropertyName: stringValue
        ValuePairs:
        - Key: stringValue
          Value: stringValue
    InitiateVerification.InitiateVerificationRequest:
      title: Initiate verification request
      required:
      - VerificationProviderType
      type: object
      properties:
        MyInfoRequest:
          title: MyInfo Request
          allOf:
          - $ref: '#/components/schemas/MyInfoRequest'
        SecureMeRequest:
          title: Secure Me Request
          allOf:
          - $ref: '#/components/schemas/SecureMeRequest'
        VerificationProviderType:
          title: Type of verification provider requested
          allOf:
          - $ref: '#/components/schemas/VerificationProvider'
      additionalProperties: false
      example:
        SecureMeRequest:
          CountryCode: UK
          ErrorRedirectUrl: https://openapi.validate.com
          ServiceLanguageCode: FR
          SuccessRedirectUrl: https://openapi.validate.com
          UploadOptions:
            Back: File
            Front: File
            Selfie: Camera
        VerificationProviderType: SecureMe
    Models.PoliticallyExposedInformation:
      title: Politically exposed person information
      type: object
      properties:
        PepPosition:
          title: PEP Position
          type: string
          example: stringValue
        PepRelatedPersonName:
          title: Name of PEP Related Person
          type: string
          example: stringValue
        PepRelatedPersonPosition:
          title: Position of PEP Related Person
          type: string
          example: stringValue
        PepType:
          title: Type of PEP (from Options)
          type: string
          example: stringValue
        RelationToPep:
          title: Relation to PEP (from Options)
          type: string
          example: stringValue
      additionalProperties: false
      example:
        PepPosition: stringValue
        PepRelatedPersonName: stringValue
        PepRelatedPersonPosition: stringValue
        PepType: stringValue
        RelationToPep: stringValue
    Models.AmountDescriptionType:
      title: Enum for AmountDescriptionType
      enum:
      - AboveThisAmount
      - Exact
      - Rounded
      type: string
      example: Exact
      x-enum-descriptions:
        Exact: Exact value provided.
        Rounded: Nearby value provided.
        AboveThisAmount: Value is above this amount.
    Models.InvestableAssets:
      title: Clients investable assets
      type: object
      properties:
        IntendToInvest:
          title: Intend to invest (from Options)
          type: string
          example: stringValue
        PrimarySourcesOfWealth:
          title: Primary sources of wealth (from Options, can select multiple)
          type: array
          items:
            type: string
            example: stringValue
          example:
          - stringValue
        SourceOfWealthOther:
          title: Other sources of wealth
          type: string
          example: stringValue
        ValueOfCashAndSecurities:
          title: Value of cash and securities (from Options)
          type: string
          example: stringValue
      additionalProperties: false
      example:
        IntendToInvest: '5'
        PrimarySourcesOfWealth:
        - '1'
        - '3'
        SourceOfWealthOther: OtherWealthSource
        ValueOfCashAndSecurities: '8'
    Models.AnnualIncomeInformation:
      title: Client annual income information
      type: object
      properties:
        AnnualSalaryAfterTax:
          title: Annual salary after tax (from Options)
          type: string
          example: stringValue
        SecondaryIncomeOther:
          title: Other sources of secondary income
          type: string
          example: stringValue
        SecondarySourcesOfIncome:
          title: Secondary sources of income (from Options, can select multiple)
          type: array
          items:
            type: string
            example: stringValue
          example:
          - stringValue
        SecondarySourcesOfIncomeTotal:
          title: Secondary sources of income total (from Options)
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AnnualSalaryAfterTax: '1'
        SecondaryIncomeOther: Other sources of secondary income
        SecondarySourcesOfIncome:
        - '2'
        SecondarySourcesOfIncomeTotal: '8'
    Models.AssetDetails:
      title: Asset Details class
      required:
      - CurrencyCode
      - Amount
      - AmountDescription
      type: object
      properties:
        Amount:
          title: Amount value
          type: integer
          format: int32
          example: 99
        AmountDescription:
          title: Amount description
          allOf:
          - $ref: '#/components/schemas/Models.AmountDescriptionType'
        CurrencyCode:
          title: Currency code (from Options)
          type: string
          example: stringValue
      additionalProperties: false
      example:
        Amount: 100020
        AmountDescription: Exact
        CurrencyCode: DKK
    Models.PersonalInformation:
      title: Clients personal information
      required:
      - ContactInformation
      - FirstName
      - LastName
      - ResidentialAddress
      - ServiceLanguageCode
      type: object
      properties:
        AdditionalTaxCountryCode:
          title: Additional Tax Country Code (from Options) - Obsolete
          type: string
          example: stringValue
          deprecated: true
        AdditionalTaxableCountries:
          title: Additional taxable countries
          type: array
          items:
            $ref: '#/components/schemas/Models.TaxableCountry'
          example:
          - CountryCode: DK
            TaxId: '12334567'
            TinNotAvailable: false
          - CountryCode: CN
            TinMissingReason: '100000001'
            TinNotAvailable: true
            TinOtherMissingReason: It is under progress
        CityOfBirth:
          title: City of birth
          maxLength: 128
          type: string
          example: stringValue
        ConsentSource:
          title: Source of content
          type: integer
          format: int32
          example: 99
        ContactInformation:
          title: Contact information
          allOf:
          - $ref: '#/components/schemas/Models.ContactInformation'
        CorrespondenceAddress:
          title: Correspondence address
          allOf:
          - $ref: '#/components/schemas/Models.OnboardingAddress'
        CountryOfBirth:
          title: Country of birth (from Options)
          type: string
          example: stringValue
        DateOfBirth:
          title: Date of birth
          type: string
          format: date
          x-type-name: Date
        Debt:
          title: Range of debt
          allOf:
          - $ref: '#/components/schemas/Money'
        DeclaredBankrupt:
          title: Represents if client has been declared bankrupt in the past
          type: boolean
          example: false
        EmploymentInformation:
          title: Employment information
          allOf:
          - $ref: '#/components/schemas/Models.EmploymentInformation'
        FirstName:
          title: First name
          maxLength: 128
          type: string
          example: stringValue
        Gender:
          title: Gender (from Options)
          type: string
          example: stringValue
        LastName:
          title: Last name
          maxLength: 128
          type: string
          example: stringValue
        LiquidNetWorth:
          title: Range of liquid net worth
          allOf:
          - $ref: '#/components/schemas/Money'
        MarketingConsent:
          title: Do we have your marketing consent?
          type: boolean
          example: false
        NationalId:
          title: National ID (from Options)
          type: string
          example: stringValue
        NationalityCode:
          title: Nationality Code (from Options)
          type: string
          example: stringValue
        NonDisclosureClient:
          title: Decides whether clients address can be shared with third party systems
          type: boolean
          example: false
        OriginalScriptFirstName:
          title: First name in original script
          type: string
          example: stringValue
        OriginalScriptLastName:
          title: Last name in original script
          type: string
          example: stringValue
        PersonalId:
          title: Personal ID
          type: string
          example: stringValue
        PersonalIdExpirationDate:
          title: Expiration date of personal ID
          type: string
          format: date
          x-type-name: Date
        PersonalIdPlaceOfRelease:
          title: Place of release of personal ID
          type: string
          example: stringValue
        PersonalIdReleaseDate:
          title: Release date of personal ID
          type: string
          format: date
          x-type-name: Date
        PersonalIdReleasedBy:
          title: Personal ID released by
          type: string
          example: stringValue
        PersonalIdType:
          title: Personal ID Type (from Options)
          type: string
          example: stringValue
        PersonalTradingProfile:
          title: Client's trading profile
          allOf:
          - $ref: '#/components/schemas/PersonalTradingProfile'
        PoliticallyExposedInformation:
          title: Politically exposed person information
          allOf:
          - $ref: '#/components/schemas/Models.PoliticallyExposedInformation'
        PoliticallyExposedPerson:
          title: Are you a politically exposed person?
          type: boolean
          example: false
        ResidentialAddress:
          title: Residential address
          allOf:
          - $ref: '#/components/schemas/Models.OnboardingAddress'
        SalaryBeforeTax:
          title: Range of salary before tax
          allOf:
          - $ref: '#/components/schemas/Money'
        ServiceLanguageCode:
          title: Service language ISO code (from Options)
          type: string
          example: stringValue
        TaxId:
          title: Tax ID
          type: string
          example: stringValue
        TinMissingReason:
          title: Reason for not having TIN (from Options)
          type: string
          example: stringValue
        TinNotAvailable:
          title: Is TIN not available?
          type: boolean
          example: false
        TinOtherMissingReason:
          title: Any other reason for not having TIN
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AdditionalTaxableCountries:
        - CountryCode: DK
          TaxId: '12334567'
          TinNotAvailable: false
        - CountryCode: CN
          TinMissingReason: '100000001'
          TinNotAvailable: true
          TinOtherMissingReason: It is under progress
        AdditionalTaxCountryCode: DK
        CityOfBirth: NewYork
        ConsentSource: 1
        ContactInformation:
          EmailAddress: abc@test.com
          PrimaryPhoneNumber:
            CountryCode: US
            Number: '1234567890'
          SecondaryPhoneNumber:
            CountryCode: IN
            Number: '2134567890'
        CorrespondenceAddress:
          BuildingName: Building Penhurst Park
          BuildingNumber: Build# 34
          City: Buffalo
          CountryOfResidenceCode: US
          PostalCode: '14202'
          State: New York
          StreetName: Niagara Square
        CountryOfBirth: US
        DateOfBirth: '1980-01-01'
        Debt:
          Currency: '2'
          Value: 100000
        DeclaredBankrupt: false
        EmploymentInformation:
          AdditionalEmploymentRelations:
            CompanyNameInsider: CompanyNameInsider
            CompanyNameMajorityInterest: CompanyNameMajorityInterest
            ManagedOrManagingAssets: false
          EmployerName: EmpName
          FinancialSectorEmployee: false
          NatureOfBusiness: '1'
          OccupationTypes:
          - '1'
          - '2'
          Position: Position
        FirstName: John
        Gender: '2'
        LastName: Doe
        LiquidNetWorth:
          Currency: '2'
          Value: 100000
        MarketingConsent: true
        NationalId: NationalId
        NationalityCode: US
        NonDisclosureClient: false
        OriginalScriptFirstName: 比
        OriginalScriptLastName: 伊
        PersonalId: '986283618'
        PersonalIdExpirationDate: '2019-04-05'
        PersonalIdPlaceOfRelease: Milan
        PersonalIdReleaseDate: '2016-12-08'
        PersonalIdReleasedBy: John doe
        PersonalIdType: '1'
        PersonalTradingProfile:
          KnowledgeOfFinancialInstruments: '2'
          ProductTradingExperience:
          - '3'
          - '4'
          - '5'
          TradesPerMonth: '3'
        PoliticallyExposedPerson: false
        ResidentialAddress:
          BuildingName: Building Penhurst Park
          BuildingNumber: Build# 34
          City: Buffalo
          CountryOfResidenceCode: US
          PostalCode: '14202'
          State: New York
          StreetName: Niagara Square
        SalaryBeforeTax:
          Currency: '2'
          Value: 100000
        ServiceLanguageCode: EN
        TaxId: '288392738'
        TinNotAvailable: false
    Models.OnboardingAddress:
      title: Client address
      required:
      - City
      - CountryOfResidenceCode
      - PostalCode
      - StreetName
      type: object
      properties:
        BuildingName:
          title: Building name
          maxLength: 128
          type: string
          example: stringValue
        BuildingNumber:
          title: Building number
          maxLength: 128
          type: string
          example: stringValue
        City:
          title: City
          maxLength: 128
          type: string
          example: stringValue
        CountryOfResidenceCode:
          title: Country of residence ISO code  (from Options)
          type: string
          example: stringValue
        PostalCode:
          title: Postal code
          maxLength: 128
          type: string
          example: stringValue
        State:
          title: State
          maxLength: 50
          type: string
          example: stringValue
        StreetName:
          title: Street name
          maxLength: 128
          type: string
          example: stringValue
      additionalProperties: false
      example:
        BuildingName: Building Penhurst Park
        BuildingNumber: Build# 34
        City: Buffalo
        CountryOfResidenceCode: US
        PostalCode: '14202'
        State: New York
        StreetName: Niagara Square
    StringStringKeyValuePair:
      type: object
      properties:
        Key:
          type: string
          example: stringValue
        Value:
          type: string
          example: stringValue
      additionalProperties: false
      example:
        Key: stringValue
        Value: stringValue
    SecureMeRequest:
      title: Secure Me Request
      type: object
      properties:
        CountryCode:
          title: Country ISO code (from Options)
          type: string
          example: stringValue
        ErrorRedirectUrl:
          title: Error redirect url
          type: string
          example: stringValue
        ServiceLanguageCode:
          title: Service language ISO code (from Options)
          type: string
          example: stringValue
        SuccessRedirectUrl:
          title: Success redirect url
          type: string
          example: stringValue
        UploadOptions:
          title: SecureMe upload options
          allOf:
          - $ref: '#/components/schemas/SecureMeUploadOptions'
      additionalProperties: false
      example:
        CountryCode: stringValue
        ErrorRedirectUrl: stringValue
        ServiceLanguageCode: stringValue
        SuccessRedirectUrl: stringValue
        UploadOptions:
          Back: File
          Front: Camera
          Selfie: Camera
    ItalianData.AnnualIncomeInformation:
      title: Annual income information for Italy
      type: object
      properties:
        AnnualIncomeSource:
          title: Annual income source - (from options, can select multiple)
          type: array
          items:
            type: string
            example: stringValue
          example:
          - stringValue
        TotalAnnualIncome:
          title: Total annual income - (from options)
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AnnualIncomeSource:
        - '2'
        TotalAnnualIncome: '1'
    Models.Api.v1.PhoneNumber:
      title: Phone number consisting of optional country code and number.
      type: object
      properties:
        CountryCode:
          title: The country ISO code (alpha-2) where the phone number is registered. If not specified the country of residence of the associated contact will be used (from Options).
          type: string
          example: stringValue
        Number:
          title: The actual phone number without formatting. Only numeric characters are allowed.
          type: string
          example: stringValue
      additionalProperties: false
[...]
