openapi: 3.2.0
info:
  title: Services.ReferenceData Currencies API
  description: The Reference Data service group provides reference data, such as instrument details, exchange info etc..
  version: 2.3.361+88ada090e4
  x-framework-version: 43.0.9+b005aba300
  x-machine: SIMOAWEB8-DK2
servers:
- url: https://gateway.saxobank.com/sim/openapi
tags:
- name: Currencies
  description: Provides information about currencies supported by Saxo Bank.
paths:
  /ref/v1/currencies:
    get:
      tags:
      - Currencies
      summary: Get all supported currencies
      description: Returns a list of all supported currencies.
      operationId: CurrenciesGetCurrencies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyDetailsListResult'
              example:
                __next: /openapi/....../?$top=1&$skip=1
                Data:
                - CurrencyCode: EUR
                  Decimals: 2
                  Name: Euro
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        restricted: Read
components:
  responses:
    Unauthorized:
      description: Indicates that the request was rejected because the 'Authorization' header was missing in the request or contained an invalid security token.
    TooManyRequests:
      description: The request was rejected due to rate limit being exceeded.
    BadRequest:
      description: One or more of the provided parameters are invalid.
      content:
        application/json:
          schema:
            required:
            - ErrorCode
            - Message
            type: object
            properties:
              ErrorCode:
                enum:
                - InvalidRequest
                type: string
                example: None
                x-enum-descriptions:
                  InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
              Message:
                type: string
              ModelState:
                $ref: '#/components/schemas/ModelStateDictionary'
    ServiceUnavailable:
      description: Service Unavailable.
  schemas:
    CurrencyDetails:
      title: Represents a currency.
      type: object
      properties:
        CurrencyCode:
          title: The currency's ISO 3166-1 code.
          type: string
          example: stringValue
        Decimals:
          title: Number of decimals used in minor currency.
          type: integer
          format: int32
          example: 99
        Name:
          title: Name of the currency.
          type: string
          example: stringValue
        Symbol:
          title: Symbol of the currency.
          type: string
          example: stringValue
      additionalProperties: false
      example:
        CurrencyCode: EUR
        Decimals: 2
        Name: Euro
    CurrencyDetailsListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/CurrencyDetails'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
      example:
        __next: /openapi/....../?$top=1&$skip=1
        Data:
        - CurrencyCode: EUR
          Decimals: 2
          Name: Euro
    ModelStateDictionary:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
  securitySchemes:
    OpenApiJWTSecurityScheme:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OpenApiOAuthSecurityScheme:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sim.logonvalidation.net/authorize
          tokenUrl: https://sim.logonvalidation.net/token
          scopes: {}
