openapi: 3.0.1
info:
  title: Services.AutoTrading Account Values ClosedPositions API
  description: 'The AutoTrading service group provides endpoints for interacting with Saxo Bank''s SaxoSelect offering.Through these interfaces a client application can get Saxo Select trade leaders, portfolios and investments. Portfolio investments can be created and modifed.<div class=well style=''border: 1px solid rgb(204, 82, 0); border-image: none; background-color: rgb(255, 209, 179);padding:1px;''><strong> Note:</strong> </br>This service is subject to special licensing agreements and not generally available to all OpenAPI applications.</div>'
  version: 2.4.138+710c760591
  x-framework-version: 38.0.2+439c5b0ec3
  x-machine: SIMOAWEB11-DK2
servers:
- url: https://gateway.saxobank.com/sim/openapi
tags:
- name: ClosedPositions
  description: "Read only end points serving closed positions and the underlying closed positions making up the net closed position.\n            The set of closed positions is restricted by the supplied query parameters as well as whether or not the identity \n            represented by the authorization token has access to the account on which the positions are posted.\n\n*   A user of a client will have access to accounts under that client\n*   A user of an IB or WLC will have access to accounts on that client or clients there under \n*   An employee has access to all accounts\n*   A request containing a TradingFloor \"Federated Access\" token will have access to the account specified in that token.\n*   If access is granted on the basis of the TradingFloor \"Federated Access\" token, then the number of fields will be a subset \n                of the full set of fields shown in the specification for the response."
paths:
  /port/v1/closedpositions/subscriptions/{ContextId}:
    delete:
      tags:
      - ClosedPositions
      summary: Remove multiple subscriptions
      description: Removes multiple all subscriptions for the current session on this resource, and frees all resources on the server.
      operationId: ClosedPositionsV1DeleteSubscriptions
      parameters:
      - name: ContextId
        in: path
        description: The context id part of the streaming session (used to identify the subscription within a streaming session).
        required: true
        schema:
          type: string
        example: '29931122'
      - name: Tag
        in: query
        description: Optional. Remove only subscriptions that are marked with specified tag.
        schema:
          type: string
        example: '2345223'
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
  /port/v1/closedpositions/subscriptions/{ContextId}/{ReferenceId}:
    delete:
      tags:
      - ClosedPositions
      summary: Remove subscription
      description: Removes subscription for the current session identified by subscription id..
      operationId: ClosedPositionsV1DeleteSubscription
      parameters:
      - name: ContextId
        in: path
        description: The context id part of the streaming session (used to identify the subscription within a streaming session).
        required: true
        schema:
          type: string
        example: '29931122'
      - name: ReferenceId
        in: path
        description: Unique id of the subscription
        required: true
        schema:
          type: string
        example: 0f8fad5b-d9cb-469f-a165-70867728950e
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
    patch:
      tags:
      - ClosedPositions
      summary: Change the closed positions subscription page size
      description: Extends or reduces the page size, number of positions shown, on a running closed positions subscription. When expanding the page size, the subsequent closed positions are streamed so to avoid race conditions.
      operationId: ClosedPositionsV1UpdateClosedPositionSubscriptionPagesize
      parameters:
      - name: ContextId
        in: path
        description: The context id part of the streaming session.
        required: true
        schema:
          type: string
        example: '29931122'
      - name: ReferenceId
        in: path
        description: Unique ID of the subscription
        required: true
        schema:
          type: string
        example: P54123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PositionPagingSubscriptionUpdateRequest'
            example:
              NewPageSize: 99
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription change will be processed and respose will be streamed.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
  /port/v1/closedpositions/subscriptions:
    post:
      tags:
      - ClosedPositions
      summary: Create a subscription on a list of closed positions and make it active
      description: Sets up a subscription and returns an initial snapshot of list of closed positions specified by the parameters in the request.
      operationId: ClosedPositionsV1AddActiveSubscription
      parameters:
      - name: $top
        in: query
        description: The number of entries to return from the beginning of the collection
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClosedPositionsSubscriptionRequest'
            example:
              Arguments:
                AccountGroupKey: LZTc7DdejXODf-WSl2aCyQ==
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                ClosedPositionId: 139597294-139694249
                FieldGroups:
                - ClosedPosition
              ContextId: '20221030064907102'
              Format: application/json
              ReferenceId: CP35618
              RefreshRate: 1000
              Tag: PAGE1
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionsSubscriptionResponse'
              example:
                Format: application/json
                InactivityTimeout: 120
                ReferenceId: CP50382
                RefreshRate: 1000
                Snapshot:
                  Data:
                  - ClosedPosition:
                      AccountId: 192134INET
                      Amount: 300000
                      AssetType: FxSpot
                      BuyOrSell: Buy
                      ClientId: '654321'
                      ClosedProfitLoss: 9597
                      ClosedProfitLossInBaseCurrency: 9597
                      ClosingMarketValue: 0
                      ClosingMarketValueInBaseCurrency: 0
                      ClosingMethod: Explicit
                      ClosingPositionId: '139694249'
                      ClosingPrice: 1.09139
                      ConversionRateInstrumentToBaseSettledClosing: false
                      ConversionRateInstrumentToBaseSettledOpening: true
                      ExecutionTimeClose: '2017-05-02T00:00:00Z'
                      ExecutionTimeOpen: '2017-04-12T00:00:00Z'
                      OpeningPositionId: '139597294'
                      OpenPrice: 1.0594
                      Uic: 21
                    ClosedPositionUniqueId: 139597294-139694249
                    NetPositionId: EURUSD_FxSpot
                State: Active
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidClientId
                    - InvalidInput
                    - InvalidModelState
                    - NoValidInput
                    - SubscriptionExceedesPositionsLimit
                    - UnsupportedSubscriptionFormat
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidInput: An error was encountered when processing given input parameters.
                      NoValidInput: No valid input values passed.
                      SubscriptionExceedesPositionsLimit: Too many positions requested. Streaming updates are only allowed on a limited number of positions.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - SubscriptionLimitExceeded
                    type: string
                    example: None
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
      x-streaming-type:
        $ref: '#/components/schemas/ClosedPositionResponseArray'
  /port/v1/closedpositions/{ClosedPositionId}/details:
    get:
      tags:
      - ClosedPositions
      summary: Get detailed information for a single position
      description: "Obsolete Gets detailed information about a single position as specified by the query parameters.\n            NOTE: This endpoint will be deprecated by November 2022. All functionality has been migrated to /port/v1/closedpositions/{ClosedPositionId}."
      operationId: ClosedPositionsV1GetPositionDetails
      parameters:
      - name: AccountGroupKey
        in: query
        description: The key of the account group to which the closed positions belongs.
        schema:
          title: The key of the account group to which the closed positions belongs.
          minLength: 1
          type: string
          x-type-name: AccountGroupKey
        example: stringValue
      - name: AccountKey
        in: query
        description: The key of the account to which the closed positions belongs.
        schema:
          title: The key of the account to which the closed positions belongs.
          minLength: 1
          type: string
          x-type-name: AccountKey
        example: 01b64edf-da03-4145-bf33-ae21527d4c86
      - name: ClientKey
        in: query
        description: The key of the client to which the closesd positions belongs.
        required: true
        schema:
          title: The key of the client to which the closesd positions belongs.
          minLength: 1
          type: string
          x-type-name: ClientKey
        example: 493b43a5-fe85-4d1f-9071-dd4a9d4e42a4
      - name: ClosedPositionId
        in: path
        description: Unique id of the position.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionDetailedResponse'
              example:
                ClosedPosition:
                  AccountId: 192134INET
                  Amount: 300000
                  AssetType: FxSpot
                  BuyOrSell: Buy
                  ClientId: '654321'
                  ClosedProfitLoss: 9597
                  ClosedProfitLossInBaseCurrency: 9597
                  ClosingMarketValue: 0
                  ClosingMarketValueInBaseCurrency: 0
                  ClosingMethod: Explicit
                  ClosingPositionId: '139694249'
                  ClosingPrice: 1.09139
                  ConversionRateInstrumentToBaseSettledClosing: false
                  ConversionRateInstrumentToBaseSettledOpening: true
                  ExecutionTimeClose: '2017-05-02T00:00:00Z'
                  ExecutionTimeOpen: '2017-04-12T00:00:00Z'
                  OpeningPositionId: '139597294'
                  OpenPrice: 1.0594
                  Uic: 21
                ClosedPositionDetails:
                  CurrencyConversionRateInstrumentToBaseClosing: 1
                  CurrencyConversionRateInstrumentToBaseOpening: 1
                  ValueDateClose: '2017-05-04T00:00:00Z'
                  ValueDateOpen: '2017-05-04T00:00:00Z'
                ClosedPositionUniqueId: 139597294-139694249
                DisplayAndFormat:
                  Currency: USD
                  Decimals: 4
                  Description: Euro/US Dollar
                  Format: AllowDecimalPips
                  Symbol: EURUSD
                Exchange:
                  Description: Inter Bank
                  ExchangeId: SBFX
                  IsOpen: true
                NetPositionId: EURUSD_FxSpot
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidClientId
                    - PositionIdNotSpecified
                    type: string
                    example: None
                    x-enum-descriptions:
                      PositionIdNotSpecified: Position not specified.
                      InvalidClientId: Indicates that the requested client id was invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      deprecated: true
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Read
        community: Read
  /port/v1/closedpositions/{ClosedPositionId}:
    get:
      tags:
      - ClosedPositions
      summary: Get a single position
      description: Get a single position.
      operationId: ClosedPositionsV1GetClosedPosition
      parameters:
      - name: AccountGroupKey
        in: query
        description: The key of the account group to which the closed positions belongs.
        schema:
          title: The key of the account group to which the closed positions belongs.
          minLength: 1
          type: string
          x-type-name: AccountGroupKey
        example: stringValue
      - name: AccountKey
        in: query
        description: The key of the account to which the closed positions belongs.
        schema:
          title: The key of the account to which the closed positions belongs.
          minLength: 1
          type: string
          x-type-name: AccountKey
        example: 01b64edf-da03-4145-bf33-ae21527d4c86
      - name: ClientKey
        in: query
        description: The key of the client to which the closesd positions belongs.
        required: true
        schema:
          title: The key of the client to which the closesd positions belongs.
          minLength: 1
          type: string
          x-type-name: ClientKey
        example: 493b43a5-fe85-4d1f-9071-dd4a9d4e42a4
      - name: ClosedPositionId
        in: path
        description: Unique id of the position.
        required: true
        schema:
          type: string
      - name: FieldGroups
        in: query
        description: Specifies which data to return. Default is [ClosedPosition]
        schema:
          title: Specifies which data to return. Default is [ClosedPosition]
          type: array
          items:
            $ref: '#/components/schemas/ClosedPositionFieldGroup'
        example:
        - DisplayAndFormat
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionResponse'
              example:
                ClosedPosition:
                  AccountId: 192134INET
                  Amount: 300000
                  AssetType: FxSpot
                  BuyOrSell: Buy
                  ClientId: '654321'
                  ClosedProfitLoss: 9597
                  ClosedProfitLossInBaseCurrency: 9597
                  ClosingMarketValue: 0
                  ClosingMarketValueInBaseCurrency: 0
                  ClosingMethod: Explicit
                  ClosingPositionId: '139694249'
                  ClosingPrice: 1.09139
                  ConversionRateInstrumentToBaseSettledClosing: false
                  ConversionRateInstrumentToBaseSettledOpening: true
                  ExecutionTimeClose: '2017-05-02T00:00:00Z'
                  ExecutionTimeOpen: '2017-04-12T00:00:00Z'
                  OpeningPositionId: '139597294'
                  OpenPrice: 1.0594
                  Uic: 21
                ClosedPositionUniqueId: 139597294-139694249
                NetPositionId: EURUSD_FxSpot
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - InvalidClientId
                    - PositionIdNotSpecified
                    type: string
                    example: None
                    x-enum-descriptions:
                      PositionIdNotSpecified: Position not specified.
                      InvalidClientId: Indicates that the requested client id was invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Read
        community: Read
  /port/v1/closedpositions/me:
    get:
      tags:
      - ClosedPositions
      summary: Get closed positions for a client, to which the logged in user belongs
      description: Returns a list of closed positions fulfilling the criteria specified by the query string parameters.
      operationId: GET_ClosedPositionsV1GetClosedPositions
      parameters:
      - name: $skip
        in: query
        description: The number of entries to skip from the beginning of the collection
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 1
      - name: $top
        in: query
        description: The number of entries to return from the beginning of the collection
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 1
      - name: FieldGroups
        in: query
        description: Specifies which data to return. Default is [ClosedPosition].
        required: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ClosedPositionFieldGroup'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                - ClosedPosition:
                    AccountId: 192134INET
                    Amount: 300000
                    AssetType: FxSpot
                    BuyOrSell: Buy
                    ClientId: '654321'
                    ClosedProfitLoss: 9597
                    ClosedProfitLossInBaseCurrency: 9597
                    ClosingMarketValue: 0
                    ClosingMarketValueInBaseCurrency: 0
                    ClosingMethod: Explicit
                    ClosingPositionId: '139694249'
                    ClosingPrice: 1.09139
                    ConversionRateInstrumentToBaseSettledClosing: false
                    ConversionRateInstrumentToBaseSettledOpening: true
                    ExecutionTimeClose: '2017-05-02T00:00:00Z'
                    ExecutionTimeOpen: '2017-04-12T00:00:00Z'
                    OpeningPositionId: '139597294'
                    OpenPrice: 1.0594
                    Uic: 21
                  ClosedPositionUniqueId: 139597294-139694249
                  NetPositionId: EURUSD_FxSpot
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Read
        community: Read
  /port/v1/closedpositions:
    get:
      tags:
      - ClosedPositions
      summary: Get closed positions for a client, accountGroup or account
      description: Returns a list of closed positions fulfilling the criteria specified by the query string parameters.
      operationId: ClosedPositionsV1GetClosedPositions
      parameters:
      - name: $skip
        in: query
        description: The number of entries to skip from the beginning of the collection
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 1
      - name: $top
        in: query
        description: The number of entries to return from the beginning of the collection
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 1
      - name: AccountGroupKey
        in: query
        description: The key of the account group to which the closed positions belongs.
        schema:
          title: The key of the account group to which the closed positions belongs.
          minLength: 1
          type: string
          x-type-name: AccountGroupKey
        example: stringValue
      - name: AccountKey
        in: query
        description: The key of the account to which the closed positions belongs.
        schema:
          title: The key of the account to which the closed positions belongs.
          minLength: 1
          type: string
          x-type-name: AccountKey
        example: 01b64edf-da03-4145-bf33-ae21527d4c86
      - name: ClientKey
        in: query
        description: The key of the client to which the closesd positions belongs.
        required: true
        schema:
          title: The key of the client to which the closesd positions belongs.
          minLength: 1
          type: string
          x-type-name: ClientKey
        example: 493b43a5-fe85-4d1f-9071-dd4a9d4e42a4
      - name: ClosedPositionId
        in: query
        description: The id of the closed position to which the closedposition belongs
        schema:
          title: The id of the closed position to which the closedposition belongs
          type: string
        example: stringValue
      - name: FieldGroups
        in: query
        description: Specifies which data to return. Default is [ClosedPosition]
        schema:
          title: Specifies which data to return. Default is [ClosedPosition]
          type: array
          items:
            $ref: '#/components/schemas/ClosedPositionFieldGroup'
        example:
        - DisplayAndFormat
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                - ClosedPosition:
                    AccountId: 192134INET
                    Amount: 300000
                    AssetType: FxSpot
                    BuyOrSell: Buy
                    ClientId: '654321'
                    ClosedProfitLoss: 9597
                    ClosedProfitLossInBaseCurrency: 9597
                    ClosingMarketValue: 0
                    ClosingMarketValueInBaseCurrency: 0
                    ClosingMethod: Explicit
                    ClosingPositionId: '139694249'
                    ClosingPrice: 1.09139
                    ConversionRateInstrumentToBaseSettledClosing: false
                    ConversionRateInstrumentToBaseSettledOpening: true
                    ExecutionTimeClose: '2017-05-02T00:00:00Z'
                    ExecutionTimeOpen: '2017-04-12T00:00:00Z'
                    OpeningPositionId: '139597294'
                    OpenPrice: 1.0594
                    Uic: 21
                  ClosedPositionUniqueId: 139597294-139694249
                  NetPositionId: EURUSD_FxSpot
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - ErrorCode
                - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                    - ClosedPositionNotAccessibleInEndOfDayNettingMode
                    - InvalidClientId
                    - InvalidExchangeId
                    - NoValidInput
                    type: string
                    example: None
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidExchangeId: The provided exchange id is invalid.
                      ClosedPositionNotAccessibleInEndOfDayNettingMode: ClosedPosition is not accessible in EndOfDay netting mode of the client
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OpenApiOAuthSecurityScheme: []
      - OpenApiJWTSecurityScheme: []
      x-required-permissions:
        personal: Read
        community: Read
components:
  schemas:
    PositionPagingSubscriptionUpdateRequest:
      title: A parameter wrapper for position subscription paging update operations.
      type: object
      properties:
        NewPageSize:
          title: Extends or reduces the page size, number of positions shown, on a running positions subscription.
          type: integer
          format: int32
          example: 99
      additionalProperties: false
      example:
        NewPageSize: 99
    InstrumentExchangeDetails:
      title: Information about an exchange and its trading hours.
      type: object
      properties:
        Description:
          title: Full name/description of the exchange
          type: string
          example: stringValue
        ExchangeId:
          title: Short exchange code.
          type: string
          example: stringValue
        IsOpen:
          title: Indicates if the exchange is currently open for trading
          type: boolean
          example: true
        TimeZoneId:
          title: Exchange's TimeZone
          type: string
          example: stringValue
      additionalProperties: false
      example:
        Description: stringValue
        ExchangeId: stringValue
        IsOpen: true
        TimeZoneId: stringValue
    ClosedPositionDetailedResponse:
      title: Describes an open position in detail
      required:
      - ClosedPositionUniqueId
      type: object
      properties:
        ClosedPosition:
          title: ClosedPosition info
          allOf:
          - $ref: '#/components/schemas/ClosedPosition'
        ClosedPositionDetails:
          title: Additional details related to the position.
          allOf:
          - $ref: '#/components/schemas/ClosedPositionDetails'
        ClosedPositionUniqueId:
          title: Unique id of the closed position based on OpeningPositionId and ClosingPositionId - Required for subscription to provide a key.
          type: string
          example: stringValue
        DisplayAndFormat:
          title: '[Community] Information about the instrument of the closed position and how to display it.'
          allOf:
          - $ref: '#/components/schemas/InstrumentDisplayAndFormat'
        Exchange:
          title: Information about the instrument's exchange and trading status.
          allOf:
          - $ref: '#/components/schemas/InstrumentExchangeDetails'
        NetPositionId:
          title: NetPosition ID
          type: string
          example: stringValue
      additionalProperties: false
      example:
        ClosedPosition:
          AccountId: 192134INET
          Amount: 300000
          AssetType: FxSpot
          BuyOrSell: Buy
          ClientId: '654321'
          ClosedProfitLoss: 9597
          ClosedProfitLossInBaseCurrency: 9597
          ClosingMarketValue: 0
          ClosingMarketValueInBaseCurrency: 0
          ClosingMethod: Explicit
          ClosingPositionId: '139694249'
          ClosingPrice: 1.09139
          ConversionRateInstrumentToBaseSettledClosing: false
          ConversionRateInstrumentToBaseSettledOpening: true
          ExecutionTimeClose: '2017-05-02T00:00:00Z'
          ExecutionTimeOpen: '2017-04-12T00:00:00Z'
          OpeningPositionId: '139597294'
          OpenPrice: 1.0594
          Uic: 21
        ClosedPositionDetails:
          CurrencyConversionRateInstrumentToBaseClosing: 1
          CurrencyConversionRateInstrumentToBaseOpening: 1
          ValueDateClose: '2017-05-04T00:00:00Z'
          ValueDateOpen: '2017-05-04T00:00:00Z'
        ClosedPositionUniqueId: 139597294-139694249
        DisplayAndFormat:
          Currency: USD
          Decimals: 4
          Description: Euro/US Dollar
          Format: AllowDecimalPips
          Symbol: EURUSD
        Exchange:
          Description: Inter Bank
          ExchangeId: SBFX
          IsOpen: true
        NetPositionId: EURUSD_FxSpot
    ClosedPositionRequest:
      title: "Represents a request for one or more netpositions.\n            At least one of the following must be specified."
      required:
      - ClientKey
      type: object
      properties:
        AccountGroupKey:
          title: The key of the account group to which the closed positions belongs.
          minLength: 1
          type: string
          x-type-name: AccountGroupKey
        AccountKey:
          title: The key of the account to which the closed positions belongs.
          minLength: 1
          type: string
          x-type-name: AccountKey
        ClientKey:
          title: The key of the client to which the closesd positions belongs.
          minLength: 1
          type: string
          x-type-name: ClientKey
        ClosedPositionId:
          title: The id of the closed position to which the closedposition belongs
          type: string
        FieldGroups:
          title: Specifies which data to return. Default is [ClosedPosition]
          type: array
          items:
            $ref: '#/components/schemas/ClosedPositionFieldGroup'
      additionalProperties: false
      example:
        AccountGroupKey: LZTc7DdejXODf-WSl2aCyQ==
        AccountKey: LZTc7DdejXODf-WSl2aCyQ==
        ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
        ClosedPositionId: 139597294-139694249
        FieldGroups:
        - ClosedPosition
    ClosedPositionDetails:
      title: Detailed information about a closed position, which is only available as a snapshot.
      type: object
      properties:
        CostClosing:
          title: Costs associated with the closing trade.
          allOf:
          - $ref: '#/components/schemas/CostData'
        CostClosingInBaseCurrency:
          title: A  Estimate of the cost of closing all underlying positions in requested account or client currency.
          allOf:
          - $ref: '#/components/schemas/CostData'
        CostOpening:
          title: Costs associated with the opening trade.
          allOf:
          - $ref: '#/components/schemas/CostData'
        CostOpeningInBaseCurrency:
          title: Costs associated with the opening trade in requested account or client currency.
          allOf:
          - $ref: '#/components/schemas/CostData'
        CurrencyConversionRateInstrumentToBaseClosing:
          title: True when the opening trades currency conversion rate has been settled (i.e. is fixed and not fluctuating). This is the case for accounts using Market Conversion-Rates.
          type: number
          example: 10
        CurrencyConversionRateInstrumentToBaseOpening:
          title: Trade Closing time
          type: number
          example: 10
        OpenMarketValue:
          title: Marketvalue for Non-Options in Instrument currency
          type: number
          example: 10
        OpenMarketValueInBaseCurrency:
          title: Marketvalue for Non-Options in base currency
          type: number
          example: 10
        OpenPremium:
          title: Open Premium for Option products in Instrument currency
          type: number
          example: 10
        OpenPremiumInBaseCurrency:
          title: Open Premium for Option products in base currency
          type: number
          example: 10
        ValueDateClose:
          title: The value date of the closing position.
          type: string
          format: date-time
          x-type-name: UtcDateTime
        ValueDateOpen:
          title: The value date of the opening position.
          type: string
          format: date-time
          x-type-name: UtcDateTime
      additionalProperties: false
      example:
        CostClosing:
          AdditionalTransactionCosts: 10
          Commission: 10
          ExchangeFee: 10
          ExternalCharges: 10
          PerformanceFee: 10
          StampDuty: 10
        CostClosingInBaseCurrency:
          AdditionalTransactionCosts: 10
          Commission: 10
          ExchangeFee: 10
          ExternalCharges: 10
          PerformanceFee: 10
          StampDuty: 10
        CostOpening:
          AdditionalTransactionCosts: 10
          Commission: 10
          ExchangeFee: 10
          ExternalCharges: 10
          PerformanceFee: 10
          StampDuty: 10
        CostOpeningInBaseCurrency:
          AdditionalTransactionCosts: 10
          Commission: 10
          ExchangeFee: 10
          ExternalCharges: 10
          PerformanceFee: 10
          StampDuty: 10
        CurrencyConversionRateInstrumentToBaseClosing: 10
        CurrencyConversionRateInstrumentToBaseOpening: 10
        OpenMarketValue: 10
        OpenMarketValueInBaseCurrency: 10
        OpenPremium: 10
        OpenPremiumInBaseCurrency: 10
        ValueDateClose: '9999-12-31T23:59:59.9999990+00:00'
        ValueDateOpen: '9999-12-31T23:59:59.9999990+00:00'
    ExpiryCut:
      title: Specifies the type of cut-time used in option expiration.
      enum:
      - Budapest
      - Mexico
      - Moscow
      - NY
      - None
      - PreciousMetals
      - TK
      - Turkey
      - Unknown
      - Warsaw
      type: string
      description: "Expiry cuts are associated to string values (indicators) from ExpiryCuts MITS DB table.\n            This enum should be updated each time when ExpiryCuts MITS DB table updated."
      example: TK
      x-enum-descriptions:
        None: Not specified. Usually option trade with this type of expiration has invalid state or not initialized.
        NY: Option will be expired on the New-York time.
        TK: Option will be expired on the Tokyo time.
        Warsaw: 'WR: Option is expired/exercised manually. Priced as NY.'
        Budapest: 'BD: Option is expired/exercised manually. Priced as NY.'
        PreciousMetals: 'Precious metals cut (PM): Option is expired/exercised manually. Priced as NY.'
        Turkey: 'Turkish cut (TR): Option is expired/exercised manually. Priced as NY.'
        Mexico: 'Mexico cut (MX): Option is expired/exercised manually. Priced as NY.'
        Moscow: 'Moscow cut (MW): Option is expired/exercised manually. Priced as NY.'
        Unknown: 'Unknown cut: (UX): Option is expired/exercised manually. Priced as NY.'
    ClosedPositionsSubscriptionRequest:
      title: Public request contract for setting up a subscription on a list of net positions
      required:
      - ContextId
      - ReferenceId
      type: object
      properties:
        ContextId:
          title: "The streaming context id that this request is associated with.\n            This parameter must only contain letters (a-z) and numbers (0-9) as well as - (dash) and _ (underscore). It is case insensitive. Max length is 50 characters."
          pattern: ^[a-zA-Z0-9_-]{1,50}$
          type: string
          example: ContextId-1
          x-display-order: 1
        ReferenceId:
          title: "Mandatory client specified reference id for the subscription.\n            This parameter must only contain alphanumberic characters as well as - (dash) and _ (underscore). Cannot start with _. It is case insensitive. Max length is 50 characters."
          pattern: ^[a-zA-Z0-9-][a-zA-Z0-9_-]{0,49}$
          type: string
          example: ReferenceId-1
          x-display-order: 2
        Arguments:
          title: Arguments for the subscription request.
          allOf:
          - $ref: '#/components/schemas/ClosedPositionRequest'
        Format:
          title: "Optional Media type (RFC 2046) of the serialized data updates that are streamed to the client.\n            Currently only application/json and application/x-protobuf is supported.\n            If an unrecognized format is specified, the subscription end point will return HTTP status code 400 - Bad format."
          type: string
          example: application/json
        RefreshRate:
          title: "Optional custom refresh rate, measured in milliseconds, between each data update.\n            Note that it is not possible to get a refresh rate lower than the rate specified in the\n            customer service level agreement (SLA)."
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          example: 0
        ReplaceReferenceId:
          title: Reference id of the subscription that should be replaced.
          pattern: ^[a-zA-Z0-9-][a-zA-Z0-9_-]{0,49}$
          type: string
          example: ReplaceReferenceId-1
        Tag:
          title: Optional client specified tag used for grouping subscriptions.
          type: string
          example: ClientTag
      additionalProperties: false
      example:
        Arguments:
          AccountGroupKey: LZTc7DdejXODf-WSl2aCyQ==
          AccountKey: LZTc7DdejXODf-WSl2aCyQ==
          ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
          ClosedPositionId: 139597294-139694249
          FieldGroups:
          - ClosedPosition
        ContextId: '20221030064907102'
        Format: application/json
        ReferenceId: CP35618
        RefreshRate: 1000
        Tag: PAGE1
    ClosedPositionResponseArray:
      type: array
      items:
        $ref: '#/components/schemas/ClosedPositionResponse'
      example:
      - ClosedPosition:
          AccountId: 192134INET
          Amount: 300000
          AssetType: FxSpot
          BuyOrSell: Buy
          ClientId: '654321'
          ClosedProfitLoss: 9597
          ClosedProfitLossInBaseCurrency: 9597
          ClosingMarketValue: 0
          ClosingMarketValueInBaseCurrency: 0
          ClosingMethod: Explicit
          ClosingPositionId: '139694249'
          ClosingPrice: 1.09139
          ConversionRateInstrumentToBaseSettledClosing: false
          ConversionRateInstrumentToBaseSettledOpening: true
          ExecutionTimeClose: '2017-05-02T00:00:00Z'
          ExecutionTimeOpen: '2017-04-12T00:00:00Z'
          OpeningPositionId: '139597294'
          OpenPrice: 1.0594
          Uic: 21
        ClosedPositionUniqueId: 139597294-139694249
        NetPositionId: EURUSD_FxSpot
    FXOptionsBaseData:
      title: FXOptions Base
      type: object
      properties:
        BarrierEventOccurred:
          title: True if the barrier event has occurred for the option
          type: boolean
          example: true
        ExpiryCut:
          title: ExpiryCut.
          allOf:
          - $ref: '#/components/schemas/ExpiryCut'
        ExpiryDate:
          title: The ExpiryDate.
          type: string
          format: date-time
          x-type-name: UtcDateTime
        LowerBarrier:
          title: LowerBarrier for digital option.
          type: number
          example: 10
        PutCall:
          title: The Put/Call value of the option.
          allOf:
          - $ref: '#/components/schemas/PutCall'
        Strike:
          title: The strike price of the option.
          type: number
          example: 10
        UpperBarrier:
          title: UpperBarrier for digital option.
          type: number
          example: 10
      additionalProperties: false
      example:
        BarrierEventOccurred: true
        ExpiryCut: Moscow
        ExpiryDate: '9999-12-31T23:59:59.9999990+00:00'
        LowerBarrier: 10
        PutCall: Call
        Strike: 10
        UpperBarrier: 10
    AssetType:
      title: The possible AssetTypes for which you can get a quote or place an order or a trade.
      enum:
      - Bond
      - Cash
      - CertificateBonus
      - CertificateCappedBonus
      - CertificateCappedCapitalProtected
      - CertificateCappedOutperformance
      - CertificateConstantLeverage
      - CertificateDiscount
      - CertificateExpress
      - CertificateTracker
      - CertificateUncappedCapitalProtection
      - CertificateUncappedOutperformance
      - CfdIndexOption
      - CfdOnCompanyWarrant
      - CfdOnEtc
      - CfdOnEtf
      - CfdOnEtn
      - CfdOnFund
      - CfdOnFutures
      - CfdOnIndex
      - CfdOnRights
      - CfdOnStock
      - CompanyWarrant
      - ContractFutures
      - Etc
      - Etf
      - Etn
      - Fund
      - FuturesOption
      - FuturesStrategy
      - FxBinaryOption
      - FxForwards
      - FxKnockInOption
      - FxKnockOutOption
      - FxNoTouchOption
      - FxOneTouchOption
      - FxSpot
      - FxVanillaOption
      - GuaranteeNote
      - IpoOnStock
      - ManagedFund
      - MiniFuture
      - MutualFund
      - PortfolioNote
      - Rights
      - SrdOnEtf
      - SrdOnStock
      - Stock
      - StockIndex
      - StockIndexOption
      - StockOption
      - Warrant
      - WarrantDoubleKnockOut
      - WarrantKnockOut
      - WarrantOpenEndKnockOut
      - WarrantSpread
      type: string
      example: FxForwards
      x-enum-descriptions:
        FxSpot: Forex Spot.
        FxForwards: Forex Forward.
        FxVanillaOption: Forex Vanilla Option.
        FxKnockInOption: Forex Knock In Option.
        FxKnockOutOption: Forex Knock Out Option.
        FxBinaryOption: Forex Binary Option.
        FxOneTouchOption: Forex One Touch Option.
        FxNoTouchOption: Forex No Touch Option.
        ContractFutures: Contract Futures.
        FuturesStrategy: Futures Strategy.
        Stock: Stock.
        StockOption: Stock Option.
        Bond: Bond.
        FuturesOption: Futures Option.
        StockIndexOption: Stock Index Option.
        ManagedFund: 'Obsolete: Managed Fund.'
        Cash: Cash. Not tradeable!
        CfdOnStock: Cfd on Stock.
        CfdOnIndex: Cfd on Stock Index.
        CfdOnFutures: Cfd on Futures.
        StockIndex: Stock Index.
        MutualFund: Mutual Fund.
        CfdIndexOption: Cfd Index Option.
        CfdOnEtf: Cfd on Etf
        CfdOnEtc: Cfd on Etc
        CfdOnEtn: Cfd on Etn
        CfdOnFund: Cfd on Fund
        CfdOnRights: Cfd on Rights
        CfdOnCompanyWarrant: Cfd on unlisted warrant issued by a corporation.
        Etf: Exchange traded fund.
        Etc: Etc
        Etn: Etn
        Fund: Fund
        Rights: Rights
        Warrant: Warrant
        MiniFuture: MiniFuture.
        WarrantSpread: Warrant with built-in spread.
        WarrantKnockOut: Warrant with a knock-out barrier.
        WarrantOpenEndKnockOut: Knock-out Warrant with no expiry.
        WarrantDoubleKnockOut: Warrant with two knock-out barriers.
        CertificateUncappedCapitalProtection: Guarantees a percentage increase of the underlying asset's value above the issue price at expiry/maturity. Max loss is the amount invested multiplied by the CapitalProtection percentage.
        CertificateCappedCapitalProtected: Guarantees a capped percentage increase of the underlying asset's value above the issue price at expiry/maturity. Max loss is the amount invested multiplied by the CapitalProtection percentage.
        CertificateDiscount: Yields a capped return if the underlying asset's value is above the specified cap level at expiry. If the underlying's value is below the strike at expiry, the investor received the underlying or equivalent value. Offers direct exposure in underlying at a lower price (discount) with a capped potential profit and limited loss.
        CertificateCappedOutperformance: Capped Outperformance Certificate.
        CertificateCappedBonus: Certificate Capped Bonus.
        CertificateExpress: Certificate Express kick out.
        CertificateTracker: A certificate that mirrors the price movement of the underlying instrument. Often used to trade movements in indicies. Movements can be a fixed ratio of the underlying and can be inverted for bearish/short speculation. Risk is equivalent to owning the underlying.
        CertificateUncappedOutperformance: Provides leveraged returns when the underlying price exceeds the threshold strike price. The amount leverage is defined by the Participation %. When the underlying is below the strike price, the certificate mirrors the underlying price 1:1.
        CertificateBonus: Mirrors the price movement of the underlying only if and when the underlying price exceeds the defined barrier. If the certificate expires below the barrier, it offers partial protection/return of investment.
        CertificateConstantLeverage: Certificate Constant Leverage.
        SrdOnStock: SRD. (Service de Règlement Différé) on Stock.
        SrdOnEtf: SRD. (Service de Règlement Différé) on Etf.
        IpoOnStock: IPO on Stock
        CompanyWarrant: Unlisted warrant issued by a corporation, often physically settled.
        PortfolioNote: Danish pooled investment scheme (“Pulje”). Not online tradeable.
        GuaranteeNote: Danish investment scheme (“Grantbevis”). Not online tradeable.
    ClosedPositionResponse:
      title: Information for a closed position
      required:
      - ClosedPositionUniqueId
      type: object
      properties:
        ClosedPosition:
          title: ClosedPosition info
          allOf:
          - $ref: '#/components/schemas/ClosedPosition'
        ClosedPositionUniqueId:
          title: Unique id of the closed position based on OpeningPositionId and ClosingPositionId - Required for subscription to provide a key.
          type: string
          example: stringValue
        DisplayAndFormat:
          title: '[Community] Information about the instrument of the closed position and how to display it.'
          allOf:
          - $ref: '#/components/schemas/InstrumentDisplayAndFormat'
        Exchange:
          title: Information about the instrument's exchange and trading status.
          allOf:
          - $ref: '#/components/schemas/InstrumentExchangeDetails'
        NetPositionId:
          title: NetPosition ID
          type: string
          example: stringValue
      additionalProperties: false
      example:
        ClosedPosition:
          AccountId: 192134INET
          Amount: 300000
          AssetType: FxSpot
          BuyOrSell: Buy
          ClientId: '654321'
          ClosedProfitLoss: 9597
          ClosedProfitLossInBaseCurrency: 9597
          ClosingMarketValue: 0
          ClosingMarketValueInBaseCurrency: 0
          ClosingMethod: Explicit
          ClosingPositionId: '139694249'
          ClosingPrice: 1.09139
          ConversionRateInstrumentToBaseSettledClosing: false
          ConversionRateInstrumentToBaseSettledOpening: true
          ExecutionTimeClose: '2017-05-02T00:00:00Z'
          ExecutionTimeOpen: '2017-04-12T00:00:00Z'
          OpeningPositionId: '139597294'
          OpenPrice: 1.0594
          Uic: 21
        ClosedPositionUniqueId: 139597294-139694249
        NetPositionId: EURUSD_FxSpot
    PutCall:
      title: Describes the direction of an option.
      enum:
      - Call
      - None
      - Put
      type: string
      example: Put
      x-enum-descriptions:
        None: Not specified.
        Put: Put.
        Call: Call.
    InstrumentDisplayAndFormat:
      title: Public data contract containing information about the instrument of a position, which is useful for display and formatting.
      type: object
      properties:
        BarrierDecimals:
          title: "Number of display decimals for barrier price.\n            One touch/no touch options only."
          type: integer
          format: int32
          example: 99
        BarrierFormat:
          title: "Display format of barrier price.\n            One touch/no touch options only."
          allOf:
          - $ref: '#/components/schemas/PriceDisplayFormatType'
        Currency:
          title: The ISO currency code of the instrument.
          type: string
          example: stringValue
        Decimals:
          title: "The resolution in which e.g. a price must be displayed and possibly edited.\n            Positive numbers are represents digits, and negative numbers represent fractions using this formula: 1/(2^x).\n            Same as DisplayDecimals."
          type: integer
          format: int32
          example: 99
        Description:
          title: Description of instrument (DAX Index - Nov 2013), in English.
          type: string
          example: stringValue
        DisplayHint:
          title: Hint to the client application about how it should display the instrument.
          allOf:
          - $ref: '#/components/schemas/DisplayHintType'
        Format:
          title: Format code specifying how price should be formatted.
          allOf:
          - $ref: '#/components/schemas/PriceDisplayFormatType'
        NumeratorDecimals:
          title: Some fractional prices have decimals in the numerator, e.g. 2.5/32.  This is relevant for futures and cfds on futures.
          type: integer
          format: int32
          example: 99
        OrderDecimals:
          title: The number of decimals trigger price for orders should be formatted with.
          type: integer
          format: int32
          example: 99
        StrikeDecimals:
          title: "The decimals value to use when formatting strike price.\n            Only relevant for options."
          type: integer
          format: int32
          example: 99
        StrikeFormat:
          title: "The price format to use when formatting strike price.\n            Only relevant for options."
          allOf:
          - $ref: '#/components/schemas/PriceDisplayFormatType'
        Symbol:
          title: Symbol- A combination of letters used to uniquely identify a traded instrument. e.g. ODAX/X13C8950:xeur.
          type: string
          example: stringValue
        UnderlyingInstrumentDescription:
          title: Common full name of the underlying instrument. Only used for options and is the same as the option root description.
          type: string
          example: stringValue
      additionalProperties: false
      example:
        BarrierDecimals: 99
        BarrierFormat: Normal
        Currency: stringValue
        Decimals: 99
        Description: stringValue
        DisplayHint: PreciousMetal
        Format: Percentage
        NumeratorDecimals: 99
        OrderDecimals: 99
        StrikeDecimals: 99
        StrikeFormat: AllowDecimalPips
        Symbol: stringValue
        UnderlyingInstrumentDescription: stringValue
    ClosedPositionsSubscriptionResponse:
      title: Public response contract returned after setting up a subscription on net position.
      type: object
      properties:
        ContextId:
          title: The streaming context id that this response is associated with.
          type: string
          example: ContextId-1
          x-display-order: 1
        ReferenceId:
          title: The reference id that (along with streaming context id and session id) identifies the subscription (within the context of a specific service/subscription type)
          type: string
          example: ReferenceId-1
          x-display-order: 2
        Format:
          title: The media type (RFC 2046), of the serialized data updates that are streamed to the client.
          type: string
          example: application/json
        InactivityTimeout:
          title: The time (in seconds) that the client should accept the subscription to be inactive before considering it invalid.
          type: integer
          format: int32
          example: 0
        RefreshRate:
          title: Actual refresh rate assigned to the subscription according to the customers SLA.
          type: integer
          format: int32
          example: 0
        Snapshot:
          title: Snapshot of the current data on hand, when subscription was created.
          allOf:
          - $ref: '#/components/schemas/ClosedPositionResponseListResult'
        State:
          title: The value "Active".
          type: string
          description: This property is kept for backwards compatibility.
          example: Active
        Tag:
          title: Client specified tag assigned to the subscription, if specified in the request.
          type: string
          example: ClientTag
      additionalProperties: false
      example:
        Format: application/json
        InactivityTimeout: 120
        ReferenceId: CP50382
        RefreshRate: 1000
        Snapshot:
          Data:
          - ClosedPosition:
              AccountId: 192134INET
              Amount: 300000
              AssetType: FxSpot
              BuyOrSell: Buy
              ClientId: '654321'
              ClosedProfitLoss: 9597
              ClosedProfitLossInBaseCurrency: 9597
              ClosingMarketValue: 0
              ClosingMarketValueInBaseCurrency: 0
              ClosingMethod: Explicit
              ClosingPositionId: '139694249'
              ClosingPrice: 1.09139
              ConversionRateInstrumentToBaseSettledClosing: false
              ConversionRateInstrumentToBaseSettledOpening: true
              ExecutionTimeClose: '2017-05-02T00:00:00Z'
              ExecutionTimeOpen: '2017-04-12T00:00:00Z'
              OpeningPositionId: '139597294'
              OpenPrice: 1.0594
              Uic: 21
            ClosedPositionUniqueId: 139597294-139694249
            NetPositionId: EURUSD_FxSpot
        State: Active
    BuySell:
      title: Describes the direction of an order, action or trade.
      enum:
      - Buy
      - Sell
      type: string
      example: Sell
      x-enum-descriptions:
        Buy: Buy.
        Sell: Sell.
    ModelStateDictionary:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    CostData:
      title: Trading costs associated with opening/closing a position or net position
      type: object
      properties:
        AdditionalTransactionCosts:
          title: Additional Transaction Costs.
          type: number
          example: 10
        Commission:
          title: Transaction commission costs.
          type: number
          example: 10
        ExchangeFee:
          title: Transaction fee as charged by the underlying exchange.
          type: number
          example: 10
        ExternalCharges:
          title: Transaction charges added by external facilitators.
          type: number
          example: 10
        PerformanceFee:
          title: Fee or commission based on profit/loss of position.
          type: number
          example: 10
        StampDuty:
          title: National transaction duty/tax, where applicable.
          type: number
          example: 10
      additionalProperties: false
      example:
        AdditionalTransactionCosts: 10
        Commission: 10
        ExchangeFee: 10
        ExternalCharges: 10
        PerformanceFee: 10
        StampDuty: 10
    ClosedPositionResponseListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/ClosedPositionResponse'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
      example:
        __next: /openapi/port/....../?$top=1&$skip=1
        Data:
        - ClosedPosition:
            AccountId: 192134INET
            Amount: 300000
            AssetType: FxSpot
            BuyOrSell: Buy
            ClientId: '654321'
            ClosedProfitLoss: 9597
            ClosedProfitLossInBaseCurrency: 9597
            ClosingMarketValue: 0
            ClosingMarketValueInBaseCurrency: 0
            ClosingMethod: Explicit
            ClosingPositionId: '139694249'
            ClosingPrice: 1.09139
            ConversionRateInstrumentToBaseSettledClosing: false
            ConversionRateInstrumentToBaseSettledOpening: true
            ExecutionTimeClose: '2017-05-02T00:00:00Z'
            ExecutionTimeOpen: '2017-04-12T00:00:00Z'
            OpeningPositionId: '139597294'
            OpenPrice: 1.0594
            Uic: 21
          ClosedPositionUniqueId: 139597294-139694249
          NetPositionId: EURUSD_FxSpot
    DisplayHintType:
      title: Display Hint Type.
      enum:
      - Continuous
      - CryptoCurrencies
      - Etc
      - Etf
      - Etn
      - Forex
      - Fund
      - Interests
      - None
      - PreciousMetal
      - Rights
      - StockIndices
      - Warrant
      type: string
      example: Continuous
      x-enum-descriptions:
        None: Indicates not special display hint is required.
        PreciousMetal: Metals like XAUUSD.
        Continuous: Used for the parent ContractFutures.
        Etf: Exchange Traded Funds.
        Etn: Exchange Traded Notes.
        Etc: Exchange Traded Certificates/Currencies.
        Rights: Rights.
        Warrant: Warrants.
        Forex: Forex. Intended to be used for Cfds on Futures on Forex.
        Interests: Interest rates. Intended to be used for Cfds on Futures on bonds.
        StockIndices: Stock indices. Intended to be used for Cfds on Futures on stock indices.
        Fund: Fund.
        CryptoCurrencies: Crypto currencies.
    PriceDisplayFormatType:
      title: The format modifiers in which e.g. a price must be displayed and possibly edited.
      enum:
      - AllowDecimalPips
      - Fractions
      - ModernFractions
      - Normal
      - Percentage
      type: string
      example: Fractions
      x-enum-descriptions:
        Normal: Standard decimal formatting is used with the Decimals field indicating the number of decimals.
        Fractions: Display as regular fraction i.e. 3 1/4
        ModernFractions: Special US Bonds futures fractional format (1/32s or 1/128s without nominator). If PriceDecimals = -5 then the nominator is 32, else 128.
        Percentage: Display as percentage, e.g. 12.34%.
        AllowDecimalPips: "Display the last digit as a smaller than the rest of the numbers. Note that this digit is not included in the number of decimals, effectively\n            increasing the number of decimals by one. E.g. 12.345 when Decimals is 2 and DisplayFormat is AllowDecimalPips."
    ClosedPositionFieldGroup:
      title: Specification of fieldsets to include in results.
      enum:
      - ClosedPosition
      - ClosedPositionDetails
      - DisplayAndFormat
      - ExchangeInfo
      type: string
      example: ClosedPosition
      x-enum-descriptions:
        ClosedPosition: Closed position data which is calculated differently whether viewed at client or account level
        DisplayAndFormat: Information about the instrument of the net position and how to display it.
        ExchangeInfo: Adds information about the instrument's exchange. This includes Exchange name, exchange code and open status.
        ClosedPositionDetails: Detailed information about a closed position. Applicable when ClosedPositionId is included in the request and not a subscription request.
      x-type-warning: FlaggableEnum
    ClosedPosition:
      title: Static contents for a closed position.
      type: object
      properties:
        AccountId:
          title: The id of the account to which the closed position belongs.
          type: string
          example: stringValue
        Amount:
          title: Sum volume of positions in instrument.
          type: number
          example: 10
        AssetType:
          title: The AssetType.
          allOf:
          - $ref: '#/components/schemas/AssetType'
        BuyOrSell:
          title: Closing direction - Buy or Sell
          allOf:
          - $ref: '#/components/schemas/BuySell'
        ClientId:
          title: The id of the client to which the closed position belongs.
          type: string
          example: stringValue
        ClosedProfitLoss:
          title: Closed ProfitLoss in Instrument currency
          type: number
          example: 10
        ClosedProfitLossInBaseCurrency:
          title: Closed ProfitLoss in Base (client/ account) currency
          type: number
          example: 10
        ClosingIndexRatio:
          title: Closing IndexRatio, Applicable for Inflation linked bonds.
          type: number
          example: 10
        ClosingMarketValue:
          title: Market value at closing for non-options in instrument currency
          type: number
          example: 10
        ClosingMarketValueInBaseCurrency:
          title: Market value at closing for non-options in base currency
          type: number
          example: 10
        ClosingMethod:
          title: "The closing method of the position. \n            Possible values: Explicit, Fifo."
          allOf:
          - $ref: '#/components/schemas/PositionClosingMethod'
        ClosingPositionId:
          title: The Id of closing position that caused closing..
          type: string
          example: stringValue
        ClosingPremium:
          title: Premium for option positions that are closed, in instrument currency
          type: number
          example: 10
        ClosingPremiumInBaseCurrency:
          title: Premium for option positions that are closed, in base currency
          type: number
          example: 10
        ClosingPrice:
          title: Closing price
          type: number
          example: 10
        ConversionRateInstrumentToBaseSettledClosing:
          title: True when the closing trades currency conversion rate has been settled (i.e. is fixed and not fluctuating). This is the case for accounts using Market Conversion-Rates.
          type: boolean
          example: true
        ConversionRateInstrumentToBaseSettledOpening:
          title: True when the opening trades currency conversion rate has been settled (i.e. is fixed and not fluctuating). This is the case for accounts using Market Conversion-Rates.
          type: boolean
          example: true
        CostClosing:
          title: Total Cost in instrument currency
          type: number
          example: 10
        CostClosingInBaseCurrency:
          title: Total Cost in client/account currency
          type: number
          example: 10
        CostOpening:
          title: Total Cost in instrument currency
          type: number
          example: 10
        CostOpeningInBaseCurrency:
          title: Total Cost in client/account currency
          type: number
          example: 10
        ExecutionTimeClose:
          title: The UTC date and time the position was closed.
          type: string
          format: date-time
          x-type-name: UtcDateTime
        ExecutionTimeOpen:
          title: The UTC date and time the position was opened.
          type: string
          format: date-time
          x-type-name: UtcDateTime
        ExpiryDate:
          title: The ExpiryDate.
          type: string
          format: date-time
          x-type-name: UtcDateTime
        FxOptionData:
          title: Fx option-related data. Only for fx options.
          allOf:
          - $ref: '#/components/schemas/FXOptionsBaseData'
        NoticeDate:
          title: Futures only - The date on which the owner may be required to take physical delivery of the instrument commodity.
          type: string
          format: date-time
          x-type-name: UtcDateTime
        OpenPrice:
          title: The price the instrument was traded at.
          type: number
          example: 10
        OpeningIndexRatio:
          title: Opening IndexRatio, Applicable for Inflation linked bonds.
          type: number
          example: 10
        OpeningPositionId:
          title: The Id of opening position that has been closed.
          type: string
          example: stringValue
        ProfitLossCurrencyConversion:
          title: The profit loss from currency conversion between position close and position open.
          type: number
          example: 10
        ProfitLossOnTrade:
          title: The P/L on the trade in the currency in which the instrument is traded.
          type: number
          example: 10
        ProfitLossOnTradeInBaseCurrency:
          title: The P/L in the client/account group/account currency.
          type: number
          example: 10
        SrdSettlementDate:
          title: SRD Settlement Date
          type: string
          format: date-time
          x-type-name: UtcDateTime
        Uic:
          title: Unique id of the instrument.
          type: integer
          format: int32
          example: 99
      additionalProperties: false
      example:
        AccountId: stringValue
        Amount: 10
        AssetType: CfdOnFutures
        BuyOrSell: Sell
        ClientId: stringValue
        ClosedProfitLoss: 10
        ClosedProfitLossInBaseCurrency: 10
        ClosingIndexRatio: 10
        ClosingMarketValue: 10
        ClosingMarketValueInBaseCurrency: 10
        ClosingMethod: Explicit
        ClosingPositionId: stringValue
        ClosingPremium: 10
        ClosingPremiumInBaseCurrency: 10
        ClosingPrice: 10
        ConversionRateInstrumentToBaseSettledClosing: true
        ConversionRateInstrumentToBaseSettledOpening: false
        CostClosing: 10
        CostClosingInBaseCurrency: 10
        CostOpening: 10
        CostOpeningInBaseCurrency: 10
        ExecutionTimeClose: '9999-12-31T23:59:59.9999990+00:00'
        ExecutionTimeOpen: '9999-12-31T23:59:59.9999990+00:00'
        ExpiryDate: '9999-12-31T23:59:59.9999990+00:00'
        FxOptionData:
          BarrierEventOccurred: false
          ExpiryCut: TK
          ExpiryDate: '9999-12-31T23:59:59.999999Z'
          LowerBarrier: 10
          PutCall: None
          Strike: 10
          UpperBarrier: 10
        NoticeDate: '9999-12-31T23:59:59.9999990+00:00'
        OpeningIndexRatio: 10
        OpeningPositionId: stringValue
        OpenPrice: 10
        ProfitLossCurrencyConversion: 10
        ProfitLossOnTrade: 10
        ProfitLossOnTradeInBaseCurrency: 10
        SrdSettlementDate: '9999-12-31T23:59:59.9999990+00:00'
        Uic: 99
    PositionClosingMethod:
      title: Intra day netting modes
      enum:
      - Explicit
      - Fifo
      - Unknown
      type: string
      example: Fifo
      x-enum-descriptions:
        Explicit: Explicit closed
        Fifo: Netting Closed
        Unknown: Unknown
  responses:
    ServiceUnavailable:
      description: Service Unavailable.
    Unauthorized:
      description: Indicates that the request was rejected because the 'Authorization' header was missing in the request or contained an invalid security token.
    BadRequest:
      description: One or more of the provided parameters are invalid.
      content:
        application/json:
          schema:
            required:
            - ErrorCode
            - Message
            type: object
            properties:
              ErrorCode:
                enum:
                - InvalidRequest
                type: string
                example: None
                x-enum-descriptions:
                  InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
              Message:
                type: string
              ModelState:
                $ref: '#/components/schemas/ModelStateDictionary'
    TooManyRequests:
      description: The request was rejected due to rate limit being exceeded.
  securitySchemes:
    OpenApiJWTSecurityScheme:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OpenApiOAuthSecurityScheme:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sim.logonvalidation.net/authorize
          tokenUrl: https://sim.logonvalidation.net/token
          scopes: {}
