openapi: 3.2.0
info:
  title: Services.Developer Feature Flags API
  description: 'Developer provide end points related to apps.

    NOTE: This is an early developer preview. At this point, all data may not be correct, complete or available in the live environment.'
  version: 1.1.124+9dcc268efa
  x-framework-version: 43.0.9+b005aba300
  x-machine: SIMOAWEB11-DK1
servers:
- url: https://gateway.saxobank.com/sim/openapi
tags:
- name: Feature Flags
  description: Provide feature flags related endpoints.
paths:
  /developer/featureflags:
    get:
      tags:
      - Feature Flags
      description: Get all feature flags
      operationId: FeatureFlagsGetFlags
      responses:
        '200':
          description: Indicates that the request was performed correctly.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StringBooleanKeyValuePair'
                example:
                  stringValue: false
              example:
                stringValue: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Feature flags get flags
      x-summary-source: derived
components:
  responses:
    Unauthorized:
      description: Indicates that the request was rejected because the 'Authorization' header was missing in the request or contained an invalid security token.
    TooManyRequests:
      description: The request was rejected due to rate limit being exceeded.
    BadRequest:
      description: One or more of the provided parameters are invalid.
      content:
        application/json:
          schema:
            required:
            - ErrorCode
            - Message
            type: object
            properties:
              ErrorCode:
                enum:
                - InvalidRequest
                type: string
                example: None
                x-enum-descriptions:
                  InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
              Message:
                type: string
              ModelState:
                $ref: '#/components/schemas/ModelStateDictionary'
    ServiceUnavailable:
      description: Service Unavailable.
  schemas:
    StringBooleanKeyValuePair:
      type: object
      properties:
        Key:
          type: string
          example: stringValue
        Value:
          type: boolean
          example: false
      additionalProperties: false
      example:
        Key: stringValue
        Value: false
    ModelStateDictionary:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
  securitySchemes:
    OpenApiJWTSecurityScheme:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OpenApiOAuthSecurityScheme:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sim.logonvalidation.net/authorize
          tokenUrl: https://sim.logonvalidation.net/token
          scopes: {}
