openapi: 3.0.1
info:
  title: Services.AutoTrading Account Values Historical Report Data - Aggregated amounts API
  description: 'The AutoTrading service group provides endpoints for interacting with Saxo Bank''s SaxoSelect offering.Through these interfaces a client application can get Saxo Select trade leaders, portfolios and investments. Portfolio investments can be created and modifed.<div class=well style=''border: 1px solid rgb(204, 82, 0); border-image: none; background-color: rgb(255, 209, 179);padding:1px;''><strong> Note:</strong> </br>This service is subject to special licensing agreements and not generally available to all OpenAPI applications.</div>'
  version: 2.4.138+710c760591
  x-framework-version: 38.0.2+439c5b0ec3
  x-machine: SIMOAWEB11-DK2
servers:
- url: https://gateway.saxobank.com/sim/openapi
tags:
- name: Historical Report Data - Aggregated amounts
  description: Aggregated Amounts Report Data.
paths:
  /cs/v1/reports/aggregatedAmounts/{ClientKey}/{FromDate}/{ToDate}:
    get:
      tags:
      - Historical Report Data - Aggregated amounts
      description: Get all aggregated amounts between two dates
      operationId: AggregatedAmountGet
      parameters:
      - name: $skip
        in: query
        description: The number of entries to skip from the beginning of the collection
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 1
      - name: $skiptoken
        in: query
        description: Specifies an entity id to start retrieving entries from. This is normally only used in generated nextlinks.
        schema:
          type: string
        example: B17D8890-3C7A-4A47-A9AA-01B022ED03A5
      - name: $top
        in: query
        description: The number of entries to return from the beginning of the collection
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 1
      - name: AccountGroupKey
        in: query
        description: The key of the account group to which the resource belongs.
        schema:
          title: The key of the account group to which the resource belongs.
          minLength: 1
          type: string
          x-type-name: AccountGroupKey
        example: stringValue
      - name: AccountKey
        in: query
        description: The key of the account to which the resource belongs.
        schema:
          title: The key of the account to which the resource belongs.
          minLength: 1
          type: string
          x-type-name: AccountKey
        example: 01b64edf-da03-4145-bf33-ae21527d4c86
      - name: ClientKey
        in: path
        description: The key of the client to which the resource belongs.
        required: true
        schema:
          title: The key of the client to which the resource belongs.
          minLength: 1
          type: string
          x-type-name: ClientKey
        example: 493b43a5-fe85-4d1f-9071-dd4a9d4e42a4
      - name: FromDate
        in: path
        description: From date
        required: true
        schema:
          type: string
          format: date
          x-type-name: Date
        example: '2016-10-10'
      - name: MockDataId
        in: query
        description: Optional Mock Data Parameter
        schema:
          type: string
      - name: ToDate
        in: path
        description: To date
        required: true
        schema:
          type: string
          format: date
          x-type-name: Date
        example: '2017-10-10'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregatedAmountListResult'
              example:
                __next: /openapi/....../?$top=1&$skip=1
                Data:
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 255.71
                  AmountAccountCurrency: 255.71
                  AmountClass: NotAssigned
                  AmountClientCurrency: 255.71
                  AmountSubClass: NotAssigned
                  AmountTypeId: -3
                  AmountTypeName: Cash Balances
                  AmountUSD: 41.2259276277075
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-01-02'
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 0
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentUic: 0
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 660
                  AmountAccountCurrency: 4073.280255
                  AmountClass: NotAssigned
                  AmountClientCurrency: 4073.280255
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 660
                  AssetType: StockIndexOption
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-01-02'
                  InstrumentDescription: Volatility Index (VIX) Jan2015 15.000 C
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  InstrumentSymbol: VIX/F15C15=xcbf
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 1012706
                  UnderlyingInstrumentAssetType: StockIndex
                  UnderlyingInstrumentDescription: CBOE Volatility Index
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: VIX.I
                  UnderlyingInstrumentUic: 10606
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: -60
                  AmountAccountCurrency: -338.39
                  AmountClass: NotAssigned
                  AmountClientCurrency: -338.39
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: -59.9998387785868
                  AssetType: StockIndexOption
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-01-02'
                  InstrumentDescription: Volatility Index (VIX) Jan2015 15.000 C
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  InstrumentSymbol: VIX/F15C15=xcbf
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 1012706
                  UnderlyingInstrumentAssetType: StockIndex
                  UnderlyingInstrumentDescription: CBOE Volatility Index
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: VIX.I
                  UnderlyingInstrumentUic: 10606
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 660
                  AmountAccountCurrency: 4093.75
                  AmountClass: NotAssigned
                  AmountClientCurrency: 4093.75
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: 660.000161221413
                  AssetType: StockIndexOption
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-01-02'
                  InstrumentDescription: Volatility Index (VIX) Jan2015 15.000 C
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  InstrumentSymbol: VIX/F15C15=xcbf
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 1012706
                  UnderlyingInstrumentAssetType: StockIndex
                  UnderlyingInstrumentDescription: CBOE Volatility Index
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: VIX.I
                  UnderlyingInstrumentUic: 10606
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 920
                  AmountAccountCurrency: 5708.84633
                  AmountClass: NotAssigned
                  AmountClientCurrency: 5708.84633
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 920
                  AssetType: StockIndexOption
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-01-05'
                  InstrumentDescription: Volatility Index (VIX) Jan2015 15.000 C
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  InstrumentSymbol: VIX/F15C15=xcbf
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 1012706
                  UnderlyingInstrumentAssetType: StockIndex
                  UnderlyingInstrumentDescription: CBOE Volatility Index
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: VIX.I
                  UnderlyingInstrumentUic: 10606
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 8221.83
                  AmountAccountCurrency: 8221.83
                  AmountClass: NotAssigned
                  AmountClientCurrency: 8221.83
                  AmountSubClass: NotAssigned
                  AmountTypeId: -3
                  AmountTypeName: Cash Balances
                  AmountUSD: 1279.23418622562
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-01-16'
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 0
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentUic: 0
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 8221.83
                  AmountAccountCurrency: 8221.83
                  AmountClass: NotAssigned
                  AmountClientCurrency: 8221.83
                  AmountSubClass: NotAssigned
                  AmountTypeId: -3
                  AmountTypeName: Cash Balances
                  AmountUSD: 1283.89862269278
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-01-19'
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 0
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentUic: 0
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 489.99
                  AmountAccountCurrency: 489.99
                  AmountClass: NotAssigned
                  AmountClientCurrency: 489.99
                  AmountSubClass: NotAssigned
                  AmountTypeId: -3
                  AmountTypeName: Cash Balances
                  AmountUSD: 76.125594257838
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-01-20'
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 0
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentUic: 0
                - AccountCurrency: DKK
                  AffectsBalance: true
                  Amount: -1186.5
                  AmountAccountCurrency: -7654.42
                  AmountClass: NotAssigned
                  AmountClientCurrency: -7654.42
                  AmountSubClass: NotAssigned
                  AmountTypeId: 2
                  AmountTypeName: Share Amount
                  AmountUSD: -1189.20237392412
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-01-20'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: true
                  Amount: -12
                  AmountAccountCurrency: -77.42
                  AmountClass: NotAssigned
                  AmountClientCurrency: -77.42
                  AmountSubClass: NotAssigned
                  AmountTypeId: 4
                  AmountTypeName: Commission
                  AmountUSD: -12.0280893639499
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-01-20'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1220.1
                  AmountAccountCurrency: 7814.0291817
                  AmountClass: NotAssigned
                  AmountClientCurrency: 7814.0291817
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 1220.1
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-01-20'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 21.5999999999999
                  AmountAccountCurrency: 121.46
                  AmountClass: NotAssigned
                  AmountClientCurrency: 121.46
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: 18.8702109809528
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-01-20'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1220.1
                  AmountAccountCurrency: 7853.3
                  AmountClass: NotAssigned
                  AmountClientCurrency: 7853.3
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: 1220.10067426902
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-01-20'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 489.99
                  AmountAccountCurrency: 489.99
                  AmountClass: NotAssigned
                  AmountClientCurrency: 489.99
                  AmountSubClass: NotAssigned
                  AmountTypeId: -3
                  AmountTypeName: Cash Balances
                  AmountUSD: 76.5131168019987
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-01-21'
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 0
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentUic: 0
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1216.32
                  AmountAccountCurrency: 7750.3667136
                  AmountClass: NotAssigned
                  AmountClientCurrency: 7750.3667136
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 1216.32
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-01-21'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: -13.4400000000001
                  AmountAccountCurrency: 2.65999999999985
                  AmountClass: NotAssigned
                  AmountClientCurrency: 2.65999999999985
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: -13.4403072658449
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-04'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1147.02
                  AmountAccountCurrency: 7527.49
                  AmountClass: NotAssigned
                  AmountClientCurrency: 7527.49
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: 1147.01987764089
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-04'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 489.99
                  AmountAccountCurrency: 489.99
                  AmountClass: NotAssigned
                  AmountClientCurrency: 489.99
                  AmountSubClass: NotAssigned
                  AmountTypeId: -3
                  AmountTypeName: Cash Balances
                  AmountUSD: 75.5504502281978
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-05'
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 0
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentUic: 0
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1101.66
                  AmountAccountCurrency: 7109.20146552
                  AmountClass: NotAssigned
                  AmountClientCurrency: 7109.20146552
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 1101.66
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-05'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: -45.3599999999999
                  AmountAccountCurrency: -382.56
                  AmountClass: NotAssigned
                  AmountClientCurrency: -382.56
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: -45.3592756919588
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-05'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1101.66
                  AmountAccountCurrency: 7144.93
                  AmountClass: NotAssigned
                  AmountClientCurrency: 7144.93
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: 1101.66060194893
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-05'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 489.99
                  AmountAccountCurrency: 489.99
                  AmountClass: NotAssigned
                  AmountClientCurrency: 489.99
                  AmountSubClass: NotAssigned
                  AmountTypeId: -3
                  AmountTypeName: Cash Balances
                  AmountUSD: 74.5129944190149
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-06'
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 0
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentUic: 0
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1259.58
                  AmountAccountCurrency: 8241.45776139
                  AmountClass: NotAssigned
                  AmountClientCurrency: 8241.45776139
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 1259.58
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-06'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 157.92
                  AmountAccountCurrency: 1137.94
                  AmountClass: NotAssigned
                  AmountClientCurrency: 1137.94
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: 157.919075357595
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-06'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1259.58
                  AmountAccountCurrency: 8282.87
                  AmountClass: NotAssigned
                  AmountClientCurrency: 8282.87
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: 1259.57967730653
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-06'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1317.12
                  AmountAccountCurrency: 8636.29
                  AmountClass: NotAssigned
                  AmountClientCurrency: 8636.29
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: 1317.12000244016
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-20'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 489.99
                  AmountAccountCurrency: 489.99
                  AmountClass: NotAssigned
                  AmountClientCurrency: 489.99
                  AmountSubClass: NotAssigned
                  AmountTypeId: -3
                  AmountTypeName: Cash Balances
                  AmountUSD: 74.4609072258947
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-23'
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 0
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentUic: 0
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1284.78
                  AmountAccountCurrency: 8412.22231605
                  AmountClass: NotAssigned
                  AmountClientCurrency: 8412.22231605
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 1284.78
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-23'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: -32.3399999999999
                  AmountAccountCurrency: -181.800000000001
                  AmountClass: NotAssigned
                  AmountClientCurrency: -181.800000000001
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: -32.340730348373
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-23'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1284.78
                  AmountAccountCurrency: 8454.49
                  AmountClass: NotAssigned
                  AmountClientCurrency: 8454.49
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: 1284.77927209179
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-23'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 489.99
                  AmountAccountCurrency: 489.99
                  AmountClass: NotAssigned
                  AmountClientCurrency: 489.99
                  AmountSubClass: NotAssigned
                  AmountTypeId: -3
                  AmountTypeName: Cash Balances
                  AmountUSD: 74.4665653495441
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-24'
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 0
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentUic: 0
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1291.92
                  AmountAccountCurrency: 8458.329432
                  AmountClass: NotAssigned
                  AmountClientCurrency: 8458.329432
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 1291.92
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-24'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 7.1400000000001
                  AmountAccountCurrency: 46.3400000000001
                  AmountClass: NotAssigned
                  AmountClientCurrency: 46.3400000000001
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: 7.1401807957518
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-24'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1291.92
                  AmountAccountCurrency: 8500.83
                  AmountClass: NotAssigned
                  AmountClientCurrency: 8500.83
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: 1291.91945288754
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-24'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 489.99
                  AmountAccountCurrency: 489.99
                  AmountClass: NotAssigned
                  AmountClientCurrency: 489.99
                  AmountSubClass: NotAssigned
                  AmountTypeId: -3
                  AmountTypeName: Cash Balances
                  AmountUSD: 74.5384983989108
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-25'
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 0
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentUic: 0
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1317.54
                  AmountAccountCurrency: 8617.741586895
                  AmountClass: NotAssigned
                  AmountClientCurrency: 8617.741586895
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 1317.54
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-02-25'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1317.96
                  AmountAccountCurrency: 9007.53962976
                  AmountClass: NotAssigned
                  AmountClientCurrency: 9007.53962976
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 1317.96
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-03-06'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: -30
                  AmountAccountCurrency: -204.95
                  AmountClass: NotAssigned
                  AmountClientCurrency: -204.95
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: -29.9999903997027
                  AssetType: CfdOnStock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-03-06'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: CfdOnStock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: -25.2
                  AmountAccountCurrency: -23.4700000000012
                  AmountClass: NotAssigned
                  AmountClientCurrency: -23.4700000000012
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: -25.2006222564567
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-03-06'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: -20
                  AmountAccountCurrency: -137.38
                  AmountClass: NotAssigned
                  AmountClientCurrency: -137.38
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: -20.0005823433496
                  AssetType: CfdOnStock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-03-06'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: CfdOnStock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1317.96
                  AmountAccountCurrency: 9052.8
                  AmountClass: NotAssigned
                  AmountClientCurrency: 9052.8
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: 1317.95946890286
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-03-06'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 423.2
                  AmountAccountCurrency: 423.2
                  AmountClass: NotAssigned
                  AmountClientCurrency: 423.2
                  AmountSubClass: NotAssigned
                  AmountTypeId: -3
                  AmountTypeName: Cash Balances
                  AmountUSD: 61.639296508029
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-03-09'
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 0
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentUic: 0
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1504
                  AmountAccountCurrency: 10377.71844
                  AmountClass: NotAssigned
                  AmountClientCurrency: 10377.71844
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 1504
                  AssetType: CfdOnStock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-03-09'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: CfdOnStock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1263.36
                  AmountAccountCurrency: 8630.5443504
                  AmountClass: NotAssigned
                  AmountClientCurrency: 8630.5443504
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 1263.36
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-03-09'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: -65
                  AmountAccountCurrency: -446.21
                  AmountClass: NotAssigned
                  AmountClientCurrency: -446.21
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: -64.9995997197899
                  AssetType: CfdOnStock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-03-09'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: CfdOnStock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 0
                  AmountAccountCurrency: 24.8199999999997
                  AmountClass: NotAssigned
                  AmountClientCurrency: 24.8199999999997
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: -0.00127218726947831
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-03-24'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: -57.5
                  AmountAccountCurrency: -392.8
                  AmountClass: NotAssigned
                  AmountClientCurrency: -392.8
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: -57.5000365962555
                  AssetType: CfdOnStock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-03-24'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: CfdOnStock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1286.46
                  AmountAccountCurrency: 8788.19
                  AmountClass: NotAssigned
                  AmountClientCurrency: 8788.19
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: 1286.45938547568
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-03-24'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 423.2
                  AmountAccountCurrency: 423.2
                  AmountClass: NotAssigned
                  AmountClientCurrency: 423.2
                  AmountSubClass: NotAssigned
                  AmountTypeId: -3
                  AmountTypeName: Cash Balances
                  AmountUSD: 62.1580535951648
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-03-25'
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 0
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentUic: 0
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1487
                  AmountAccountCurrency: 10174.78597575
                  AmountClass: NotAssigned
                  AmountClientCurrency: 10174.78597575
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 1487
                  AssetType: CfdOnStock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-03-25'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: CfdOnStock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1249.08
                  AmountAccountCurrency: 8461.77723237
                  AmountClass: NotAssigned
                  AmountClientCurrency: 8461.77723237
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 1249.08
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-03-25'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: -44.5
                  AmountAccountCurrency: -301.66
                  AmountClass: NotAssigned
                  AmountClientCurrency: -301.66
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: -44.4996843387591
                  AssetType: CfdOnStock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-03-25'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: CfdOnStock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: -37.3800000000001
                  AmountAccountCurrency: -283.890000000001
                  AmountClass: NotAssigned
                  AmountClientCurrency: -283.890000000001
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: -37.3791983552619
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-03-25'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 7.5
                  AmountAccountCurrency: 53.51
                  AmountClass: NotAssigned
                  AmountClientCurrency: 53.51
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: 7.49907548094534
                  AssetType: CfdOnStock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-04-16'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: CfdOnStock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 6.29999999999996
                  AmountAccountCurrency: -26.25
                  AmountClass: NotAssigned
                  AmountClientCurrency: -26.25
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: 6.30080975284068
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-04-16'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: -20.5
                  AmountAccountCurrency: -142.2
                  AmountClass: NotAssigned
                  AmountClientCurrency: -142.2
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: -20.500695610804
                  AssetType: CfdOnStock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-04-16'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: CfdOnStock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1317.54
                  AmountAccountCurrency: 9138.92
                  AmountClass: NotAssigned
                  AmountClientCurrency: 9138.92
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: 1317.54020486279
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-04-16'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 396.57
                  AmountAccountCurrency: 396.57
                  AmountClass: NotAssigned
                  AmountClientCurrency: 396.57
                  AmountSubClass: NotAssigned
                  AmountTypeId: -3
                  AmountTypeName: Cash Balances
                  AmountUSD: 57.4414461391387
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-04-17'
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 0
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentUic: 0
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1557.5
                  AmountAccountCurrency: 10806.58837125
                  AmountClass: NotAssigned
                  AmountClientCurrency: 10806.58837125
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 1557.5
                  AssetType: CfdOnStock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-04-17'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: CfdOnStock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 78.3300000000002
                  AmountAccountCurrency: 561.880000000001
                  AmountClass: NotAssigned
                  AmountClientCurrency: 561.880000000001
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: 78.329031862161
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-05-11'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: -75.75
                  AmountAccountCurrency: -506.81
                  AmountClass: NotAssigned
                  AmountClientCurrency: -506.81
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: -75.7495590828924
                  AssetType: CfdOnStock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-05-11'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: CfdOnStock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1271.13
                  AmountAccountCurrency: 8504.62
                  AmountClass: NotAssigned
                  AmountClientCurrency: 8504.62
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: 1271.12964457597
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-05-11'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 368.71
                  AmountAccountCurrency: 368.71
                  AmountClass: NotAssigned
                  AmountClientCurrency: 368.71
                  AmountSubClass: NotAssigned
                  AmountTypeId: -3
                  AmountTypeName: Cash Balances
                  AmountUSD: 55.403872305577
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-05-12'
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 0
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentUic: 0
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1511.5
                  AmountAccountCurrency: 10109.251709625
                  AmountClass: NotAssigned
                  AmountClientCurrency: 10109.251709625
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 1511.5
                  AssetType: CfdOnStock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-05-12'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: CfdOnStock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1269.66
                  AmountAccountCurrency: 8407.276197915
                  AmountClass: NotAssigned
                  AmountClientCurrency: 8407.276197915
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 1269.66
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-05-12'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: -33
                  AmountAccountCurrency: -222.99
                  AmountClass: NotAssigned
                  AmountClientCurrency: -222.99
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: -32.9995265411465
                  AssetType: CfdOnStock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-07-06'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: CfdOnStock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: -27.72
                  AmountAccountCurrency: -140
                  AmountClass: NotAssigned
                  AmountClientCurrency: -140
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: -27.7204361750864
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-07-06'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: -40
                  AmountAccountCurrency: -269.99
                  AmountClass: NotAssigned
                  AmountClientCurrency: -269.99
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: -39.9994073942384
                  AssetType: CfdOnStock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-07-06'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: CfdOnStock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1301.16
                  AmountAccountCurrency: 8782.63
                  AmountClass: NotAssigned
                  AmountClientCurrency: 8782.63
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: 1301.15928502115
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-07-06'
                  InstrumentDescription: Ubiquiti Networks Inc.
                  InstrumentSectorName: Telecommunications Equipment
                  InstrumentSectorTypeId: 684
                  InstrumentSubType: None
                  InstrumentSymbol: UBNT=xnas
                  RootInstrumentSectorName: Technology
                  RootInstrumentSectorTypeId: 510
                  Uic: 85485
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: UBNT=xnas
                  UnderlyingInstrumentUic: 85485
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 50
                  AmountAccountCurrency: 335.1881375
                  AmountClass: NotAssigned
                  AmountClientCurrency: 335.1881375
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 50
                  AssetType: StockIndexOption
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-08-17'
                  InstrumentDescription: Volatility Index (VIX) Aug2015 15 C
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  InstrumentSymbol: VIX/Q15C15=xcbf
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 1561206
                  UnderlyingInstrumentAssetType: StockIndex
                  UnderlyingInstrumentDescription: CBOE Volatility Index
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: VIX.I
                  UnderlyingInstrumentUic: 10606
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 6904.98
                  AmountAccountCurrency: 6904.98
                  AmountClass: NotAssigned
                  AmountClientCurrency: 6904.98
                  AmountSubClass: NotAssigned
                  AmountTypeId: -3
                  AmountTypeName: Cash Balances
                  AmountUSD: 1019.6442678992
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-08-18'
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 0
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentUic: 0
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: -63.6
                  AmountAccountCurrency: -474.71
                  AmountClass: NotAssigned
                  AmountClientCurrency: -474.71
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: -70.0994543669106
                  AssetType: CfdOnStock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-08-18'
                  InstrumentDescription: National Bank of Greece SA
                  InstrumentSectorName: Banks
                  InstrumentSectorTypeId: 656
                  InstrumentSubType: None
                  InstrumentSymbol: ETE=xath
                  RootInstrumentSectorName: Financials
                  RootInstrumentSectorTypeId: 509
                  Uic: 20690
                  UnderlyingInstrumentAssetType: CfdOnStock
                  UnderlyingInstrumentDescription: National Bank of Greece SA
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: ETE=xath
                  UnderlyingInstrumentUic: 20690
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 53.4
                  AmountAccountCurrency: 400.570488
                  AmountClass: NotAssigned
                  AmountClientCurrency: 400.570488
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 58.8571386380585
                  AssetType: CfdOnStock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-08-18'
                  InstrumentDescription: National Bank of Greece SA
                  InstrumentSectorName: Banks
                  InstrumentSectorTypeId: 656
                  InstrumentSubType: None
                  InstrumentSymbol: ETE=xath
                  RootInstrumentSectorName: Financials
                  RootInstrumentSectorTypeId: 509
                  Uic: 20690
                  UnderlyingInstrumentAssetType: CfdOnStock
                  UnderlyingInstrumentDescription: National Bank of Greece SA
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: ETE=xath
                  UnderlyingInstrumentUic: 20690
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: -4.1
                  AmountAccountCurrency: -30.63
                  AmountClass: NotAssigned
                  AmountClientCurrency: -30.63
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: -4.18727691104819
                  AssetType: CfdOnStock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-08-18'
                  InstrumentDescription: National Bank of Greece SA
                  InstrumentSectorName: Banks
                  InstrumentSectorTypeId: 656
                  InstrumentSubType: None
                  InstrumentSymbol: ETE=xath
                  RootInstrumentSectorName: Financials
                  RootInstrumentSectorTypeId: 509
                  Uic: 20690
                  UnderlyingInstrumentAssetType: CfdOnStock
                  UnderlyingInstrumentDescription: National Bank of Greece SA
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: ETE=xath
                  UnderlyingInstrumentUic: 20690
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 0
                  AmountAccountCurrency: 1.73000000000002
                  AmountClass: NotAssigned
                  AmountClientCurrency: 1.73000000000002
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: 0.000740230152210586
                  AssetType: StockIndexOption
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-08-18'
                  InstrumentDescription: Volatility Index (VIX) Aug2015 15 C
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  InstrumentSymbol: VIX/Q15C15=xcbf
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 1561206
                  UnderlyingInstrumentAssetType: StockIndex
                  UnderlyingInstrumentDescription: CBOE Volatility Index
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: VIX.I
                  UnderlyingInstrumentUic: 10606
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 50
                  AmountAccountCurrency: 336.9045125
                  AmountClass: NotAssigned
                  AmountClientCurrency: 336.9045125
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 50
                  AssetType: StockIndexOption
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-08-18'
                  InstrumentDescription: Volatility Index (VIX) Aug2015 15 C
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 0
                  InstrumentSubType: None
                  InstrumentSymbol: VIX/Q15C15=xcbf
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 0
                  Uic: 1561206
                  UnderlyingInstrumentAssetType: StockIndex
                  UnderlyingInstrumentDescription: CBOE Volatility Index
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: VIX.I
                  UnderlyingInstrumentUic: 10606
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1040.4
                  AmountAccountCurrency: 1040.4
                  AmountClass: NotAssigned
                  AmountClientCurrency: 1040.4
                  AmountSubClass: NotAssigned
                  AmountTypeId: -4
                  AmountTypeName: Position Values
                  AmountUSD: 156.794188789005
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-09-28'
                  InstrumentDescription: Wealth Invest Sirius Balance
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 400
                  InstrumentSubType: None
                  InstrumentSymbol: WEISIB=xcse
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 400
                  Uic: 343053
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Wealth Invest Sirius Balance
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: WEISIB=xcse
                  UnderlyingInstrumentUic: 343053
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1040.4
                  AmountAccountCurrency: 1040.4
                  AmountClass: NotAssigned
                  AmountClientCurrency: 1040.4
                  AmountSubClass: NotAssigned
                  AmountTypeId: -6
                  AmountTypeName: Exposure
                  AmountUSD: 156.794188789004
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-09-28'
                  InstrumentDescription: Wealth Invest Sirius Balance
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 400
                  InstrumentSubType: None
                  InstrumentSymbol: WEISIB=xcse
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 400
                  Uic: 343053
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Wealth Invest Sirius Balance
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: WEISIB=xcse
                  UnderlyingInstrumentUic: 343053
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: 1.44000000000005
                  AmountAccountCurrency: 1.44000000000005
                  AmountClass: NotAssigned
                  AmountClientCurrency: 1.44000000000005
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: 0.90069260396578
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-09-28'
                  InstrumentDescription: Wealth Invest Sirius Balance
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 400
                  InstrumentSubType: None
                  InstrumentSymbol: WEISIB=xcse
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 400
                  Uic: 343053
                  UnderlyingInstrumentAssetType: Stock
                  UnderlyingInstrumentDescription: Wealth Invest Sirius Balance
                  UnderlyingInstrumentSubType: None
                  UnderlyingInstrumentSymbol: WEISIB=xcse
                  UnderlyingInstrumentUic: 343053
                - AccountCurrency: DKK
                  AffectsBalance: false
                  Amount: -36.5999999999999
                  AmountAccountCurrency: -36.5999999999999
                  AmountClass: NotAssigned
                  AmountClientCurrency: -36.5999999999999
                  AmountSubClass: NotAssigned
                  AmountTypeId: -5
                  AmountTypeName: PnL
                  AmountUSD: -4.78566754791757
                  AssetType: Stock
                  BookingAccountId: 179643INET
                  ClientCurrency: DKK
                  Date: '2015-09-28'
                  InstrumentDescription: Wealth Invest - Saxo Global Equities
                  InstrumentSectorName: <Unknown>
                  InstrumentSectorTypeId: 400
                  InstrumentSubType: None
                  InstrumentSymbol: WEISGE=xcse
                  RootInstrumentSectorName: <Unknown>
                  RootInstrumentSectorTypeId: 400
                  Uic: 1307373
[...]
